.accordion {
  &--filter {
    background-color: transparent;
    .accordion-button {
      background-color: transparent;
      font-size: var(--title-3);
      padding-left: 0;
      font-weight: 400;
      color: var(--cf-1-0);
      border-bottom: 1px solid var(--bdc-0-3);
      &:after {
        width: 0.9em;
        height: 0.9em;
        background-size: contain;
      }
      &:focus {
        box-shadow: none;
      }
    }
    .accordion-button:not(.collapsed) {
      box-shadow: none;
      font-weight: 600;
      color: var(--cf-1-0);
      &:after {
        filter: grayscale(1);
      }
    }
    .accordion-item {
      background-color: transparent;
      border: none;
    }
    .accordion-body {
      padding-left: 0;
      padding-right: 0;
    }
    .accordion__payments {
      margin-bottom: 1em;
    }
    .form-check--checkbox {
      margin-bottom: .5em;
    }
    .accordion__link {
      margin-top: .5em;
      display: inline-block;
    }
  }
  &--secondary {
    max-width: 735 / $fontSizeRelative + em;
    margin-left: auto;
    margin-right: auto;
    .accordion-item {
      border-color: transparent;
      background-color: transparent;
      margin-bottom: 25 / $fontSizeRelative + em;
    }
    .accordion-button {
      padding: 15 / $fontSizeRelative + em 20 / $fontSizeRelative + em;
      border-radius: var(--bdrs-0) !important;
      background-color: var(--bgc-1-0);
      border: 1px solid var(--bdc-4-0);
      @include media(m, $md) {
        padding: 30 / $fontSizeRelative + em;
      }
      &:after {
        display: none;
      }
      &:focus {
        box-shadow: none;
        border-color: var(--bdc-4-0);
      }
    }
    .accordion-button:not(.collapsed) {
      color: var(--cf-1-0);
    }
    .accordion__button-row {
      @extend .row;
      @extend .gy-3;
      @extend .flex-column;
      @extend .flex-md-row;
      align-items: center;
    }
    .accordion__button-col {
      @extend .col;
      &--main {
      }
      &--aside {
        flex: 0 0 auto;
        max-width: 145 / $fontSizeRelative + em;
      }
    }
    .accordion__button-row-secondary {
      @extend .row;
      @extend .flex-nowrap;
      @extend .gx-3;
      @extend .gy-2;
      @extend .flex-column;
      @extend .flex-md-row;
      // align-items: center;
      text-align: center;
      @include media(m, $md) {
        text-align: left;
      }
    }
    .accordion__button-col-secondary {
      &--aside {
        @include media(m, $md) {
          max-width: 60 / $fontSizeRelative + em;
        }
      }
      &--main {
        flex-grow: 1;
        flex-shrink: 1;
      }
    }
    .accordion__button-row-wrap {
      width: 100%;
    }
    .accordion__button-img-wrap {
      width: 38 / $fontSizeRelative + em;
      height: 38 / $fontSizeRelative + em;
      @extend .img-wrap;
    }
    .accordion__price {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 1em 0.5em;
      
      width: 115 / $fontSizeRelative + em;
      height: 90 / $fontSizeRelative + em;
      background-color: var(--bgc-2-6);
      border-radius: 50%;
      
      color: var(--cf-3-0);
    }
    .accordion__price-value {
      font-size: var(--h-3);
    }
    .accordion__price-currency {
      font-size: var(--h-6);
    }
    .accordion__button-content {
      display: block;
      max-width: 600 / $fontSizeRelative + em;
      margin-left: auto;
      margin-right: auto;
      @include media(m, $md) {
        max-width: none;
      }
    }
    .accordion__button-title {
      display: block;
      font-size: var(--h-5);
      font-weight: 600;
      margin-bottom: 0.5em;
    }
    .accordion__button-text {
      display: block;
      font-size: var(--h-6);
    }
    .accordion-body {
      margin-top: -5 / $fontSizeRelative + em;
      max-width: 98%;
      padding: 20 / $fontSizeRelative + em;
      margin-left: auto;
      margin-right: auto;
      background-color: var(--bgc-0-0);
      border-radius: var(--bdrs-0);
      @include media(m, $md) {
        max-width: 90%;
        padding-top: 35 / $fontSizeRelative + em;
        padding-left: 45 / $fontSizeRelative + em;
        padding-right: 45 / $fontSizeRelative + em;
      }
    }
  }
  &--third {
    max-width: 720 / $fontSizeRelative + em;
    margin: 0 auto;
    .accordion-item {
      // background-color: transparent;
      border: none;
      border-bottom: 1px solid var(--bdc-0-3);
    }
    .accordion-button {
      background-color: transparent;
      color: var(--cf-1-0);
      &:after {
        content: '«';
        background-image: none;
        transform: rotate(-90deg);
        width: 25 / $fontSizeRelative + em;
        height: 25 / $fontSizeRelative + em;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        background: linear-gradient(180deg, #FFFFFF 0%, #F7F7F7 52.6%, #FFFFFF 100%);
        border-radius: 2px;
      }
      &:focus {
        box-shadow: none;
      }
      &:not(.collapsed) {
        color: var(--cf-3-0);
      }
    }
    .accordion__button-label {
      font-size: var(--text-3);
    }
    .accordion-body {
      background-color: var(--bgc-0-0);
      padding: 15 / 12 + em 30 / 12 + em;
      font-size: var(--text-5);
    }
  }
}