.badge {
  &--box-base {
    display: inline-flex;
    vertical-align: baseline;
    align-items: center;
    justify-content: center;
    padding: .25em .35em;
    border-radius: var(--bdrs-0);
  }
  &--text-base {
    font-size: var(--text-5);
    font-weight: 400;
    text-align: center;
    line-height: 1;
  }
  &--popup {
    position: relative;
    display: inline-flex;
    .badge__popup {
      position: absolute;
      bottom: 100%;
      left: 50%;
      transform: translate(-50%, 0);

      padding-bottom: 1.2em;

      opacity: 0;
      visibility: hidden;
    }
    .badge__popup-in {
      position: relative;
      display: block;
      width: 21.25em;
      padding: 0.6em 1.5em;
      
      color: var(--cf-1-0);
      text-transform: none;
      white-space: normal;
      text-align: left;

      background-color: var(--bgc-1-0);
      border-radius: var(--bdrs-0);

      @extend .box-shadow--4;
      &:after {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, 0);

        border-top: 1em solid var(--bdc-1-1);
        border-left: .5em solid transparent;
        border-right: .5em solid transparent;
      }
    }
    .badge__popup-content {
      margin-bottom: 1em;
      display: block;
    }
    .badge__popup-foot {
      display: block;
    }
    &:hover {
      .badge__popup {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  &--base {
    @extend .badge--box-base;
    @extend .badge--text-base;
    min-height: 1.91em;
    border: 1px solid var(--bdc-0-5);
    
    color: var(--cf-2-1);
  }
  &--base-second {
    @extend .badge--box-base;
    @extend .badge--text-base;
    font-size: var(--text-5);
    color: var(--cf-3-1);
    min-height: 1.91em;
    background-color: var(--bgc-2-2);
  }
  &--base-third {
    @extend .badge--box-base;
    @extend .badge--text-base;
    @extend .badge--popup;
    padding-left: 1.2em;
    padding-right: 1.2em;
    min-height: 1.5em;

    text-transform: uppercase;
    background-color: var(--bgc-5-0);
  }
  &--secondary {
    @extend .badge--box-base;
    @extend .badge--popup;
    @extend .badge--text-base;
    padding: 0;
    .badge__label {
      width: 1.834em;
      height: 1.834em;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      img {
        max-height: 100%;
      }
    }
  }
  &--third {
    display: inline-block;
    padding: 0;
    font-size: var(--text-5);
    width: 1em;
    height: 1em;
  }
  &--fourth {
    @extend .badge--box-base;
    font-size: var(--text-6);
    min-height: 2em;
    background-color: var(--bgc-3-3);
  }
}