.breadcrumb {
  &--base {
    margin-bottom: 1.3em;
    .breadcrumb-item {
      & + .breadcrumb-item {
        &:before {
          color: var(--cf-4-0);

        }
      }
      &.active {
        color: var(--cf-4-0);
      }
    }
    a {
      color: var(--cf-4-0);
    }
  }
  &--secondary {
    margin-bottom: 1.3em;
    .breadcrumb-item {
      & + .breadcrumb-item {
        &:before {
          color: var(--cf-3-0);

        }
      }
      &.active {
        color: var(--cf-1-0);
      }
    }
    a {
      color: var(--cf-3-0);
    }
  }
}