.button-close {
  &--base {
    @extend .button-clear;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--bdrs-1);

    width: 2.2em;
    height: 2.2em;
    color: var(--cf-4-0);
    font-size: var(--text-6);

    background-color: var(--bgc-0-2);
    cursor: pointer;
    .svg-icon {
      position: relative;
    }
  }
  &--secondary {
    @extend .button-clear;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30 / 14 + em;
    height: 30 / 14 + em;
    border-radius: 50%;

    color: var(--cf-2-1);
    font-size: var(--text-4);
    
    background-color: var(--bgc-0-4);
    &-second {
      @extend .button-close--secondary;
      border: 1px solid var(--bdc-0-5);
      background-color: var(--bgc-0-4);
    }
  }
}