.button {
  @extend .button-clear;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.4em 1em;


  &--base {
    padding-left: 2em;
    padding-right: 2em;
    font-size: var(--text-3);
    min-height: 2.66em;
    border-radius: var(--bdrs-0);
    background-color: var(--bgc-2-3);
    color: var(--cf-4-0);
    font-weight: 600;
    @extend .box-shadow--1;
    @extend .transition-base;
    &:hover {
      color: var(--cf-4-0);
      text-decoration: none;
      transform: scale(.95);
    }
  }
  &--base-second {
    @extend .button--base;
    background-color: var(--bgc-3-3);
  }
  &--base-third {
    @extend .button--base;
    background-color: var(--bgc-5-0);
  }
  &--base-fourth {
    @extend .button--base;
    background-color: var(--bgc-0-3);
    color: var(--cf-2-0);
    box-shadow: none;
    &:hover {
      color: var(--cf-2-0);
    }
  }
  &--base-fifth {
    @extend .button--base;
    background-color: var(--bgc-0-3);
    border: 1px solid var(--bdc-0-0);
    color: var(--cf-2-1);
    box-shadow: none;
    &:hover {
      color: var(--cf-2-1);
    }
  }
  &--base-sixth {
    @extend .button--base;
    min-height: 2em;
    padding-left: 1em;
    padding-right: 1em;
    &:hover {
      
    }
  }
  &--base-seventh {
    @extend .button--base;
    padding-left: 1em;
    padding-right: 1em;
    min-height: 2em;
    font-weight: 400;
    border-radius: var(--bdrs-0);
    background-color: var(--bgc-3-1);
    color: var(--cf-5-0);
    &:hover {
      color: var(--cf-5-0);
    }
    &-second {
      @extend .button--base-seventh;
      @include media(d, $sm) {
        background-color: transparent;
        padding: 0.5em;
        box-shadow: none;
        color: var(--cf-5-1);
      }
      .button__label {
        display: none;
        @include media(m, $sm) {
          display: block;
        }
      }
      .svg-icon {
        font-size: var(--h-2);
        @include media(m, $sm) {
          display: none;
        }
      }
    }
  }


  &--secondary {
    min-height: 2.4em;
    border: 1px solid var(--bdc-1-1);
    border-radius: var(--bdrs-0);
    color: var(--cf-4-0);
    font-size: var(--text-3);
    font-weight: 600;
    @extend .transition-base;
    &:hover {
      color: var(--cf-4-0);
      text-decoration: none;
      transform: scale(.95);
    }
  }
  &--secondary-second {
    @extend .button--secondary;
    @include media(d, $sm) {
      font-size: var(--text-5);
      flex-direction: column;
      border: none;
      padding: .5em 0 .7em;
      min-height: 4.7em;
      justify-content: flex-end;
    }
    .button__icon {
      margin-bottom: 0.4em;
      font-size: var(--h-3);
      @include media(m, $sm) {
        display: none;
      }
    }
  }
  &--secondary-third {
    @extend .button--secondary;
    min-height: 2.67em;
    color: var(--cf-3-0);
    border: 1px solid var(--bdc-2-1);
    &:hover {
      color: var(--cf-3-0);
    }
  }
  
  &--secondary-fourth {
    @extend .button--secondary-third;
    min-height: 2.67em;
    color: var(--cf-3-1);
    border: 1px solid var(--bdc-2-2);
    &:hover {
      color: var(--cf-3-1);
    }
  }


  &--third {
    padding: 0.5em 1.75em 0.4em;
    // padding-left: 1.75em;
    // padding-right: 1.75em;
    font-size: var(--text-5);
    min-height: 3.417em;
    color: var(--cf-3-1);
    border-radius: var(--bdrs-0);
    @extend .transition-base;
    @extend .background-gradient--6;
    &:hover {
      color: var(--cf-3-1);
      transform: scale(.95);
      text-decoration: none;
    }
  }
  &--third-second {
    @extend .button--third;
    border: 1px solid var(--bdc-2-1);
  }
  &--third-three {
    @extend .button--third;
    border: 1px solid var(--bdc-3-0);
  }
  &--third-fourth {
    @extend .button--third;
    border: 1px solid var(--bdc-0-5);
    color: var(--cf-2-1);
    .svg-icon {
      color: var(--cf-2-1);
      font-size: var(--h-3);
      margin-right: 0.65em;
    }
    &:hover {
      color: var(--cf-2-1);
    }
  }
  &--third-fifth {
    @extend .button--third;
    font-size: var(--text-3);
    
  }


  &--toggle-nav {
    width: 2em;
    height: 2em;
    padding: 0;
    border-radius: 50%;
    background-color: var(--bgc-2-3);
    color: var(--cf-4-0);
    font-size: var(--h-1);
    @extend .box-shadow--1;   
  }

  &--bookmark {
    padding: 0;
    color: var(--cf-5-0);
    font-size: var(--text-3);
    .button__icon-wrap {
      margin-right: .3em;
      width: 1em;
      height: 1em;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .button__icon {
      max-height: 100%;
      &--disabled {

      }
      &--enabled {
        display: none;
      }
    }
    .button__label {
      display: none;
      @include media(m, $sm) {
        display: block;
      }
    }
    &:hover {
      color: var(--cf-5-0);
      text-decoration: underline;
    }
    &.active {
      .button__icon {
        // display: none;
        &--disabled {
          display: none;
        }
        &--enabled {
          display: block;
        }
      }
    }
  }
}