.carousel {
  &--base {
    .swiper-slide {
      @include media(m, $sm) {
        max-width: 420 / $fontSizeRelative + em;
      }
    }
    .card--base-link {
      &:hover {
        border-color: transparent;
        border-bottom-color: var(--bdc-2-1);
      }
    }
    .carousel__nav {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: center;
      padding: 0.5em 0;
      margin-top: 1em;
    }
    .carousel__nav-col {
      padding-left: 0.5em;
      padding-right: 0.5em;
    }
    .button--third {
      position: static;
      padding: 0.5em .8em;
      min-height: 23 / 12 + em;
      height: auto;
      width: auto;
      &:after {
        display: none;
      }
    }
    .card--base {
      box-shadow: none;
      border-bottom: 1px solid var(--bdc-0-3);
    }
    @include media(d, $sm) {
      .card--base {
        text-align: center;
      }
      .card__list {
        justify-content: center;
      }
      .card__img {
        margin-left: auto;
        margin-right: auto;
      }
      .card__title {
        padding-right: 0 !important;
      }
    }
  }
}