.card {
  &--style {
    display: block;
    border-radius: var(--bdrs-0);
    background-color: var(--bgc-1-0);
    @extend .box-shadow--4;
    border: none;
  }
  &--img-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
      max-height: 100%
    }
  }
  &--list {
    .card__list {
      display: flex;
      flex-wrap: wrap;
      color: var(--cf-2-0);
      margin-top: -0.3em;
      margin-bottom: 0.5em;
      max-width: 600 / $fontSizeRelative + em;
    }
    .card__list-item {
      position: relative;
      padding-right: 0.3em;
      // padding-left: 1em;
      // padding-right: .6em;
      margin-top: 0.3em;
      &:before {
        content: '·';
        display: inline-block;
        vertical-align: baseline;
        margin-right: .1em;
      }
      &:first-child {
        padding-left: 0;
        &:before {
          display: none;
        }
      }
    }
  }
  &--base {
    @extend .card--style;
    @extend .card--list;
    margin-bottom: 1em;
    &:hover {
      text-decoration: none;
    }
    .card__in {
      display: flex;
      flex-direction: column;
      padding: 1em;
      @include media(m, $sm) {
        padding: 23 / $fontSizeRelative + em 2em .5em 1.5em;
        flex-direction: row;
        flex-wrap: nowrap;
      }
    }
    .card__in-secondary {
      display: flex;
      flex-direction: column;
      padding: 1em;
      @include media(m, $sm) {
        padding: 20 / $fontSizeRelative + em;
        flex-direction: row;
        flex-wrap: nowrap;
      }
    }
    .card__in-third {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      padding: 10 / $fontSizeRelative + em 0;
    }
    .card__aside {
      margin-bottom: 1em;
      @include media(m, $sm) {
        margin-bottom: 0;
        margin-right: 30 / $fontSizeRelative + em;
        flex-shrink: 0;
      }
      &--secondary {
        @include media(m, $sm) {
          margin-right: 10 / $fontSizeRelative + em;
        }
      }
    }
    .card__main {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }
    .card__head {
      display: flex;
      flex-direction: column;
      margin-bottom: 1em;
      @include media(m, $sm) {
        flex-direction: row;
        flex-wrap: nowrap;
      }
    }
    .card__head-aside {
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 1em;
      margin-top: 1em;
      // position: absolute;
      // top: 1.5em;
      // right: 1.5em;
      @include media(m, $sm) {
        // position: static;
        align-items: flex-end;
        margin-bottom: 0;
        margin-top: 0;
        // min-width: 150 / $fontSizeRelative + em;
      }
      @include media(m, $md) {
      }
    }
    .card__head-content-position {
      @include media(d, $sm) {
        position: absolute;
        top: 1em;
        right: 1em;
      }
    }
    .card__title {
      padding-right: 2em;
      color: var(--cf-1-0);
      @include media(m, $sm) {
        padding-right: 0;
      }
      a {
        display: inline;
        border-bottom: 1px dashed var(--bdc-2-1);
      }
    }
    .card__head-main {
      flex-grow: 1;
    }
    .card__name {
      color: var(--cf-3-0);
      font-size: var(--h-3);
      font-weight: 500;
    }
    .card__company-link {
      color: var(--cf-2-1);
      text-decoration: underline;
      font-size: var(--h-3);
    }
    .card__badge {
      position: relative;
      display: inline-block;
      vertical-align: baseline;
      // margin-left: 0.5em;
      // position: relative;
      // top: -0.1em;
      // margin: 0.2em;
      & + * {
        display: inline-block;
        vertical-align: middle;
      }
      &--secondary {
        // margin-left: 0;
        // margin-right: 0.5em;
        // top: -0.15em;
      }
    }
    .card__icon-text {
      display: inline-flex;
      flex-wrap: wrap;
      align-items: center;
      color: var(--cf-2-0);
      .svg-icon {
        color: var(--cf-2-1);
        margin-right: 0.3em;
      }
    }
    // .card__list {
    //   display: flex;
    //   flex-wrap: wrap;
    //   color: var(--cf-2-0);
    //   margin-top: -0.3em;
    //   margin-bottom: 0.5em;
    //   max-width: 600 / $fontSizeRelative + em;
    // }
    // .card__list-item {
    //   position: relative;
    //   padding-left: 1em;
    //   padding-right: .6em;
    //   margin-top: 0.3em;
    //   &:before {
    //     content: '·';
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //   }
    //   &:first-child {
    //     padding-left: 0;
    //     &:before {
    //       display: none;
    //     }
    //   }
    // }
    .card__list-secondary {
      margin-top: -0.5em;
      margin-bottom: 0.5em;

      color: var(--cf-1-0);
      .card__list {
        color: var(--cf-1-0);
        margin-bottom: .1em;
        // margin-top: 0;
      }
      .card__list-item {
        padding-left: 0.5em;
        padding-right: 0.3em;
        // margin-top: 0;
      }
    }
    .card__list-secondary-item {
      position: relative;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      &:before {
        content: '•';
        // margin-bottom: 0.55em;
        align-self: baseline;
      }
    }
    .card__list-third {

    }
    .card__list-third-item {
      position: relative;
      &:before {
        content: '';
      }
    }
    .card__list-item-title {
      color: var(--cf-1-0);
      margin: 0;
    }
    .card__price {
      font-size: var(--h-3);
      color: var(--cf-3-0);
      font-weight: 500;
      & + .card__list {
        padding-top: 0.3em;
        margin-bottom: 0;
      }
    }
    .card__img {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      img {
        max-height: 100%;
      }
      &--company {
        width: 80 / $fontSizeRelative + em;
        height: 80 / $fontSizeRelative + em;
      }
      &--avatar {
        width: 196 / $fontSizeRelative + em;
        height: 196 / $fontSizeRelative + em;
      }
      &--logo {
        margin-top: 5 / $fontSizeRelative + em;
        width: 196 / $fontSizeRelative + em;
        height: 117 / $fontSizeRelative + em;
      }
      &--logo-secondary {
        margin-top: 5 / $fontSizeRelative + em;
        width: 116 / $fontSizeRelative + em;
        height: 70 / $fontSizeRelative + em;
      }
      &--avatar-secondary {
        width: 115 / $fontSizeRelative + em;
        height: 105 / $fontSizeRelative + em;
      }
    }
    .card__body {
      display: block;
      padding-bottom: 1em;
    }
    .card__foot {
      margin-top: auto;
      display: block;
      border-top: 1px solid var(--bdc-0-3);
      padding-top: 11 / $fontSizeRelative + em;
      padding-bottom: 0.4em;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      &--secondary {
        border-top-color: transparent;
      }
    }
    .card__date {
      color: var(--cf-2-1);
      font-size: var(--text-3);
      margin-top: auto;
    }
    .card__link {
      font-size: var(--text-3);
      &--base {
        color: var(--cf-3-1);
      }
      &--base-secondary {
        @extend .card__link--base;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
    .card__company-about {
      @include media(m, $sm) {
        text-align: center;
      }
      margin-top: 11 / $fontSizeRelative + em;
    }
    .card__company {
      font-weight: 500;
      font-size: var(--h-3);
      margin-bottom: 5 / $fontSizeRelative + em;
    }
    .card__content {
      &--secondary {
        color: var(--cf-2-0);
        font-size: var(--text-3);
      }
    }
    .dropdown--secondary {
      // margin-left: 0.5em;
    }
  }
  &--base-link {
    @extend .card--base;
    border: 1px solid transparent;
    border-bottom-color: var(--bdc-0-3);
    border-radius: 0;
    margin: 0;
    box-shadow: none;
    &:hover {
      border-color: var(--bdc-0-5);
    }
    .card__title {
      margin-bottom: .3em;
      font-weight: 500;
    }
    .card__in-secondary {
      padding: 25 / $fontSizeRelative + em 15 / $fontSizeRelative + em;
    }
  }
  &--base-secondary {
    @extend .card--base;
    border: 1px solid transparent;
    .card__in {
      padding: 20 / $fontSizeRelative + em 20 / $fontSizeRelative + em 10 / $fontSizeRelative + em !important;
    }
    &:hover {
      border-color: var(--bdc-0-5);
    }
  }
  &--secondary {
    @extend .card--style;
    padding: 1.2em 1.53em;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    min-width: 250px;

    color: var(--cf-1-0);
    text-decoration: none;
    @extend .transition-base;
    .card__aside {
      margin-right: 1.58em;
    }
    .card__img-wrap {
      @extend .card--img-box;
      width: 61 / $fontSizeRelative + em;
      height: 61 / $fontSizeRelative + em;
    }
    .card__main {
      max-width: 150 / $fontSizeRelative + em;
    }
    &:hover {
      color: var(--cf-1-0);
      text-decoration: none;
      @extend .box-shadow--1;
    }
  }
  &--third {
    max-width: 82 / $fontSizeRelative + em;
    display: inline-flex;
    background-color: transparent;
    border: none;
    padding: 0;
    text-decoration: none;

    color: var(--cf-1-2);
    text-align: center;
    .card__img-wrap {
      @extend .card--img-box;
      width: 82 / $fontSizeRelative + em;
      height: 82 / $fontSizeRelative + em;
      margin-bottom: 6 / $fontSizeRelative + em;
    }
    .card__label {
      font-size: var(--text-4);
      font-weight: 500;
      color: var(--cf-1-2);
    }
    img {
      @extend .transition-base;
    }
    &:hover {
      img {
        transform: scale(.95);
      }
    }
  }
  &--fourth {
    @extend .card--style;
    @extend .card--list;
    padding: 23 / $fontSizeRelative + em 28 / $fontSizeRelative + em;
    .card__head {
      text-align: center;
    }
    .card__img {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20 / $fontSizeRelative + em;
      @extend .card--img-box;
      &--main {
        width: 150 / $fontSizeRelative + em;
        height: 200 / $fontSizeRelative + em;
      }
      &--company {
        height: 112 / $fontSizeRelative + em;
      }
    }
    .card__name-wrap {
      margin-bottom: .5em;
    }
    .card__name {
      font-size: var(--h-3);
      color: var(--cf-3-0);
      display: inline;
      border-bottom: 1px dashed var(--bdc-2-1);
    }
   .card__list {
     justify-content: center;
     max-width: none;
     &--secondary {
       margin-bottom: 0;
       .card__list-item {
        //  margin-top: 0;
       }
     }
   }
   .card__list-item {
   }
    .card__devider {
      border: none;
      border-bottom: 1px solid var(--bdc-0-3);
      margin: 1em 0;
    }
    .card__body {
      font-size: var(--text-3);
    }
    .icon-text--base {
      display: flex;
      margin-bottom: 1em;
    }
    .card__foot-buttons {
      text-align: center;
    }
    .button {
      margin: 0.3em;
    }
  }
  &--fifth {
    @extend .card--style;
    box-shadow: none;
    font-size: var(--text-3);
    text-decoration: none;
    color: var(--cf-2-0);
    & + .card--fifth {
      border-top: 1px solid var(--bdc-0-3);
      margin-top: 1em;
      padding-top: 1em;
    }
    .card__row {
      display: flex;
      flex-wrap: nowrap;
    }
    .card__aside {
      flex-shrink: 0;
      margin-right: 1.33em;
    }
    .card__date {
      font-size: var(--text-2);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 3.125em;
      height: 3.125em;
      border: 1px solid var(--bdc-2-2);
      border-radius: var(--bdrs-1);
      color: var(--cf-3-1);
    }
    .card__main {
      flex-grow: 1;
    }
    .card__content {
      color: var(--cf-2-0);
    }
    h4 {
      color: var(--cf-1-0);
      font-weight: 600;
    }
    &:hover {
      // text-decoration: underline;
      text-decoration: none;
      .card__date {
        text-decoration: none;
        color: var(--cf-4-0);
        background-color: var(--bgc-2-5);
      }
      h4 {
        color: var(--cf-1-0);
        // text-decoration: underline;
      }
      .card__content {
        color: var(--cf-2-0);
        text-decoration: underline;
      }
    }
  }
  &--sixth {
    padding-bottom: 30 / $fontSizeRelative + em;
    border: none;
    border-bottom: 1px solid var(--bdc-0-3);
    & + .card--sixth {
      margin-top: 30 / $fontSizeRelative + em;
    }
    .card__title {
      font-weight: 700;
    }
    .tag {
      font-weight: 400;
    }
    .card__row {
      @extend .row;
      @extend .flex-column;
      @extend .flex-sm-row;
      @extend .flex-nowrap;
      @extend .gy-3;
    }
    .card__column {
      @extend .col;
      &--main {
        @include media(m, $sm) {
          padding-right: 60 / $fontSizeRelative + em;
        }
      }
      &--aside {
        @include media(m, $sm) {
          max-width: 200 / $fontSizeRelative + em;
          flex-shrink: 1;
        }
      }
    }
    .card__date {
      margin-bottom: 1em;
    }
    .card__price {
      width: 165 / 25 + em;
      min-height: 60 / 25 + em;
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: var(--bdrs-3);
      background-color: var(--bgc-2-2);

      font-size: var(--h-2);
      font-weight: 500;
      color: var(--cf-3-0);
    }
    .card__column-aside-in {
      text-align: center;
    }
    .tag {
      margin-left: 0.5em;
    }
  }
  &--seventh {
    border-color: transparent;
    background-color: var(--bgc-0-0);
    border-radius: var(--bdrs-1);
    .card__in {
      padding: 2em;
    }
    .card__row {
      @extend .row;
      // align-items: center;
    }
    .card__column {
      display: flex;
      flex-direction: column;
      justify-content: center;
      &--main {
        @extend .col-md-7;
        @extend .col-lg-9;
        padding-bottom: 20 / $fontSizeRelative + em;
        @include media(m, $md) {
          padding-right: 50 / $fontSizeRelative + em;
        }
      }
      &--aside {
        @extend .col-md-5;
        @extend .col-lg-3;
        @include media(m, $md) {
          border-left: 1px solid var(--bdc-0-5);
          padding-left: 50 / $fontSizeRelative + em;
        }
        @include media(d, $md) {
          border-top: 1px solid var(--bdc-0-5);
          padding-top: 20 / $fontSizeRelative + em;
        }
      }
    }
    .card__payment-info {
      text-align: center;
      margin-bottom: 20 / $fontSizeRelative + em;
    }
    .card__payment-balance {
      color: var(--cf-3-0);
      font-size: var(--h-2);
      font-weight: 500;
    }
  }
  &--eigth {
    .card__in {
      padding: 2em;
    }
    .card__row {
      @extend .row;
      @extend .flex-lg-nowrap;
      @extend .gy-3;
      align-items: center;
    }
    .card__col {
      @extend .col-lg;
      &--main {
        flex-shrink: 1;
        flex-grow: 1;
        padding-right: 90 / $fontSizeRelative + em;
      }
      &--aside {
        max-width: 260 / $fontSizeRelative + em;
      }
    }
    .card__text {
      color: var(--cf-2-0);
    }
  }
  &--news {
    border: 1px solid var(--bdc-0-3);
    color: var(--cf-1-0);
    background-color: var(--bgc-0-1);
    &:hover {
      color: var(--cf-1-0);
    }
    &:hover {
      text-decoration: none;
    }
    .card__in {
      padding: 10 / $fontSizeRelative + em 10 / $fontSizeRelative + em 30 / $fontSizeRelative + em;
    }
    .card__img-wrap {
      @extend .img-wrap;
      width: 100%;
      height: 230 / $fontSizeRelative + em;
      margin-bottom: 20 / $fontSizeRelative + em;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    h3 {
      color: var(--cf-3-0);
    }
  }
  &--news-secondary {
    @extend .card--news;
    padding: 20 / $fontSizeRelative + em 0 15 / $fontSizeRelative + em;
    border: none;
    border-bottom: 1px solid var(--bdc-0-3);
    .card__row {
      @extend .row;
      @extend .flex-sm-nowrap;
      @extend .row-cols-auto;
      @extend .gy-3;
      @extend .gy-sm-2;
    }
    .card__col {
      @extend .col;
      &--aside {

      }
      &--main {
        flex-grow: 1;
        flex-shrink: 1;
      }
    }
    .card__in {
      padding: 0;
    }
    .card__img-wrap {
      width: 171 / $fontSizeRelative + em;
      height: 141 / $fontSizeRelative + em;
      margin: 0;
    }
  }
  &--comment {
    border: none;
    border-bottom: 1px solid var(--bdc-0-3);
    padding-bottom: 1em;
    .card__head {
      @extend .row;
      @extend .row-cols-auto;
      @extend .gy-3;
      margin-bottom: 10 / $fontSizeRelative + em;
      justify-content: space-between;
      align-items: center;
    }
    .card__head-col {
      @extend .col;
    }
    .card__name {
      font-weight: 500;
    }
    .card__date {
    }
    .card__body {
      margin-bottom: 5 / $fontSizeRelative + em;
    }
  }
  &--stats {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;
    padding: 0;
    
    .card__img-wrap {
      width: 50px;
      height: 50px;
      @extend .img-wrap;
      margin-bottom: .5em;
    }
    .card__value {
      font-size: var(--h-2);
      font-weight: 500;
      color: var(--cf-3-0);
    }
    .card__descr {
      font-size: var(--text-3);
      font-weight: 600;
    }
  }
  &--review {
    border: none;
    .card__img-wrap {
      margin-bottom: .5em;
    }
    .card__person-name {
      font-size: var(--h-5);
      font-weight: 600;
    }
    .card__person-position {
      font-size: var(--text-3);
      margin-bottom: 0.5em;
    }
    .card__content {
      font-style: italic;
    }
  }
  &--contact {
    border: 1px solid var(--bdc-0-3);
    @extend .box-shadow--4;
    background-color: var(--bgc-0-1);
    border-radius: var(--bdrs-0);
    .card__head {
      padding: 10 / $fontSizeRelative + em 25 / $fontSizeRelative + em;
      border-bottom: 1px solid var(--bdc-0-3);
    }
    .card__body {
      padding: 15 / $fontSizeRelative + em 25 / $fontSizeRelative + em 10 / $fontSizeRelative + em;
    }
  }
}