.dropdown {
  position: relative;
  &--menu-style {
    .dropdown-menu {
      background-color: var(--bgc-1-0);
      min-width: auto;
      border: none;
      border-radius: 0;
      inset: .5em auto auto 0 !important;
      @extend .box-shadow--0;
      &:before {
        content: '';

        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translate(-50%, 0);

        border-bottom: .4em solid var(--bdc-1-1);
        border-left: .3em solid transparent;
        border-right: .3em solid transparent;
      }
    }
    .dropdown-item {
      color: var(--cf-3-1);
      &:hover {
        text-decoration: none;
      }
    }
  }
  &--base {
    display: inline-flex;
    flex-direction: column;
    vertical-align: middle;
    @extend .dropdown--menu-style;  
  }
  &--secondary {
    display: inline-flex;
    flex-direction: column;
    vertical-align: middle;
    @extend .dropdown--menu-style;
    .dropdown__toggle {
      display: inline-flex;
      align-items: center;
      min-height: 1.583em;
      padding-left: .8em;
      padding-right: .8em;
      font-size: var(--text-5);
      background-color: var(--bgc-3-3);
      color: var(--cf-4-0);
      border-radius: var(--bdrs-1);
    }
    .dropdown__icon {
      margin-left: 1em;
      font-size: var(--text-6);
    }
    .dropdown-item {
      &:active {
        background-color: transparent;
      }
    }
    &.active {
      .dropdown__toggle {
        background-color: var(--bgc-5-0);
      }
    }
  }
  &--lang {
    @extend .dropdown--menu-style;
    .dropdown__toggle {
      
    }
    .dropdown-item {
      text-decoration: none !important;
      padding: 0.3em 1em;
      .link--lang-secondary {
        color: var(--cf-3-1);
      }
      .link--lang-third {
        color: var(--cf-1-0);
      }
    }
  }
}

.dropdown__toggle {
  @extend .button-clear;   
}