.editor {
  &--base {
    & + .ck-editor {
      overflow: hidden;
      margin: 1em 0;
      .ck-toolbar {
        border-color: var(--bdc-0-1);
        border-radius: var(--bdrs-2) var(--bdrs-2) 0 0 !important;
      }
      .ck-editor__editable {
        border-color: var(--bdc-0-1) !important;
        min-height: 300 / 15 + em ;
        border-radius: 0 0 var(--bdrs-2) var(--bdrs-2) !important;
      }
    }
  }
}