.icon-text {
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: baseline;
  &--base {
    .icon-text__label {
    }
    .icon-text__icon {
      position: relative;
      margin-right: 1em;
      flex-shrink: 0;
      top: -2px;
    }
    img {
      display: inline-block;
      width: 15 / $fontSizeRelative + em;
      height: 15 / $fontSizeRelative + em;
      // margin-right: 1em;
    }
    .svg-icon {
      color: var(--cf-2-1);
    }
    .list--eigth {
      margin-bottom: 0;
    }
  }
  &--secondary {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    // align-items: baseline;

    font-size: var(--text-5);
    color: var(--cf-2-1);
    .icon-text__icon {
      position: relative;
      margin-right: 0.5em;
      top: -1px;
    }
    .svg-icon {
      // vertical-align: baseline;
    }
  }
}