.link {
  &--base {

  }
  &--base-second {
    display: inline-flex;
    align-items: center;
    &:before {
      content: '—';
      color: var(--cf-2-1);
      margin-right: 0.5em;
    }
    .badge {
      // margin-left: 1em;
      margin-left: 0.5em;
      margin-top: 0.1em;
      margin-bottom: 0.1em;
      flex-shrink: 0;
      @include media(m, $md) {
      }
    }
    &:hover {
      text-decoration: none;
      .link__label {
        text-decoration: underline;
      }
    }
  }
  &--base-third {
    display: inline-flex;
    align-items: center;
    color: var(--cf-3-0);
    .link__label {
      white-space: nowrap;
      
    }
    .link__icon {
      font-size: var(--text-6);
      margin-left: 1.5em;
    }
    &:hover {
      text-decoration: none;
    }
  }
  &--base-fourth {
    display: inline-flex;
    align-items: center;
    color: var(--cf-3-1);
    font-size: var(--text-3);
    .button-close--secondary {
      width: 1.667em;
      height: 1.667em;
      background-color: var(--bgc-0-0);
      font-size: var(--text-5);
      margin-left: 0.66em;
    }
  }
  &--secondary-second {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: .5em 0;
    min-height: 4.7em;
    color: var(--cf-4-0);
    font-size: var(--text-5);
    @include media(m, $sm) {
      font-size: var(--text-3);
      padding: 1em;
    }
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;

      background-image: url('../img/border-link.png');
      background-position: 50% 50%;
      background-size: contain;
      background-repeat: no-repeat;

      opacity: 0;
      visibility: hidden;
    }
    &:hover {
      color: var(--cf-4-0);
      text-decoration: none;
      &:after {
        opacity: 1;
        visibility: visible;
      }
    }
    .link__icon {
      font-size: var(--h-2);
      @include media(m, $sm) {
        display: none;
      }
    }
    .link__label {
      
    }
    .link__label-first {
      display: none;
      @include media(m, $sm) {
        display: inline;
      }
    }
    .link__label-second {
      text-transform: capitalize;
      @include media(m, $sm) {
        text-transform: none;
      }
    }
  }
  &--third {
    color: var(--cf-4-0);
    font-size: var(--text-3);
    .link__icon {
      font-size: var(--text-5);
      margin-left: 1em;
    }
    &:hover {
      color: var(--cf-4-0);
    }
  }

  &--fourth {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    color: var(--cf-3-1);
    text-decoration: underline;
    font-weight: 500;
    .link__value {
      font-size: var(--h-2);
    }
    .link__label {
      font-size: var(--h-3);
    }
  }

  &--fifth {
    color: var(--cf-2-0);
    text-decoration: underline;
    &:hover {
      color: var(--cf-2-0);
      text-decoration: none;
    }
  }

  &--lang {
    @extend .button-clear;
    display: inline-flex;
    flex: nowrap;
    align-items: center;
    justify-content: center;

    font-size: var(--text-4);
    color: var(--cf-4-0);
    text-transform: uppercase;
    .link__toggle-img {
      width: 1em;
      height: 1em;
      margin-right: 0.6em;
    }
    .link__toggle-label {
      
    }
    .link__toggle-icon {
      color: var(--cf-2-1);
      font-size: var(--text-6);
      margin-left: 0.6em;
    }
    &:hover {
      color: var(--cf-4-0);
    }
  }
  &--lang-secondary {
    @extend .link--lang;
    color: var(--cf-3-0);
    &:hover {
      color: var(--cf-3-0);
    }
  }
  &--lang-third {
    @extend .link--lang;
    color: var(--cf-1-0);
    &:hover {
      color: var(--cf-1-0);
    }
    .link__toggle-icon {
      color: var(--cf-1-0);
    }
  }
  &--social {
    display: inline-block;
    width: 1.65em;
    height: 1.65em;
  }
  &--telegram {
    display: inline-flex;
    align-items: center;
    font-size: var(--text-3);
    color: var(--cf-4-0);
    text-decoration: underline;
    img {
      flex-shrink: 0;
      width: 2em;
      height: 2em;
      margin-right: 0.6em;
    }
    &:hover {
      color: var(--cf-4-0);
      text-decoration: none;
    }
  }
  &--telegram-secondary {
    @extend .link--telegram;
    color: var(--cf-3-0);
    &:hover {
      color: var(--cf-3-0);
    }
  }
}