.list {
  &--row {
    // padding-right: var(--bs-gutter-x, 0.75rem);
    // padding-left: var(--bs-gutter-x, 0.75rem);
    ul {
      @extend .row;
      @extend .row-cols-auto;
      list-style: none;
      padding: 0;
    }
    li {
      @extend .col;
    }
  }
  &--base {
    @extend .list--row;
    ul {
      color: var(--cf-2-1);
    }
    li {
      font-size: var(--text-3);
      position: relative;
      &:before {
        content: '·';
        position: absolute;
        top: 50%;
        left: -.1em;
        transform: translate(0, -50%);
      }
      &:first-child {
        &:before {
          display: none;
        }
      }
    }
    a {
    }
  }
  &--base-secondary {
    @extend .list--base;
    li {
      font-size: inherit;
    }
  }
  &--base-third {
    @extend .list-clear;
    li {
      position: relative;
      margin-bottom: 0.3em;
      &:before {
        content: '·';
        display: inline-block;
        vertical-align: baseline;
        margin-right: 0.3em;
      }
    }
  }
  &--secondary {
    // @extend .list-clear;
    list-style: none;
    padding: 0;
    & > li, & > span {
      position: relative;
      &:before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        margin-top: 0.1em;
        left: 0;
        width: 0.3em;
        height: 0.3em;
        border-radius: 50%;
        background-color: var(--bgc-4-0);

        opacity: 0;
        visibility: hidden;
      }
      & + li, & + span {
        &:before {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
  &--secondary-second {
    @extend .list--secondary;
    & > li, & > span {
      padding-left: .7em;
      &:before {
        margin-top: -0.1em;
        background-color: var(--bgc-0-2);
      }
      &:first-child {
        &:before {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
  &--secondary-third {
    @extend .list--secondary;
    & > li, & > span {
      &:before {
        width: 0.2em;
        height: 0.2em;
        background-color: var(--bgc-0-2);
      }
    }
  }
  &--third {
    ul {
      counter-reset: list;
      @extend .list-clear;
      margin-top: 1em;
      margin-bottom: 1em;
    }
    li {
      position: relative;
      padding-left: 2.4em;
      padding-top: 0.3em;
      margin-bottom: 1em;
      &:before {
        counter-increment: list;
        content: counter(list);

        position: absolute;
        top: 0;
        left: 0;

        padding-left: 0.9em;
        padding-top: 0.3em;

        font-size: var(--h-3);
        color: var(--cf-3-0)
      }
      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;

        width: 0.88em;
        height: 0.88em;
        background-color: var(--bgc-2-2);
      }
    }
  }
  &--fourth {
    font-size: var(--text-3);
    span {
      color: var(--cf-2-1);
    }
    .svg-icon {
      color: var(--cf-2-1);
      font-size: var(--text-5);
      position: relative;
      top: -.15em;
    }
    h1, h2, h3, h4, h5, h6 {
      margin-bottom: 0.558rem;
    }
    .list__item {
      margin-bottom: 1.5em;
      & + .list__item {
        padding-top: 1em;
        border-top: 1px solid var(--bgc-0-3);
      }
    }
    .list__item-in {

    }
    .list__item-secondary {
      margin-bottom: 1em;
    }
    p {
      margin-bottom: 0.7em;
    }
  }
  &--fifth {
    ul {
      @extend .list-clear;
    }
    li {
      position: relative;
      padding-left: 1em;
      &:before {
        content: '—';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
      }
    }
  }
  &--sixth {
    ul {
      @extend .list-clear;
      counter-reset: list;
    }
    li {
      position: relative;
      padding-left: 1.3em;
      &:before {
        counter-increment: list;
        content: counter(list) ')';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
      }
    }
  }
  &--sixth-second {
    @extend .list--sixth;
    li {
      margin-bottom: .5em;
      &:before {
        font-weight: 700;
      }
    }
  }
  &--nav {
    @extend .list-clear;
    flex-direction: column;
    li {
      & + li {
        border-top: 1px solid var(--bdc-0-0);
      }
      &.active {
        a {
          font-weight: 700;
          color: var(--cf-3-1);
        }
      }
    }
    a {
      display: flex;
      align-items: center;
      padding: .5em 1.3em;
      min-height: 3.6em;
      color: var(--cf-1-0);
      text-decoration: none;
      &:hover {
        background-color: var(--bgc-2-2);
        // color: var(--cf-3-1);
      }
      &.nav-link.active {
        background-color: transparent;
        font-weight: 700;
        color: var(--cf-3-1);
        &:hover {
          background-color: var(--bgc-2-2);
        }
      }
    }
  }
  &--seventh {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .list__item {
      padding-left: 1.5em;
      padding-right: 1.5em;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: 52 / $fontSizeRelative + em;
      & + .list__item {
        border-left: 1px solid var(--bdc-0-3);
      }
    }
    .list__link {
      display: block;
    }
    .list__item-img-wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 112 / $fontSizeRelative + em;
      height: 32 / $fontSizeRelative + em;
      img {
        max-height: 100%;
      }
    }
  }
  &--eigth {
    display: flex;
    flex-wrap: wrap;
    color: var(--cf-2-0);
    margin-top: -0.3em;
    margin-bottom: 0.5em;
    // max-width: 600 / $fontSizeRelative + em;
    .list__item {
      position: relative;
      padding-left: 1em;
      padding-right: .6em;
      margin-top: 0.3em;
      &:before {
        content: '·';
        position: absolute;
        top: 0;
        left: 0;
      }
      &:first-child {
        padding-left: 0;
        &:before {
          display: none;
        }
      }
    }
    &-second {
      @extend .list--eigth;
      color: var(--cf-1-0)
    }
  }
  &--ninth {
    @extend .row;
    @extend .row-cols-md-2;
    @extend .gy-1;
    list-style: none;
    padding: 0;
    .list__item {
      margin-bottom: 5 / $fontSizeRelative + em;
    }
  }
  &--ninth-secondary {
    @extend .row;
    @extend .flex-column;
    .list__item {
      // @extend .col;
      margin-bottom: 5 / $fontSizeRelative + em;
    }
  }
  &--progress {
    display: flex;
    margin-top: -1em;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    @include media(m, $md) {
      justify-content: flex-start;
    }
   .list__item {
      position: relative;
      margin-top: 1em;
      @include media(d, $md) {
        padding-left: 1em;
        padding-right: 1em;
      }
      & + .list__item {
        @include media(m, $md) {
          padding-left: 45 / $fontSizeRelative + em;
  
          &:before {
            content: '';
            position: absolute;
            bottom: auto;
            top: 2em;
            left: 0;
            height: auto;
            transform: none;
            width: 45 / $fontSizeRelative + em;
            border-left: none;
            border-bottom: 1px solid var(--bdc-0-0);
  
          }
        }
      }
      &.active {
        .list__link-circle {
          background-color: var(--bgc-5-1);
        }
        .list__icon-img {
          color: var(--cf-6-0);
        }
        .list__icon-check {
          color: var(--cf-6-0);
        }
        & + .list__item {
          &:before {
            border-color: var(--bdc-5-0);
          }
        }
      }
    }
    .list__link {
      display: block;
      width: 140 / $fontSizeRelative + em;
      color: var(--cf-1-0);
      text-align: center;
    }
    .list__link-circle {
      position: relative;
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0.3em;
      margin-bottom: 0.5em;
      
      width: 62 / $fontSizeRelative + em;
      height: 62 / $fontSizeRelative + em;

      border-radius: 50%;
      background-color: var(--bgc-0-0);
    }
    .list__icon-img {
      color: var(--cf-2-1);
      font-size: var(--h-2);
    }
    .list__icon-check {
      position: absolute;
      top: 0;
      right: 0;

      color: var(--cf-2-2);
      font-size: var(--text-1);
    }
    .list__link-label {
      font-size: var(--text-5);
    }

  }
}