.logo {
  display: block;
  &--base {
    width: 6.7em;
    height: 2.17em;

    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
      // flex-shrink: 0;
    }
  }
}