.modal {
  &--base {
    padding: 1em;
    .btn-close {
      position: absolute;
      top: 1.5em;
      right: 1em;
      z-index: 2;

      opacity: .3;

      width: 0.7em;
      height: 0.7em;
    }
    h3 {
      margin-bottom: 1em;
      font-weight: 500;
    }
    .modal-dialog {
      // max-width: 21.7em;
      max-width: 21em;
      &--secondary {
        max-width: 740 / $fontSizeRelative + em
      }
    }
    .modal-content {
      @extend .box-shadow--4;
      border-radius: var(--bdrs-2);
      border: none;
      background-color: var(--bgc-1-0);
    }
    .modal-body {
      padding: 2.7em 1.4em 1em;
    }
    .modal__socials {
      margin-bottom: 1.3em;
    }
    .modal-foot {
      padding: 1em 1.7em;
      border-top: 1px solid var(--bdc-0-1);
    }
    .modal-dialog-centered {
      @include media(d, $sm) {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  &--base-second {
    @extend .modal--base;
    .modal-dialog {
      @include media(m, $sm) {
        max-width: 635 / $fontSizeRelative + em;
      }
    }
    .modal__img {
      width: 66 / $fontSizeRelative + em;
      height: 82 / $fontSizeRelative + em;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 28 / $fontSizeRelative + em;
    }
  }
  &--base-third {
    @extend .modal--base;
    .modal-dialog {
      @include media(m, $sm) {
        max-width: 440 / $fontSizeRelative + em;
      }
    }
    .modal-body {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding-bottom: 50 / $fontSizeRelative + em;
    }
    .modal__background {
      position: absolute;
      left: 50%;
      top: 0;
      transform: translate(-50%, 0);
      width: 360 / $fontSizeRelative + em;
      height: 200 / $fontSizeRelative + em;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .modal-content {
      min-height: 285 / $fontSizeRelative + em;
    }
    .modal__content {
      position: relative;
      z-index: 2;
    }
  }
}