.pagination {
  &--base {
    justify-content: center;
    margin-top: 2em;
    .page-item {
      margin-left: 8 / $fontSizeRelative + em;
      margin-right: 8 / $fontSizeRelative + em;
      &.active {
        .page-link {
          @extend .background-gradient--5;
          color: var(--cf-2-1);
        }
      }
    }
    .page-link {
      @extend .background-gradient--6;
      border: none;
      color: var(--cf-3-1);
      font-size: var(--text-5);
      padding: 0 9 / 12 + em;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      min-height: 23 / 12 + em;
      border-radius: var(--bdrs-1);
      &:hover {
        // text-decoration: none;
      }
    }
  }
}