.tabs {
  &--base {
    .dropdown__toggle-tabs {
      @extend .button-clear;
      @include media(m, $xl) {
        display: none;
      }
      font-size: var(--h-2);
      &:after {
        margin-left: 0.5em;
        vertical-align: middle;
      }
    }
    .dropdown__menu-tabs {
      @include media(d, $xl) {
        transform: translate(0px, 28px) !important;
        border: 1px solid var(--bdc-0-1);
        padding: .5em 1em;
      }
      @include media(m, $xl) {
        position: static;
        display: block;
        border: none;
        padding: 0;
      }
      .nav-tabs {
        flex-direction: column;
        @include media(d, $xl) {
          flex-direction: column;
          border-bottom-color: transparent;
        }
        @include media(m, $xl) {
          flex-direction: row;
        }
      }
      .nav-link {
        @include media(d, $xl) {
          border: none;
          &.active {
            border: none;
          }
        }
      }
    }
    .nav-tabs {
      border-color: var(--bdc-0-3);
      display: inline-flex;
    }
    .tab-content {
      padding-top: 30 / $fontSizeRelative + em;
      @include media(m, $md) {
        padding-top: 50 / $fontSizeRelative + em;
      }
    }
    .nav-item {
      margin-right: 73 / $fontSizeRelative + em;
      @include media(d, $md) {
        margin-bottom: 1em;
      }
    }
    .nav-link {
      color: var(--cf-2-0);
      border: none;
      border-bottom: 1px solid var(--bdc-4-0);
      padding-top: 0;
      padding-left: 22 / $fontSizeRelative + em;
      padding-right: 22 / $fontSizeRelative + em;
      background-color: transparent !important;
      @include media(d, $xl) {
        padding: .5em;
        border: none;
        font-size: var(--text-1);
      }
      &:hover {
        border-color: transparent;
        border-bottom-color: var(--bdc-4-0);
      }
      &.active {
        color: var(--cf-1-0);
        font-weight: 500;
        border: none;
        border-bottom: 1px solid var(--bdc-2-1);
      }
    }
    .tabs__list-wrap {
      max-width: 1000 / $fontSizeRelative + em;
    }
    .tabs__map-country-wrap {
      max-width: 1000 / $fontSizeRelative + em
    }
    .tabs__map-country {
      @extend .row;
      @extend .gy-3
    }
    .tabs__map-country-main {
      @extend .col-md-7;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .tabs__map-country-aside {
      @extend .col-md-5;
    }
    .tabs__svg-map-wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      max-width: 508 / $fontSizeRelative + em;
      max-height: 334 / $fontSizeRelative + em;
    }
    .tabs__svg-map {
      max-width: 100%;
      max-height: 100%;
    }
  }
  &--secondary {
    @extend .tabs--base;
    .dropdown__toggle-tabs {
      font-size: var(--h-3);
    }
    .dropdown__menu-tabs {

    }
    .nav-tabs {
      flex-direction: row;
      align-items: stretch;
    }
    .nav-item {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin-bottom: 0.5em;
      margin-right: 1em;
      @include media(m, $md) {
        margin-right: 2em;
        margin-bottom: -1px;
      }
    }
    .nav-link {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      font-size: var(--text-3);
      padding-left: 0;
      padding-right: 0;
      flex-grow: 1;
      border-bottom-color: transparent;
      &.active {
        font-weight: 700;
        color: var(--cf-3-0);
      }
    }
    .badge--base-second {
      margin-left: 0.5em;
    }
    .tabs__payment-system {
      margin-top: 52 / $fontSizeRelative + em;
      h3 {
        margin-bottom: 1.3em;
      }
    }
  }
  &--steps {
    .nav-tabs {
      position: relative;
      justify-content: center;
      border-bottom-color: transparent;
      // margin-bottom: 4em;
      // &:after {
      //   content: '';
      //   position: absolute;
      //   top: 0;
      //   left: 0;
      //   right: 0;
      //   bottom: 0;
      // }
    }
    .dropdown {
      margin-bottom: 2em;
      @include media(m, $xl) {
        margin-bottom: 4em;
      }
    }
    .dropdown-toggle {
      position: static;
      font-size: var(--h-1);
      width: 64 / 36 + em;
      height: 64 / 36 + em;
      border-radius: 50%;
      padding: .3em;
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      color: var(--cf-3-1);

      border-color: transparent;
      background-color: var(--bgc-2-7);
      &:after {
        display: none;
      }
      @include media(m, $xl) {
        display: none;
      }
    }
    .dropdown-menu {
      // @extend .box-shadow--0;
      // border-color: var(--0-1);
      @include media(d, $xl) {
        background-color: var(--bgc-1-0);
        border: none;
        padding: .5em;
        transform: translate(0, 0) !important;
        box-shadow: 0 0 12px 3px rgba(#000, .08);
      }
      @include media(m, $xl) {
        position: static;
        display: block;
        border-color: transparent;
        padding: 0;
      }
    }
    .nav-item {
      position: relative;
      @include media(m, $sm) {
        margin-left: .5em;
        margin-right: .5em;
      }
      @include media(m, $xl) {
        padding-right: 115 / $fontSizeRelative + em;
        margin-right: 10 / $fontSizeRelative + em;
        &:last-child {
          padding-right: 0;
          .nav-link {
            &:after {
              display: none;
            }
          }
        }
      }
    }
    .nav-link {
      position: static;
      background-color: transparent;
      font-size: var(--h-1);
      width: 64 / 36 + em;
      height: 64 / 36 + em;
      border-radius: 50%;
      padding: .3em;
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: var(--cf-3-1);
      background-color: var(--bgc-2-7);
      
      opacity: 0.3;
      &.active {
        opacity: 1;
        color: var(--cf-3-1);
        background-color: var(--bgc-2-7);
        border-color: transparent;
        & + * {
          opacity: 1;
        }
      }
      @include media(m, $xl) {
        &:after {
          content: '';
          position: absolute;
          top: 50%;
          right: 0;
          transform: translate(0, -50%);
          width: 105 / 36 + em;
    
          border-bottom: 1px solid var(--bdc-2-1);
        }
      }
    }
    .tab-content {
      margin-bottom: 60 / $fontSizeRelative + em;
    }
  }
}