.table {
  &--base {
    min-width: 500px;
    td {
      border-color: var(--bdc-0-3);
      padding-top: 23 / $fontSizeRelative + em;
      padding-bottom: 23 / $fontSizeRelative + em;
      vertical-align: middle;
    }
    .tag--fourth-second {
      margin-bottom: .5em;
    }
    th {
      border-bottom-color: transparent !important;
    }
    .table__prices {
      del {
        position: relative;
        text-decoration: none;
        color: var(--cf-2-1);
        &:after {
          content: '';
          position: absolute;
          top: 50%;
          left: 0;
          width: 100%;
          border-bottom: 1px solid var(--bdc-0-5);
          transform: rotate(-11deg);
        }
      }
    }
    .table__price-actual {
      margin-bottom: 0.5em;
    }
    .list--base {
      max-width: 270 / $fontSizeRelative + em;
      ul {
        color: var(--cf-1-0);
        margin: 0;
      }
    }
  }
  &--base-secondary {
    @extend .table--base;
    min-width: 340px;
    td {
      text-align: right;
      &:first-child {
        text-align: left;
        // width: 55%;
      }
      &:last-child {
        text-align: right;
      }
    }
  }
  &--base-third {
    @extend .table--base;
    td {
      width: 33.3%;
      &:last-child {
        text-align: right;
      }
    }
  }
  &--secondary {
    @extend .table--base;
    min-width: 500px;
    td {
      vertical-align: middle;
    }
  }
}