.tag {
  &--box-model {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.3em 1em;
  }
  &--base {
    @extend .tag--box-model;
    // align-items: flex-start;
    min-height: 2.134em;
    font-size: var(--text-3);
    color: var(--cf-3-0);
    border: 1px solid var(--bdc-0-5);
    border-radius: var(--bdrs-1);
    // text-align: center;
    .button-close {
      margin-right: 1em;
      flex-shrink: 0;
      // top: 0.1em;
      // position: relative;
    }
    .tag__label {
      @include media(d, $md) {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 5em;
      }
    }
  }

  &--secondary {
    @extend .tag--box-model;
    min-height: 1.917em;
    font-size: var(--text-5);
    color: var(--cf-5-2);
    border-radius: var(--bdrs-0);
    background-color: var(--bgc-3-2);
    &:hover {
      color: var(--cf-5-2);
      
    }
    &-second {
      @extend .tag--secondary;
      background-color: var(--bgc-2-4);
      color: var(--cf-3-4);
      &:hover {
        color: var(--cf-3-4);
      }
    }
    &-third {
      @extend .tag--secondary;
      background-color: var(--bgc-2-1);
      color: var(--cf-3-3);
      &:hover {
        color: var(--cf-3-3);
      }
    }
    &-fourth {
      @extend .tag--secondary;
      background-color: var(--bgc-2-0);
      color: var(--cf-3-2);
      &:hover {
        color: var(--cf-3-2);
      }
    }
    &-fifth {
      @extend .tag--secondary;
      background-color: var(--bgc-3-3);
      color: var(--cf-4-0);
      &:hover {
        color: var(--cf-4-0);
      }
    }
    &-sixth {
      @extend .tag--secondary;
      background-color: var(--bgc-5-0);
      color: var(--cf-4-0);
      &:hover {
        color: var(--cf-4-0);
      }
    }
  }

  &--third {
    @extend .tag--box-model;
    min-height: 3.867em;
    padding: 0.5em 2em;
    font-size: var(--text-3);
    font-weight: 600;
    color: var(--cf-5-2);
    border-radius: var(--bdrs-0);
    background-color: var(--bgc-3-2);
    &:hover {
      color: var(--cf-5-2);
    }
    &-second {
      @extend .tag--third;
      background-color: var(--bgc-2-4);
      color: var(--cf-3-4);
      &:hover {
        color: var(--cf-3-4);
      }
    }
    &-third {
      @extend .tag--third;
      background-color: var(--bgc-2-1);
      color: var(--cf-3-3);
      &:hover {
        color: var(--cf-3-3);
      }
    }
    &-fourth {
      @extend .tag--third;
      background-color: var(--bgc-2-0);
      color: var(--cf-3-2);
      &:hover {
        color: var(--cf-3-2);
      }
    }
  }
  
  &--fourth {
    @extend .tag--third;
    min-height: 28 / 15 + em;
    padding: 0.5em 1em;
    &-second {
      @extend .tag--fourth;
      background-color: var(--bgc-2-4);
      color: var(--cf-3-4);
    }
    &-third {
      @extend .tag--fourth;
      background-color: var(--bgc-2-1);
      color: var(--cf-3-3);
    }
    &-fourth {
      @extend .tag--fourth;
      background-color: var(--bgc-2-0);
      color: var(--cf-3-2);
    }
  }
}