@if $config {
	@each $group in $config {
		$groupName: map-get($group, 'name');
		$selector: map-get($group, 'selector');
		$items: map-get($group, 'options');
		@if $groupName == 'font-size-text' {
			@each $item in $items {
				$key: map-keys($item);
				$value: map-values($item);
				// @include set-typography('.text--#{$name}', $groupName, $name, null, $value);
				.text--#{$key} {
					font-size: var(--#{$selector}-#{$key});
				} 
			}
		}
	};
}