.wrap {
  // margin-bottom: 30 / $fontSizeRelative + em;
  &--style {
    border: 1px solid var(--bdc-0-0);
    background-color: var(--bgc-1-0);
    border-radius: var(--bdrs-0);
  }
  &--base {
    @extend .wrap--style;
    @extend .box-shadow--4;
    margin-bottom: 1em;
    .wrap__in {
      padding: 20 / $fontSizeRelative + em;
      @include media(m, $md) {
        padding: 40 / $fontSizeRelative + em;
      }
      &-secondary {
        padding: 20 / $fontSizeRelative + em;
        @include media(m, $sm) {
          padding: 30 / $fontSizeRelative + em 40 / $fontSizeRelative + em;
        }
      }
      &-third {
        padding: 40 / $fontSizeRelative + em 20 / $fontSizeRelative + em;
      }
      &-fifth {
        padding: 20 / $fontSizeRelative + em;
      }
    }
    .wrap__list {
      margin-top: 1em;
    }
    .wrap__text-descr {
      color: var(--cf-2-0);
    }
    .wrap__cards-list {
      overflow: hidden;
    }
    .card--base {
      .card__in {
        padding-left: 0;
        padding-right: 0;
      }
    }
    .wrap__grid {
      max-width: 700 / $fontSizeRelative + em;
    }
    .wrap__content {
      max-width: 550 / $fontSizeRelative + em;
      @include media(m, $xl) {
        max-width: 350 / $fontSizeRelative + em;
      }
      &-secondary {
        max-width: 400px;
      }
    }
    .wrap__title-secondary {
      color: var(--cf-3-0);
      margin-bottom: 1em;
    }
    .wrap__list-secondary {
      margin-bottom: 1em;
    }
    .wrap__icon-text {
      margin-bottom: .5em;
    }
    .wrap__content-fourth {
      max-width: 400 / $fontSizeRelative + em;
    }
    .wrap__item {
      max-width: 820 / $fontSizeRelative + em;
      margin-bottom: 2em;
    }
    .wrap__news-list {
      @extend .row;
      @extend .gy-3;
      margin-bottom: 2em;
    }
    .wrap__news-list-secondary {
      padding: 20 / $fontSizeRelative + em;
      background-color: var(--bgc-0-1);
      border: 1px solid var(--bdc-0-3);
    }
    .wrap__news-card {
      display: flex;
      flex-direction: column;
      flex: 0 0 auto;
      width: 100%;
      @include media(m, $sm) {
        width: calc(100% / 2);
      }
      @include media(m, $lg) {
        width: calc(100% / 3);
      }
      &:nth-child(5n - 4) {
        @include media(m, $lg) {
          width: calc(100% / 1.5);
        }
      }
      .card--news {
        flex-grow: 1;
      }
    }
    .wrap__news-card-secondary {
      &:last-child {
        .card--news-secondary {
          border-bottom: none;
        }
      }
    }
  }
  &--sticky {
    position: sticky;
    top: 1em;
  }
  &--secondary {
    position: relative;
    padding: 300 / $fontSizeRelative + em 1em 40 / $fontSizeRelative + em;
    min-height: 265 / $fontSizeRelative + em;
    @extend .box-shadow--4;
    @extend .background-gradient--7;
    border-radius: var(--bdrs-0);

    color: var(--cf-2-0);
    @include media(m, $md) {
      padding: 40 / $fontSizeRelative + em 1em 40 / $fontSizeRelative + em 554 /
        $fontSizeRelative + em;
    }
    .wrap__background {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
      height: 270 / $fontSizeRelative + em;
      width: 100%;

      background-position: 30% 0;
      background-repeat: no-repeat;
      background-size: cover;
      @include media(m, $sm) {
        width: 512 / $fontSizeRelative + em;
      }
      @include media(m, $md) {
        left: 0;
        height: 100%;
        transform: none;
      }
    }
  }
  &--secondary-second {
    @extend .wrap--secondary;
    @extend .background-gradient--9;
    .wrap__background {
      @include media(d, $lg) {
        background-position: 50% 50%;
        background-size: contain;
      }
    }
  }
  &--third {
    // @extend .wrap--secondary;
    position: relative;
    padding: 30 / $fontSizeRelative + em 20 / $fontSizeRelative + em;
    @extend .background-gradient--8;
    border-radius: var(--bdrs-0);
    color: var(--cf-4-0);
    @include media(m, $md) {
      padding: 40 / $fontSizeRelative + em 3em 40 / $fontSizeRelative + em 350 /
        $fontSizeRelative + em;
    }
    @include media(m, $lg) {
      padding: 40 / $fontSizeRelative + em 3em 40 / $fontSizeRelative + em 554 /
        $fontSizeRelative + em;
    }
    .wrap__background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      background-repeat: no-repeat;
      background-size: cover;
      display: none;
      @include media(m, $md) {
        display: block;
        background-position: 20% 50%;
      }
      @include media(m, $lg) {
        background-position: 10% 50%;
      }
    }
    .wrap__head {
      margin-bottom: 2em;
    }
  }
  &--fourth {
    background-color: var(--bgc-0-0);
    border-radius: var(--bdrs-0);
    .wrap__in {
      padding: 30 / $fontSizeRelative + em;
    }
  }
  &--personal {
    @extend .wrap--sticky;
    .wrap__button-close {
      position: absolute;
      top: 1em;
      right: 1em;
      @include media(m, $md) {
        display: none;
      }
      .button--toggle-nav {
        font-size: var(--h-2);
      }
    }
    .wrap__in {
      @extend .wrap--style;
      height: 100%;
      overflow-y: auto;
      @include media(d, $md) {
        border-radius: 0;
      }
    }
    .wrap__in-secondary {
      height: 100%;
      overflow-y: auto;
      @include media(d, $md) {
        border-radius: 0;
      }
      @include media(d, $md) {
        border: 1px solid var(--bdc-0-0);
        background-color: var(--bgc-1-0);
      }
    }
    .form-check--checkbox-third {
      margin-bottom: 0.5em;
    }
    .wrap__group {
      margin-bottom: 35 / $fontSizeRelative + em;
    }
  }
}


.wrap__title {
  @extend .section__title;
  padding-left: 0 !important;
  margin-bottom: 1.44em !important;
}