.section {
  &--news {
    .section__row {
      @extend .row;
      @extend .row-cols-lg-2;
      @extend .gy-3;
    }
    .section__column {
      @extend .col-lg;
      display: flex;
      flex-direction: column;
      .wrap {
        flex-grow: 1;
      }
    }
  }
}