.section {
  &--filter {
    .section__row {
      position: relative;
      display: flex;
      flex-wrap: nowrap;
    }
    .section__column {
      &--aside {
        flex-shrink: 0;

        width: 315 / $fontSizeRelative + em;

        margin-right: 30 / $fontSizeRelative + em;
        @extend .transition-base;
        @include media(d, $lg) {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 2;
          background-color: var(--bgc-4-1);
          margin: 0;

          transform: translate(-100 / $fontSizeRelative + em, 0);
          opacity: 0;
          visibility: hidden;
          &.visible {
            opacity: 1;
            visibility: visible;
            transform: translate(0, 0);
          }
        }
      }
      &--main {
        flex-grow: 1;
      }
    }
    .section__button-filter {
      color: var(--cf-3-0);
      padding: .5em;
    }
    .section__sidebar-close {
      @extend .button;
      @extend .button--toggle-nav;
      position: absolute;
      top: .5em;
      right: .5em;
      
      @include media(m, $lg) {
        display: none;
      }
    }
    .section__sidebar {
      @include media(d, $lg) {
        background-color: var(--bgc-1-0);
        max-width: 350 / $fontSizeRelative + em;
        height: 100%;
        overflow-y: auto;
        padding: 1em;
      }
    }
    .section__filter {
      border-bottom: 1px solid var(--bdc-0-3);
      padding-bottom: 1em;
      margin-bottom: 1em;
    }
    .section__filter-row {
      @extend .row;
      @extend .gy-3;
      flex-direction: column-reverse;
      @include media(m, $md) {
        flex-direction: row;
        align-items: center;
      }
    }
    .section__filter-column {
      &--main {
        @extend .col-md-8;
      }
      &--aside {
        @extend .col-md-4;
        flex-shrink: 0;
        @include media(m, $md) {
          margin-left: auto;
        }
      }
      &--aside-toggle {
        width: auto;
        max-width: none;
        // flex-grow: 0;
      }
    }

    .section__filter-tags-row {
      @extend .row;
      @extend .row-cols-auto;
      @extend .gx-2;
      @extend .gy-2;
    }
    .section__filter-tags-column {
    }

    .section__filter-dropdowns-row {
      @extend .row;
      @extend .row-cols-auto;
      @extend .gx-3;
      @extend .gy-2;
      align-items: center;

      @include media(m, $md) {
        justify-content: flex-end;
      }
    }
    .section__filter-dropdowns-col {
      @extend .col;
      &--toggle {
        @include media(d, $md) {
          margin-left: auto;
        }
        @include media(m, $lg) {
          display: none;
        }
      }
    }
  }
  .section__cards {
    padding-bottom: 23 / $fontSizeRelative + em;
  }
}
