.section {
	padding-bottom: 30 / $fontSizeRelative + em;
	&--fullpage {
		display: flex;
		flex-direction: column;
		.section__in {
			min-height: 100vh;
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 5em 0;
		}
	}
	&--paddings-base {
		padding: 1em 0;
    @include media(m, $xl) {
      padding: 2em 0;
    };
	}
}


.section__title {
	padding-left: 20 / $fontSizeRelative + em;
	padding-bottom: 0.5em;
	border-bottom: 1px solid var(--bdc-0-3);
	margin-bottom: 1em;
	@include media(m, $md) {
		padding-left: 40 / $fontSizeRelative + em;
	}
}