.section {
  &--personal {
    .section__col {
      position: relative;
      &--nav {
        @include media(d, $md) {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          padding: 0;
          z-index: 99;

          display: flex;
          flex-direction: column;

          background-color: var(--bgc-4-1);

          opacity: 0;
          visibility: hidden;
          transform: translate(-30em, 0);
          transition: linear .2s;
          .wrap--sticky {
            position: static;
            max-width: 15em;
            border-radius: 0;
            flex-grow: 1;
          }
          &.visible {
            opacity: 1;
            visibility: visible;
            transform: translate(0, 0);
          }
        }
      }
      .section__wrap-toggle-nav {
        @include media(d, $md) {
          position: absolute;
          right: 1.7em;
          top: 0;
        }
        @include media(m, $md) {
          display: none;
        }
        .button--toggle-nav {
          position: absolute;
          top: -.5em;
          left: -1em;
          font-size: var(--h-2);
        }
      }
    }
  }
}