<header class="header header--third">
  <div class="header__main">
    <div class="header__container container-fluid">
      <div
        class="
          header__row
          row row-cols-auto
          align-items-center
          justify-content-sm-between
        "
      >
        <div class="header__col header__col--logo col">
          <a class="logo logo--base" href="/">
            <img src="img/logo.svg" alt="" />
          </a>
        </div>
        <div class="header__col col">
          <div class="header__row-secondary row row-cols-auto">
            <div class="header__col-secondary col">
              <a class="link link--secondary-second" href="#">
                <svg class="link__icon svg-icon">
                  <use xlink:href="img/svgSprite.svg#icon-search"></use>
                </svg>
                <span class="link__label">
                  <span class="link__label-first">Найти</span>
                  <span class="link__label-second">вакансии</span>
                </span>
              </a>
            </div>
            <div class="header__col-secondary col">
              <a class="link link--secondary-second" href="#">
                <svg class="link__icon svg-icon">
                  <use xlink:href="img/svgSprite.svg#icon-plus"></use>
                </svg>
                <span class="link__label">
                  <span class="link__label-first">Разместить</span>
                  <span class="link__label-second">резюме</span>
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="header__col col">
          <div
            class="header__row-third row row-cols-auto align-items-sm-center"
          >
            <div class="header__col-third header__col-third--lang col">
              <div class="dropdown dropdown--lang">
                <button
                  class="dropdown__toggle"
                  type="button"
                  id="dropdownMenuButton1"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  data-bs-offset="0,0"
                  aria-expanded="false"
                  data-bs-reference="parent"
                >
                  <span class="link link--lang">
                    <img class="link__toggle-img" src="img/img-ru.svg" alt="" />
                    <span class="link__toggle-label">ru</span>
                    <svg class="link__toggle-icon svg-icon">
                      <use xlink:href="img/svgSprite.svg#icon-caret"></use>
                    </svg>
                  </span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li>
                    <a class="dropdown-item" href="#">
                      <div class="link link--lang-secondary">
                        <img
                          class="link__toggle-img"
                          src="img/img-ru.svg"
                          alt=""
                        />
                        <div class="link__toggle-label">ru</div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">
                      <div class="link link--lang-secondary">
                        <img
                          class="link__toggle-img"
                          src="img/img-uz.svg"
                          alt=""
                        />
                        <div class="link__toggle-label">uz</div>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="header__col-third col">
              <a
                class="button button--secondary-second"
                href="#"
                data-bs-toggle="modal"
                data-bs-target="#login"
              >
                <svg class="button__icon svg-icon">
                  <use xlink:href="img/svgSprite.svg#icon-locked"></use>
                </svg>
                <span class="button__label">Войти</span>
              </a>
              <!-- 
                <a class="button button--secondary-second" href="#">
                  <svg class="button__icon svg-icon">
                    <use xlink:href="img/svgSprite.svg#icon-locked"></use>
                  </svg>
                  <span class="button__label">Войти</span>
                </a>
                !не залогиненный
               -->
              <!-- <a class="button button--secondary" href="#">
                <span class="button__label">
                  <span>Руслан</span>
                  <span>»</span>
                </span>
                !Залогиненый
              </a> -->
            </div>
            <div class="header__col-third header__col-third--link-employer col">
              <a class="link link--third" href="#">
                <span class="link__label">Работодателю</span>
                <svg class="link__icon svg-icon">
                  <use
                    xlink:href="img/svgSprite.svg#icon-arrow-secondary"
                  ></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header__sub-secondary">
    <div class="container-fluid">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb--base">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Library</li>
        </ol>
      </nav>
      <h2>Создание вакансии</h2>
    </div>
  </div>
</header>
