<header class="header header--base-secondary">
  <!-- <header class="header header--secondary"> -->
  <div class="header__main">
    <div class="header__container container-fluid">
      <div
        class="
          header__row
          row row-cols-auto
          align-items-center
          justify-content-sm-between
        "
      >
        <div class="header__col header__col--logo col">
          <a class="logo logo--base" href="/">
            <img src="img/logo.svg" alt="" />
          </a>
        </div>
        <div class="header__col col">
          <div class="header__row-secondary row row-cols-auto">
            <div class="header__col-secondary col">
              <a class="link link--secondary-second" href="#">
                <svg class="link__icon svg-icon">
                  <use xlink:href="img/svgSprite.svg#icon-search"></use>
                </svg>
                <span class="link__label">
                  <span class="link__label-first">Найти</span>
                  <span class="link__label-second">вакансии</span>
                </span>
              </a>
            </div>
            <div class="header__col-secondary col">
              <a class="link link--secondary-second" href="#">
                <svg class="link__icon svg-icon">
                  <use xlink:href="img/svgSprite.svg#icon-plus"></use>
                </svg>
                <span class="link__label">
                  <span class="link__label-first">Разместить</span>
                  <span class="link__label-second">резюме</span>
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="header__col col">
          <div
            class="header__row-third row row-cols-auto align-items-sm-center"
          >
            <div class="header__col-third header__col-third--lang col">
              <div class="dropdown dropdown--lang">
                <button
                  class="dropdown__toggle"
                  type="button"
                  id="dropdownMenuButton1"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  data-bs-offset="0,0"
                  aria-expanded="false"
                  data-bs-reference="parent"
                >
                  <span class="link link--lang">
                    <img class="link__toggle-img" src="img/img-ru.svg" alt="" />
                    <span class="link__toggle-label">ru</span>
                    <svg class="link__toggle-icon svg-icon">
                      <use xlink:href="img/svgSprite.svg#icon-caret"></use>
                    </svg>
                  </span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li>
                    <a class="dropdown-item" href="#">
                      <div class="link link--lang-secondary">
                        <img
                          class="link__toggle-img"
                          src="img/img-ru.svg"
                          alt=""
                        />
                        <div class="link__toggle-label">ru</div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">
                      <div class="link link--lang-secondary">
                        <img
                          class="link__toggle-img"
                          src="img/img-uz.svg"
                          alt=""
                        />
                        <div class="link__toggle-label">uz</div>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="header__col-third col">
              <a
                class="button button--secondary-second"
                href="#"
                data-bs-toggle="modal"
                data-bs-target="#login"
              >
                <svg class="button__icon svg-icon">
                  <use xlink:href="img/svgSprite.svg#icon-locked"></use>
                </svg>
                <span class="button__label">Войти</span>
              </a>
              <!-- 
                <a class="button button--secondary-second" href="#">
                  <svg class="button__icon svg-icon">
                    <use xlink:href="img/svgSprite.svg#icon-locked"></use>
                  </svg>
                  <span class="button__label">Войти</span>
                </a>
                !не залогиненный
               -->
              <!-- <a class="button button--secondary" href="#">
                <span class="button__label">
                  <span>Руслан</span>
                  <span>»</span>
                </span>
                !Залогиненый
              </a> -->
            </div>
            <div class="header__col-third header__col-third--link-employer col">
              <a class="link link--third" href="#">
                <span class="link__label">Работодателю</span>
                <svg class="link__icon svg-icon">
                  <use
                    xlink:href="img/svgSprite.svg#icon-arrow-secondary"
                  ></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header__sub">
    <h1>Поиск работы в Узбекистане</h1>
    <div>Сейчас у нас <strong>54356</strong> актуальных вакансий.</div>
  </div>
  <div class="header__search">
    <div class="container-fluid">
      <form
        class="form form--search needs-validation"
        novalidate
        data-element="form-search"
      >
        <div class="row row-cols-lg-auto align-items-center gx-3 gy-3">
          <div class="col-12 col-lg flex-lg-grow-1 flex-lg-shrink-1">
            <div class="form-control-search form-control-search--base">
              <input type="search" class="form-control" placeholder="Запрос..." /
              data-element="input">
              <span class="form-control-search__button" data-element="clear">
                <span class="button-close button-close--base">
                  <svg class='svg-icon'>
                    <use xlink:href='img/svgSprite.svg#icon-close'></use>
                  </svg>
                </span>
              </span>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg flex-lg-grow-0 flex-lg-shrink-1">
            <div class="select select--base" id="select-1">
              <select
                name="state"
                data-element="select"
                data-placeholder="Выберите город"
                data-dropdown-parent="#select-1"
                data-dropdown-css-class="select__dropdown"
              >
                <option value=""></option>
                <option value="1">Alabama</option>
                <option value="2">Wyoming</option>
                <option value="3">Wyoming</option>
                <option value="4">Wyoming</option>
                <option value="5">Alabama</option>
                <option value="6">Wyoming</option>
                <option value="7">Wyoming</option>
                <option value="8">Wyoming</option>
                <option value="9">Alabama</option>
                <option value="10">Wyoming</option>
                <option value="11">Wyoming</option>
                <option value="12">Wyoming</option>
                <option value="13">Alabama</option>
                <option value="14">Wyoming</option>
                <option value="15">Wyoming</option>
                <option value="16">Wyoming</option>
              </select>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg flex-lg-shrink-0 flex-lg-grow-0">
            <button class="button button--base w-100 w-lg-auto" type="submit">
              Найти вакансии
            </button>
          </div>
        </div>
        <div class="form__example">
          Например: <a href="#" data-element="anchor">бухгалтер</a>,
          <a href="#" data-element="anchor">программист</a>
        </div>
      </form>
    </div>
  </div>
</header>
