<div class="mb-3">
  <div class="badge badge--base">
    <div class="badge__label">PRO</div>
    <div class="badge__popup">
      <div class="badge__popup-content">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum, in.
      </div>
      <div class="badge__popup-foot">
        <a href="#">Подробнее »</a>
      </div>
    </div>
  </div>
</div>