<h2>Информация о должности</h2>
<div class="mb-4">
  <label class="form-label form-label--third" for="vacancy-position">
    Название должности
  </label>
  <input
    type="text"
    class="form-control form-control--secondary"
    id="vacancy-position"
    placeholder="Название будет отображаться в заголовке вакансии"
    required
  />
  <div class="invalid-feedback">Lorem ipsum dolor sit amet.</div>
</div>
<div class="mb-4">
  <h3>Категории вакансии</h3>
  <hr class="mt-4 mb-4" />
  <div class="row row-cols-1 row-cols-sm-2 gy-1">
    <div class="col">
      <div class="form-check form-check--checkbox">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          name="categories[]"
          id="check-0-0"
        />
        <label class="form-check-label" for="check-0-0">
          <span class="cf-3-0">IT, компьютеры, интернет</span>
        </label>
      </div>
    </div>
    <div class="col">
      <div class="form-check form-check--checkbox">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          name="categories[]"
          id="check-0-1"
        />
        <label class="form-check-label" for="check-0-1">
          <span class="cf-3-0">Рабочие специальности, производство</span>
        </label>
      </div>
    </div>
    <div class="col">
      <div class="form-check form-check--checkbox">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          name="categories[]"
          id="check-0-2"
        />
        <label class="form-check-label" for="check-0-2">
          <span class="cf-3-0">Администрация, руководство среднего звена</span>
        </label>
      </div>
    </div>
    <div class="col">
      <div class="form-check form-check--checkbox">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          name="categories[]"
          id="check-0-3"
        />
        <label class="form-check-label" for="check-0-3">
          <span class="cf-3-0">Розничная торговля</span>
        </label>
      </div>
    </div>
    <div class="col">
      <div class="form-check form-check--checkbox">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          name="categories[]"
          id="check-0-4"
        />
        <label class="form-check-label" for="check-0-4">
          <span class="cf-3-0">Бухгалтерия, аудит</span>
        </label>
      </div>
    </div>
    <div class="col">
      <div class="form-check form-check--checkbox">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          name="categories[]"
          id="check-0-5"
        />
        <label class="form-check-label" for="check-0-5">
          <span class="cf-3-0">Секретариат, делопроизводство, АХО</span>
        </label>
      </div>
    </div>
  </div>
</div>
