<div class="form__group">
  <h2>Описание вакансии</h2>
  <textarea class="editor editor--base" data-element="editor"></textarea>
</div>
<div class="form__group">
  <h2>Контактная информация</h2>
  <div class="row row-cols-auto align-items-center gy-2 mb-2">
    <div class="col">
      <div class="form-check form-check--checkbox">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="check-4-0"
        />
        <label class="form-check-label" for="check-4-0"
          >Показывать мою почту</label
        >
      </div>
    </div>
    <div class="col">
      <input class="form-control form-control--secondary" type="email" />
    </div>
  </div>
  <div class="row row-cols-auto align-items-center gy-2 mb-2">
    <div class="col">
      <div class="form-check form-check--checkbox">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="check-4-1"
        />
        <label class="form-check-label" for="check-4-1"
          >Показывать мой сайт</label
        >
      </div>
    </div>
    <div class="col">
      <input class="form-control form-control--secondary" type="text" />
    </div>
  </div>
</div>
<div class="form__group form__group--secondary">
  <div class="text-center text-lg-start">
    <h2>Вариант размещения</h2>
  </div>
  <div class="row row-cols-auto justify-content-center gy-3 gx-3">
    <div class="col">
      <div class="form-check form-check--card">
        <input
          class="form-check-input"
          type="radio"
          name="accommdationOption[]"
          value=""
          id="radio-5-0"
        />
        <label class="form-check-label" for="radio-5-0">
          <span class="form-check__pseudo-check">
            <svg class="svg-icon">
              <use xlink:href="img/svgSprite.svg#icon-check"></use>
            </svg>
          </span>
          <span class="form-check__img-wrap">
            <svg class="svg-icon">
              <use xlink:href="img/svgSprite.svg#icon-free"></use>
            </svg>
          </span>
          <span class="form-check__title">Стендарт-размещение</span>
          <span class="form-check__txt"
            >Объявление устанавливается в общую очередь</span
          >
        </label>
      </div>
    </div>
    <div class="col">
      <div class="form-check form-check--card">
        <input
          class="form-check-input"
          type="radio"
          value=""
          name="accommdationOption[]"
          id="radio-5-1"
        />
        <label class="form-check-label" for="radio-5-1">
          <span class="form-check__pseudo-check">
            <svg class="svg-icon">
              <use xlink:href="img/svgSprite.svg#icon-check"></use>
            </svg>
          </span>
          <span class="form-check__img-wrap">
            <svg class="svg-icon">
              <use xlink:href="img/svgSprite.svg#icon-briefcase"></use>
            </svg>
          </span>
          <span class="form-check__title">Стендарт-размещение</span>
          <span class="form-check__txt"
            >Объявление устанавливается в общую очередь</span
          >
        </label>
      </div>
    </div>
    <div class="col">
      <div class="form-check form-check--card">
        <input
          class="form-check-input"
          type="radio"
          value=""
          name="accommdationOption[]"
          id="radio-5-2"
        />
        <label class="form-check-label" for="radio-5-2">
          <span class="form-check__pseudo-check">
            <svg class="svg-icon">
              <use xlink:href="img/svgSprite.svg#icon-check"></use>
            </svg>
          </span>
          <span class="form-check__img-wrap">
            <svg class="svg-icon">
              <use xlink:href="img/svgSprite.svg#icon-diamond"></use>
            </svg>
          </span>
          <span class="form-check__title">Стендарт-размещение</span>
          <span class="form-check__txt"
            >Объявление устанавливается в общую очередь</span
          >
        </label>
      </div>
    </div>
  </div>
</div>
