<h2>Условия работы</h2>
<div class="row row-cols-1 row-cols-sm-2 gy-3">
  <div class="col">
    <div class="mb-4">
      <label class="form-label form-label--third" for="select-0-0"
        >Город работы</label
      >
      <div class="select select--base-secondary" id="select-0-0">
        <select
          name="state"
          data-element="select"
          data-placeholder="Выберите город"
          data-dropdown-parent="#select-0-0"
          data-dropdown-css-class="select__dropdown"
          required
        >
          <option value=""></option>
          <option value="1">Ташкент</option>
          <option value="2">Самарканд</option>
        </select>
        <div class="invalid-feedback">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. A, ratione.
        </div>
      </div>
    </div>
    <div class="mb-4">
      <label class="form-label form-label--third" for="vacancy-city"
        >Зарплата <span class="cf-2-1">в сумах/месяц</span></label
      >
      <div class="row row-cols-auto align-items-center gy-2 mb-2">
        <div class="col flex-grow-1">
          <div class="select select--base-secondary" id="select-1-0">
            <select
              name="state"
              data-element="select"
              data-placeholder="от"
              data-dropdown-parent="#select-1-0"
              data-dropdown-css-class="select__dropdown"
            >
              <option value=""></option>
              <option value="1">1 000 000</option>
              <option value="2">10 000 000</option>
            </select>
          </div>
        </div>
        <div class="col flex-shrink-0">
          <span class="cf-2-1">—</span>
        </div>
        <div class="col flex-grow-1">
          <div class="select select--base-secondary" id="select-1-1">
            <select
              name="state"
              data-element="select"
              data-placeholder="до"
              data-dropdown-parent="#select-1-1"
              data-dropdown-css-class="select__dropdown"
            >
              <option value=""></option>
              <option value="1">1 000 000</option>
              <option value="2">10 000 000</option>
            </select>
          </div>
        </div>
      </div>
      <div class="form-check form-check--checkbox">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="check-1-0"
        />
        <label class="form-check-label" for="check-1-0"
          >По результатам собеседования</label
        >
      </div>
    </div>
  </div>
  <div class="col">
    <div class="mb-3">
      <label class="form-label form-label--third" for="address"
        >Адрес работы
        <a data-element="form-switch-link" href="#">Добавить</a></label
      >
      <div class="d-none" data-element="form-switch-link-target">
        <input
          class="form-control form-control--secondary"
          id="address"
          type="text"
          placeholder="Город"
        />
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label form-label--third" for="check-3-0"
        >Вид занятости
        <a data-element="form-switch-link" href="#">Добавить</a></label
      >
      <div class="d-none" data-element="form-switch-link-target">
        <div class="row row-cols-2 gy-2">
          <div class="col">
            <div class="form-check form-check--checkbox">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="check-3-0"
              />
              <label class="form-check-label" for="check-3-0"
                >Полная занятость</label
              >
            </div>
          </div>
          <div class="col">
            <div class="form-check form-check--checkbox">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="check-3-1"
              />
              <label class="form-check-label" for="check-3-1"
                >Проектная работа</label
              >
            </div>
          </div>
          <div class="col">
            <div class="form-check form-check--checkbox">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="check-3-2"
              />
              <label class="form-check-label" for="check-3-2"
                >Неполная занятость</label
              >
            </div>
          </div>
          <div class="col">
            <div class="form-check form-check--checkbox">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="check-3-3"
              />
              <label class="form-check-label" for="check-3-3"
                >Удаленная работа</label
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label form-label--third" for="select-3-0"
        >Рабочие дни
        <a data-element="form-switch-link" href="#">Добавить</a></label
      >
      <div class="d-none" data-element="form-switch-link-target">
        <div class="select select--base-secondary" id="select-3-0">
          <select
            name="state"
            data-element="select"
            data-placeholder="Выберите дни"
            data-dropdown-parent="#select-3-0"
            data-dropdown-css-class="select__dropdown"
          >
            <option value=""></option>
            <option value="1">Понедельник — Пятница</option>
            <option value="2">Понедельник — Пятница</option>
          </select>
          <div class="invalid-feedback">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. A, ratione.
          </div>
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label form-label--third" for="comment"
        >Комментарий к зарплате
        <a data-element="form-switch-link" href="#">Добавить</a></label
      >
      <div class="d-none" data-element="form-switch-link-target">
        <input
          class="form-control form-control--secondary"
          id="comment"
          type="text"
        />
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label form-label--third" for="select-4-0"
        >Время работы
        <a data-element="form-switch-link" href="#">Добавить</a></label
      >
      <div class="d-none" data-element="form-switch-link-target">
        <div class="row row-cols-auto align-items-center gy-2 mb-2">
          <div class="col flex-grow-1">
            <div class="select select--base-secondary" id="select-4-0">
              <select
                name="state"
                data-element="select"
                data-placeholder="от"
                data-dropdown-parent="#select-4-0"
                data-dropdown-css-class="select__dropdown"
              >
                <option value=""></option>
                <option value="1">9:00</option>
                <option value="2">10:00</option>
              </select>
            </div>
          </div>
          <div class="col flex-shrink-0">
            <span class="cf-2-1">—</span>
          </div>
          <div class="col flex-grow-1">
            <div class="select select--base-secondary" id="select-4-1">
              <select
                name="state"
                data-element="select"
                data-placeholder="до"
                data-dropdown-parent="#select-4-1"
                data-dropdown-css-class="select__dropdown"
              >
                <option value=""></option>
                <option value="1">9:00</option>
                <option value="2">10:00</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
