<h2>Требование к соискателю</h2>
<div class="form__row row row-cols-1 row-cols-md-2 row-cols-lg-3 align-items-end gy-3 mb-3">
  <div class="col">
    <label class="form-label form-label--third" for="exp">Опыт работы</label>
    <div class="select select--base-secondary" id="select-5-0">
      <select
        name="state"
        data-element="select"
        data-placeholder="Укажите свой опыт"
        data-dropdown-parent="#select-5-0"
        data-dropdown-css-class="select__dropdown"
      >
        <option value=""></option>
        <option value="1">Готовы взять без опыта</option>
        <option value="2">Готовы взять без опыта</option>
      </select>
      <div class="invalid-feedback">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A, ratione.
      </div>
    </div>
  </div>
  <div class="col">
    <label class="form-label form-label--third" for="exp">Образование</label>
    <div class="select select--base-secondary" id="select-5-1">
      <select
        name="state"
        data-element="select"
        data-placeholder="Укажите образование"
        data-dropdown-parent="#select-5-1"
        data-dropdown-css-class="select__dropdown"
      >
        <option value=""></option>
        <option value="1">Незаконченное высшее образование</option>
        <option value="2">Незаконченное высшее образование</option>
      </select>
      <div class="invalid-feedback">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A, ratione.
      </div>
    </div>
  </div>
  <div class="col">
    <div class="form-check form-check--checkbox">
      <input class="form-check-input" type="checkbox" value="" id="check-5-0" />
      <label class="form-check-label" for="check-5-0"
        >Готовы взять студента</label
      >
    </div>
  </div>
</div>
<div class="form__row-secondary row row-cols-1 row-cols-md-2 align-items-end gy-3 mb-3">
  <div class="col">
    <label class="form-label form-label--third" for="skills"
      >Ключевые навыки</label
    >
    <input
      class="form-control form-control--secondary"
      id="skills"
      type="text"
      placeholder="Навык"
    />
  </div>
  <div class="col">
    <button
      class="button button--base-fourth"
      type="button"
      data-element="form-input-add"
    >
      + Добавить ключевой навык
    </button>
  </div>
</div>
<div class="form__row-secondary row row-cols-1 row-cols-md-2 align-items-end gy-3 mb-3">
  <div class="col">
    <div class="mb-1">
      <label class="form-label form-label--third" for="radio-0-0"
        >Кто может откликаться?</label
      >
      <div class="form-check form-check--radio">
        <input
          class="form-check-input"
          type="radio"
          name="userstype[]"
          value=""
          id="radio-0-0"
        />
        <label class="form-check-label" for="radio-0-0"
          >Только соискатели резюме</label
        >
      </div>
    </div>
    <div class="mb-1">
      <div class="form-check form-check--radio">
        <input
          class="form-check-input"
          type="radio"
          name="userstype[]"
          value=""
          id="radio-0-1"
        />
        <label class="form-check-label" for="radio-0-1"
          >Можно и без рещюме</label
        >
      </div>
    </div>
  </div>
</div>
