<footer class="footer">
  <div class="container-fluid">
    <div class="row flex-column flex-md-row row-cols-auto justify-content-between align-items-center gy-3 text-center text-md-start">
      <div class="col">
        <a class="logo logo--base" href="#">
          <img src="img/logo-secondary.svg" alt="" />
        </a>
        <div class="text text--3">© 2020 Upwork.uz</div>
        <div class="text text--3">Сервис для поиска работы.</div>
      </div>
      <div class="col">
        <div class="row row-cols-auto justify-content-center justify-content-md-start gy-1 mb-1">
          <div class="col">
            <a class="cf-1-0 fw-bold text text--3" href="#">Найти вакансии</a>
          </div>
          <div class="col">
            <a class="cf-1-0 fw-bold text text--3" href="#"
              >Разместить резюме</a
            >
          </div>
        </div>
        <ul class="list list--secondary row row-cols-auto gy-1 justify-content-center justify-content-md-start">
          <li class="col">
            <a class="cf-1-0 text text--3" href="#">Контакты</a>
          </li>
          <li class="col">
            <a class="cf-1-0 text text--3" href="#">О нас</a>
          </li>
          <li class="col">
            <a class="cf-1-0 text text--3" href="#">Новости</a>
          </li>
          <li class="col">
            <a class="cf-1-0 text text--3" href="#">Помощь</a>
          </li>
          <li class="col">
            <a class="cf-1-0 text text--3" href="#">Условия использования</a>
          </li>
        </ul>
      </div>
      <div class="col">
        <div class="dropdown dropdown--lang">
          <button
            class="dropdown__toggle"
            type="button"
            id="dropdownMenuButton1"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            data-bs-offset="0,0"
            aria-expanded="false"
            data-bs-reference="parent"
          >
            <span class="link link--lang-third">
              <img class="link__toggle-img" src="img/img-ru.svg" alt="" />
              <span class="link__toggle-label">ru</span>
              <svg class="link__toggle-icon svg-icon">
                <use xlink:href="img/svgSprite.svg#icon-caret"></use>
              </svg>
            </span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li>
              <a class="dropdown-item" href="#">
                <div class="link link--lang-secondary">
                  <img
                    class="link__toggle-img"
                    src="img/img-ru.svg"
                    alt=""
                  />
                  <div class="link__toggle-label">ru</div>
                </div>
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="#">
                <div class="link link--lang-secondary">
                  <img
                    class="link__toggle-img"
                    src="img/img-uz.svg"
                    alt=""
                  />
                  <div class="link__toggle-label">uz</div>
                </div>
              </a>
            </li>
          </ul>
        </div>
        <a class="link link--third cf-3-1" href="#">
          <span class="link__label">Работодателю</span>
          <svg class="link__icon svg-icon">
            <use xlink:href="img/svgSprite.svg#icon-arrow-secondary"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</footer>
