<div class="mb-5">
  <h3>accordion</h3>
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          Accordion Item #1
        </button>
      </h2>
      <div
        id="collapseOne"
        class="accordion-collapse collapse show"
        aria-labelledby="headingOne"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <strong>This is the first item's accordion body.</strong> It is shown
          by default, until the collapse plugin adds the appropriate classes
          that we use to style each element. These classes control the overall
          appearance, as well as the showing and hiding via CSS transitions. You
          can modify any of this with custom CSS or overriding our default
          variables. It's also worth noting that just about any HTML can go
          within the <code>.accordion-body</code>, though the transition does
          limit overflow.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
        >
          Accordion Item #2
        </button>
      </h2>
      <div
        id="collapseTwo"
        class="accordion-collapse collapse"
        aria-labelledby="headingTwo"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <strong>This is the second item's accordion body.</strong> It is
          hidden by default, until the collapse plugin adds the appropriate
          classes that we use to style each element. These classes control the
          overall appearance, as well as the showing and hiding via CSS
          transitions. You can modify any of this with custom CSS or overriding
          our default variables. It's also worth noting that just about any HTML
          can go within the <code>.accordion-body</code>, though the transition
          does limit overflow.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseThree"
          aria-expanded="false"
          aria-controls="collapseThree"
        >
          Accordion Item #3
        </button>
      </h2>
      <div
        id="collapseThree"
        class="accordion-collapse collapse"
        aria-labelledby="headingThree"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <strong>This is the third item's accordion body.</strong> It is hidden
          by default, until the collapse plugin adds the appropriate classes
          that we use to style each element. These classes control the overall
          appearance, as well as the showing and hiding via CSS transitions. You
          can modify any of this with custom CSS or overriding our default
          variables. It's also worth noting that just about any HTML can go
          within the <code>.accordion-body</code>, though the transition does
          limit overflow.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mb-5">
  <h3>accordion--filter</h3>
  <div class="accordion accordion--filter" id="accordion-groups">
    <div class="accordion-item">
      <h3 class="accordion-header" id="heading-1-0">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapse-1-0"
          aria-expanded="true"
          aria-controls="collapse-1-0"
        >
          Категории
        </button>
      </h3>
      <div
        id="collapse-1-0"
        class="accordion-collapse collapse show"
        aria-labelledby="heading-1-0"
        data-bs-parent="#accordion-groups"
      >
        <div class="accordion-body">
          <div class="form-check form-check--checkbox-third">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="check-0-0"
            />
            <label class="form-check-label" for="check-0-0">
              IT, компьютеры, интернет
              <span class="badge badge--base">
                <span class="badge__label">123</span>
              </span>
            </label>
          </div>
          <div class="form-check form-check--checkbox-third">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="check-0-1"
            />
            <label class="form-check-label" for="check-0-1">
              Администрация, руководство среднего звена
              <span class="badge badge--base">
                <span class="badge__label">123</span>
              </span>
            </label>
          </div>
          <div class="form-check form-check--checkbox-third">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="check-0-2"
            />
            <label class="form-check-label" for="check-0-2">
              Бухгалтерия, аудит
              <span class="badge badge--base">
                <span class="badge__label">123</span>
              </span>
            </label>
          </div>
          <div class="form-check form-check--checkbox-third">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="check-0-3"
            />
            <label class="form-check-label" for="check-0-3">
              Гостинично-ресторанный бизнес, туризм
              <span class="badge badge--base">
                <span class="badge__label">123</span>
              </span>
            </label>
          </div>
          <a class="accordion__link" href="#">Полный список »</a>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h3 class="accordion-header" id="heading-1-1">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapse-1-1"
          aria-expanded="false"
          aria-controls="collapse-1-1"
        >
          Проверенные
        </button>
      </h3>
      <div
        id="collapse-1-1"
        class="accordion-collapse collapse"
        aria-labelledby="heading-1-1"
        data-bs-parent="#accordion-groups"
      >
        <div class="accordion-body">
          <div class="form-check form-check--checkbox-secondary">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="check-1-0"
            />
            <label class="form-check-label" for="check-1-0">
              <span class="title title--3 fw-bold">
                Только PRO
                <span class="badge badge--base-third">
                  <span class="badge__label">PRO</span>
                  <span class="badge__popup">
                    <span class="badge__popup-in">
                      <span class="badge__popup-content">
                        Профессиональное резюме — это резюме, в котором
                        соискатель указал опыт работы, образование и подтвердил
                        свою эл. почту.
                      </span>
                      <span class="badge__popup-foot">
                        <a href="#">Подробнее »</a>
                      </span>
                    </span>
                  </span>
                </span>
              </span>
            </label>
          </div>
          <div class="form-check form-check--checkbox-secondary">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="check-1-0"
            />
            <label class="form-check-label" for="check-1-0">
              <span class="title title--3 fw-bold">
                Только горячие вакансии
                <span class="badge badge--secondary">
                  <span class="badge__label">
                    <img src="img/icon-badge.svg" alt="" />
                  </span>
                  <span class="badge__popup">
                    <span class="badge__popup-in">
                      <span class="badge__popup-content">
                        Профессиональное резюме — это резюме, в котором
                        соискатель указал опыт работы, образование и подтвердил
                        свою эл. почту.
                      </span>
                      <span class="badge__popup-foot">
                        <a href="#">Подробнее »</a>
                      </span>
                    </span>
                  </span>
                </span>
              </span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h3 class="accordion-header" id="heading-1-2">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapse-1-2"
          aria-expanded="false"
          aria-controls="collapse-1-2"
        >
          Вид занятости
        </button>
      </h3>
      <div
        id="collapse-1-2"
        class="accordion-collapse collapse"
        aria-labelledby="heading-1-2"
        data-bs-parent="#accordion-groups"
      >
        <div class="accordion-body">
          <div class="form-check form-check--checkbox-third">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="check-1-0"
            />
            <label class="form-check-label" for="check-1-0">
              Полная занятость
              <span class="badge badge--base">
                <span class="badge__label">123</span>
              </span>
            </label>
          </div>
          <div class="form-check form-check--checkbox-third">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="check-1-1"
            />
            <label class="form-check-label" for="check-1-1">
              Неполная занятость
              <span class="badge badge--base">
                <span class="badge__label">123</span>
              </span>
            </label>
          </div>
          <div class="form-check form-check--checkbox-third">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="check-1-2"
            />
            <label class="form-check-label" for="check-1-2">
              Удаленная работа
              <span class="badge badge--base">
                <span class="badge__label">123</span>
              </span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h3 class="accordion-header" id="heading-1-3">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapse-1-3"
          aria-expanded="false"
          aria-controls="collapse-1-3"
        >
          Заработная плата
        </button>
      </h3>
      <div
        id="collapse-1-3"
        class="accordion-collapse collapse"
        aria-labelledby="heading-1-3"
        data-bs-parent="#accordion-groups"
      >
        <div class="accordion-body">
          <div class="accordion__payments">
            <div class="form-control-payment form-control-payment--base">
              <div class="form-control-payment__row">
                <div class="form-control-payment__column">ОТ</div>
                <div
                  class="
                    form-control-payment__column
                    form-control-payment__column--input
                  "
                >
                  <input
                    class="form-control form-control--secondary"
                    type="text"
                    placeholder="минимальная сумма ЗП"
                  />
                </div>
                <div class="form-control-payment__column">сум/мес</div>
              </div>
            </div>
            <div class="form-control-payment form-control-payment--base">
              <div class="form-control-payment__row">
                <div class="form-control-payment__column">ДО</div>
                <div
                  class="
                    form-control-payment__column
                    form-control-payment__column--input
                  "
                >
                  <input
                    class="form-control form-control--secondary"
                    type="text"
                    placeholder="максимальная сумма ЗП"
                  />
                </div>
                <div class="form-control-payment__column">сум/мес</div>
              </div>
            </div>
          </div>
          <div class="form-check form-check--checkbox-third">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="check-2-0"
            />
            <label class="form-check-label" for="check-2-0">
              Не указана
              <span class="badge badge--base">
                <span class="badge__label">123</span>
              </span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h3 class="accordion-header" id="heading-1-4">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collasep-1-4"
          aria-expanded="false"
          aria-controls="collasep-1-4"
        >
          Другое
        </button>
      </h3>
      <div
        id="collasep-1-4"
        class="accordion-collapse collapse"
        aria-labelledby="heading-1-4"
        data-bs-parent="#accordion-groups"
      >
        <div class="accordion-body">
          <div class="form-check form-check--checkbox-third">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="check-3-0"
            />
            <label class="form-check-label" for="check-3-0">
              Без опыта
              <span class="badge badge--base">
                <span class="badge__label">76</span>
              </span>
            </label>
          </div>
          <div class="form-check form-check--checkbox-third">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="check-3-1"
            />
            <label class="form-check-label" for="check-3-1">
              Студентам
              <span class="badge badge--base">
                <span class="badge__label">436</span>
              </span>
            </label>
          </div>
          <div class="form-check form-check--checkbox-third">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="check-3-2"
            />
            <label class="form-check-label" for="check-3-2">
              Людям с инвалидностью
              <span class="badge badge--base">
                <span class="badge__label">436</span>
              </span>
            </label>
          </div>
          <div class="form-check form-check--checkbox-third">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="check-3-3"
            />
            <label class="form-check-label" for="check-3-3">
              Отклик без резюме
              <span class="badge badge--base">
                <span class="badge__label">436</span>
              </span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h3 class="accordion-header" id="heading-1-5">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapse-1-5"
          aria-expanded="false"
          aria-controls="collapse-1-5"
        >
          Знание языков
        </button>
      </h3>
      <div
        id="collapse-1-5"
        class="accordion-collapse collapse"
        aria-labelledby="heading-1-5"
        data-bs-parent="#accordion-groups"
      >
        <div class="accordion-body">
          <div class="form-check form-check--checkbox-third">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="check-4-0"
            />
            <label class="form-check-label" for="check-4-0">
              Русский
              <span class="badge badge--base">
                <span class="badge__label">76</span>
              </span>
            </label>
          </div>
          <div class="form-check form-check--checkbox-third">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="check-4-1"
            />
            <label class="form-check-label" for="check-4-1">
              Узбекский
              <span class="badge badge--base">
                <span class="badge__label">436</span>
              </span>
            </label>
          </div>
          <div class="form-check form-check--checkbox-third">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="check-4-2"
            />
            <label class="form-check-label" for="check-4-2">
              Английский
              <span class="badge badge--base">
                <span class="badge__label">436</span>
              </span>
            </label>
          </div>
          <div class="form-check form-check--checkbox-third">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="check-4-3"
            />
            <label class="form-check-label" for="check-4-3">
              Немецкий
              <span class="badge badge--base">
                <span class="badge__label">436</span>
              </span>
            </label>
          </div>
          <div class="form-check form-check--checkbox-third">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="check-4-4"
            />
            <label class="form-check-label" for="check-4-4">
              Китайский
              <span class="badge badge--base">
                <span class="badge__label">436</span>
              </span>
            </label>
          </div>
          <div class="form-check form-check--checkbox-third">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="check-4-5"
            />
            <label class="form-check-label" for="check-4-5">
              Турецкий
              <span class="badge badge--base">
                <span class="badge__label">436</span>
              </span>
            </label>
          </div>
          <a class="accordion__link" href="#">Полный список »</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mb-5">
  <h3>accordion--secondary</h3>
  <div class="accordion accordion--secondary" id="accordion-groups">
    <div class="accordion-item">
      <h5 class="accordion-header" id="heading-2-0">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapse-2-0"
          aria-expanded="true"
          aria-controls="collapse-2-0"
        >
          <span class="accordion__button-row-wrap">
            <span class="accordion__button-row">
              <span class="accordion__button-col accordion__button-col--main">
                <span class="accordion__button-row-secondary">
                  <span
                    class="
                      accordion__button-col-secondary
                      accordion__button-col-secondary--aside
                    "
                  >
                    <span class="accordion__button-img-wrap">
                      <img src="img/icon-shop.svg" alt="" />
                    </span>
                  </span>
                  <span
                    class="
                      accordion__button-col-secondary
                      accordion__button-col-secondary--main
                    "
                  >
                    <span class="accordion__button-title">Наименование тарифа</span>
                    <span class="accordion__button-text">Кстати,  базовые сценарии поведения пользователей формируют глобальную экономическую сеть и при этом -  преданы социально-демократической анафеме. В рамках спецификации современных стандартов, сторонники тоталитаризма.</span>
                  </span>
                </span>
              </span>
              <span class="accordion__button-col accordion__button-col--aside">
                <span class="accordion__price">
                  <span class="accordion__price-value">от 10 270</span>
                  <span class="accordion__price-currency">сум/месяц</span>
                </span>
              </span>
            </span>
          </span>
        </button>
      </h5>
      <div
        id="collapse-2-0"
        class="accordion-collapse collapse show"
        aria-labelledby="heading-2-0"
        data-bs-parent="#accordion-groups"
      >
        <div class="accordion-body">
          <div class="form-check form-check--checkbox-third">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="check-0-0"
            />
            <label class="form-check-label" for="check-0-0">
              IT, компьютеры, интернет
              <span class="badge badge--base">
                <span class="badge__label">123</span>
              </span>
            </label>
          </div>
          <div class="form-check form-check--checkbox-third">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="check-0-1"
            />
            <label class="form-check-label" for="check-0-1">
              Администрация, руководство среднего звена
              <span class="badge badge--base">
                <span class="badge__label">123</span>
              </span>
            </label>
          </div>
          <div class="form-check form-check--checkbox-third">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="check-0-2"
            />
            <label class="form-check-label" for="check-0-2">
              Бухгалтерия, аудит
              <span class="badge badge--base">
                <span class="badge__label">123</span>
              </span>
            </label>
          </div>
          <div class="form-check form-check--checkbox-third">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="check-0-3"
            />
            <label class="form-check-label" for="check-0-3">
              Гостинично-ресторанный бизнес, туризм
              <span class="badge badge--base">
                <span class="badge__label">123</span>
              </span>
            </label>
          </div>
          <a class="accordion__link" href="#">Полный список »</a>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="mb-5">
  <h3>accordion--third</h3>
  <div class="accordion accordion--third" id="accordion-groups-3">
    <div class="accordion-item">
      <h5 class="accordion-header" id="heading-3-0">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapse-3-0"
          aria-expanded="true"
          aria-controls="collapse-3-0"
        >
          <span class="accordion__button-label">
            Есть над чем задуматься: сознание наших соотечественников не замутнено пропагандой!
          </span>
        </button>
      </h5>
      <div
        id="collapse-3-0"
        class="accordion-collapse collapse show"
        aria-labelledby="heading-3-0"
        data-bs-parent="#accordion-groups-3"
      >
        <div class="accordion-body">
          <p>
            Господа, высококачественный прототип будущего проекта напрямую зависит от инновационных методов управления процессами. В своём стремлении повысить качество жизни, они забывают, что новая модель организационной деятельности влечет за собой процесс внедрения и модернизации как самодостаточных, так и внешне зависимых концептуальных решений.
          </p>
          <p>
            В частности, постоянный количественный рост и сфера нашей активности требует от нас анализа анализа существующих паттернов поведения. С другой стороны, существующая теория обеспечивает широкому кругу (специалистов) участие в формировании экспериментов, поражающих по своей масштабности и грандиозности. Предприниматели в сети интернет ограничены исключительно образом мышления.
          </p>
          <p>
            Есть над чем задуматься: сделанные на базе интернет-аналитики выводы обнародованы. А ещё предприниматели в сети интернет лишь добавляют фракционных разногласий и превращены в посмешище, хотя само их существование приносит несомненную пользу обществу.
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h5 class="accordion-header" id="heading-4-0">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapse-4-0"
          aria-expanded="false"
          aria-controls="collapse-4-0"
        >
          <span class="accordion__button-label">
            Есть над чем задуматься: сознание наших соотечественников не замутнено пропагандой!
          </span>
        </button>
      </h5>
      <div
        id="collapse-4-0"
        class="accordion-collapse collapse"
        aria-labelledby="heading-4-0"
        data-bs-parent="#accordion-groups-3"
      >
        <div class="accordion-body">
          <p>
            Господа, высококачественный прототип будущего проекта напрямую зависит от инновационных методов управления процессами. В своём стремлении повысить качество жизни, они забывают, что новая модель организационной деятельности влечет за собой процесс внедрения и модернизации как самодостаточных, так и внешне зависимых концептуальных решений.
          </p>
          <p>
            В частности, постоянный количественный рост и сфера нашей активности требует от нас анализа анализа существующих паттернов поведения. С другой стороны, существующая теория обеспечивает широкому кругу (специалистов) участие в формировании экспериментов, поражающих по своей масштабности и грандиозности. Предприниматели в сети интернет ограничены исключительно образом мышления.
          </p>
          <p>
            Есть над чем задуматься: сделанные на базе интернет-аналитики выводы обнародованы. А ещё предприниматели в сети интернет лишь добавляют фракционных разногласий и превращены в посмешище, хотя само их существование приносит несомненную пользу обществу.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
