<div class="mb-3">
  <h3>badge--base</h3>
  <div class="badge badge--base">
    <div class="badge__label">123</div>
  </div>
</div>
<div class="mb-3">
  <h3>badge--base-second</h3>
  <div class="badge badge--base-second">
    <div class="badge__label">12</div>
  </div>
</div>
<div class="mb-3">
  <h3>badge--base-third</h3>
  <div class="badge badge--base-third">
    <div class="badge__label">PRO</div>
    <div class="badge__popup">
      <div class="badge__popup-in">
        <div class="badge__popup-content">
          Профессиональное резюме — это резюме, в котором соискатель указал опыт работы, образование и подтвердил свою эл. почту.
        </div>
        <div class="badge__popup-foot">
          <a href="#">Подробнее »</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mb-3">
  <h3>badge--secondary</h3>
  <div class="badge badge--secondary">
    <div class="badge__label">
      <img src="img/icon-badge.svg" alt="">
    </div>
    <div class="badge__popup">
      <div class="badge__popup-in">
        <div class="badge__popup-content">
          Профессиональное резюме — это резюме, в котором соискатель указал опыт работы, образование и подтвердил свою эл. почту.
        </div>
        <div class="badge__popup-foot">
          <a href="#">Подробнее »</a>
        </div>
      </div>
    </div>
  </div>
  <div class="badge badge--secondary">
    <div class="badge__label">
      <img src="img/icon-check-3.svg" alt="">
    </div>
    <div class="badge__popup">
      <div class="badge__popup-in">
        <div class="badge__popup-content">
          Профессиональное резюме — это резюме, в котором соискатель указал опыт работы, образование и подтвердил свою эл. почту.
        </div>
        <div class="badge__popup-foot">
          <a href="#">Подробнее »</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mb-3">
  <h3>badge--third</h3>
  <div class="badge badge--third">
    <img src="img/icon-check-3.svg" alt="">
  </div>
</div>

<div class="mb-3">
  <h3>badge--fourth</h3>
  <div class="badge badge--fourth">-20%</div>
</div>
