<div class="mb-5 pb-5">
  <div class="mb-3">
    <h3>button--base</h3>
    <button class="button button--base" type="button">Найти вакансии</button>
    <a class="button button--base" href="#">Найти вакансии</a>
  </div>

  <div class="mb-3">
    <h3>button--base-second</h3>
    <button class="button button--base-second" type="button">
      Да, удалить
    </button>
    <a class="button button--base-second" href="#">Да, удалить</a>
  </div>

  <div class="mb-3">
    <h3>button--base-third</h3>
    <button class="button button--base-third" type="button">
      Нет, не удалять
    </button>
    <a class="button button--base-third" href="#">Нет, не удалять</a>
  </div>

  <div class="mb-3">
    <h3>button--base-fourth</h3>
    <button class="button button--base-fourth" type="button">
      + Добавить ключевой навык
    </button>
    <a class="button button--base-fourth" href="#">+ Добавить ключевой навык</a>
  </div>

  <div class="mb-3">
    <h3>button--base-fifth</h3>
    <div class="p-2" style="background-color: #000">
      <button class="button button--base-fifth" type="button">
        Сохранить настройки
      </button>
      <a class="button button--base-fifth" href="#">Сохранить настройки</a>
    </div>
  </div>
  
  <div class="mb-3">
    <h3>button--base-seventh</h3>

    <button class="button button--base-seventh" type="button">Удалить</button>
    <a class="button button--base-seventh" href="#">Удалить</a>
  </div>
  
  <div class="mb-3">
    <h3>button--base-seventh-second</h3>

    <button class="button button--base-sevent-second" type="button">
      <div class="button__label">
        Удалить
      </div>
      <svg class='svg-icon'>
        <use xlink:href='img/svgSprite.svg#icon-garbage'></use>
      </svg>
    </button>
    <a class="button button--base-sevent-second" href="#">
      <div class="button__label">
        Удалить
      </div>
      <svg class='svg-icon'>
        <use xlink:href='img/svgSprite.svg#icon-garbage'></use>
      </svg>
    </a>
  </div>

  <div class="mb-3">
    <h3>button--base-sixth</h3>
    <div class="p-2" style="background-color: #000">
      <button class="button button--base-sixth" type="button">В корзину</button>
      <a class="button button--base-sixth" href="#">В корзину</a>
    </div>
  </div>
</div>

<div class="mb-5 pb-5">
  <div class="mb-3">
    <h3>button--secondary</h3>
    <div class="p-2" style="background-color: #000">
      <button class="button button--secondary" type="button">Войти</button>
      <a class="button button--secondary" href="#">Войти</a>
    </div>
  </div>

  <div class="mb-3">
    <h3>button--secondary-second</h3>
    <div class="p-2" style="background-color: #000">
      <a class="button button--secondary-second" href="#">
        <svg class="button__icon svg-icon">
          <use xlink:href="img/svgSprite.svg#icon-locked"></use>
        </svg>
        <span class="button__label">Войти</span>
      </a>
      <button class="button button--secondary-second" type="button">
        <svg class="button__icon svg-icon">
          <use xlink:href="img/svgSprite.svg#icon-locked"></use>
        </svg>
        <span class="button__label">Войти</span>
      </button>
    </div>
  </div>

  <div class="mb-3">
    <h3>button--secondary-third</h3>
    <button class="button button--secondary-third" type="button">
      Все резюме автора
    </button>
    <a class="button button--secondary-third" href="#">Все резюме автора</a>
  </div>

  <div class="mb-3">
    <h3>button--secondary-fourth</h3>
    <button class="button button--secondary-fourth" type="button">
      Все резюме автора
    </button>
    <a class="button button--secondary-fourth" href="#">Все резюме автора</a>
  </div>
</div>

<div class="mb-5 pb-5">
  <div class="mb-3">
    <h3>button--third</h3>
    <button class="button button--third" type="button">Очистить</button>
    <a class="button button--third" href="#">Очистить</a>
  </div>

  <div class="mb-3">
    <h3>button--third-second</h3>
    <button class="button button--third-second" type="button">
      Заменить фото
    </button>
    <a class="button button--third-second" href="#">Заменить фото</a>
  </div>

  <div class="mb-3">
    <h3>button--third-three</h3>
    <button class="button button--third-three" type="button">
      Удалить фото
    </button>
    <a class="button button--third-three" href="#">Удалить фото</a>
  </div>

  <div class="mb-3">
    <h3>button--third-fourth</h3>
    <button class="button button--third-fourth" type="button">
      <svg class="svg-icon">
        <use xlink:href="img/svgSprite.svg#icon-cog"></use>
      </svg>
      <span class="button__label">Удалить фото</span>
    </button>
    <a class="button button--third-fourth" href="#">
      <svg class="svg-icon">
        <use xlink:href="img/svgSprite.svg#icon-cog"></use>
      </svg>
      <span class="button__label">Удалить фото</span>
    </a>
  </div>
</div>

<div class="mb-3">
  <h3>button--bookmark</h3>
  <button class="button button--bookmark" type="button">
    <div class="button__icon-wrap">
      <img class="button__icon--disabled" src="img/icon-bookmark-0.svg" alt="" />
      <img class="button__icon--enabled" src="img/icon-bookmark-1.svg" alt="" />
    </div>
    <div class="button__label">В избранное</div>
  </button>
  <a class="button button--bookmark active" href="#">
    <div class="button__icon-wrap">
      <img class="button__icon--disabled" src="img/icon-bookmark-0.svg" alt="" />
      <img class="button__icon--enabled" src="img/icon-bookmark-1.svg" alt="" />
    </div>
    <div class="button__label">В избранное</div>
  </a>
</div>
