<div class="mb-3">
  <h3>button-close--base</h3>
  <button class="button-close button-close--base" type="button">
    <svg class='svg-icon'>
      <use xlink:href='img/svgSprite.svg#icon-close'></use>
    </svg>
  </button>
</div>

<div class="mb-3">
  <h3>button-close--secondary</h3>
  <button class="button-close button-close--secondary" type="button">
    <svg class='svg-icon'>
      <use xlink:href='img/svgSprite.svg#icon-close'></use>
    </svg>
  </button>
</div>

<div class="mb-3">
  <h3>button-close--secondary-second</h3>
  <button class="button-close button-close--secondary-second" type="button">
    <svg class='svg-icon'>
      <use xlink:href='img/svgSprite.svg#icon-close'></use>
    </svg>
  </button>
</div>