<div class="mb-3">
  <div class="card card--base">
    <div class="card__in">
      <div class="card__aside">
        <div class="card__img card__img--logo">
          <img src="img/img-card-2.png" alt="" />
        </div>
        <div class="card__company-about">
          <div class="card__company">Darwin Global</div>
          <a href="#">Вакансии компании »</a>
        </div>
      </div>
      <div class="card__main">
        <div class="card__head">
          <div class="card__head-main">
            <h3 class="card__title">
              Senior Front End Developer
              <span class="card__badge">
                <span class="badge badge--secondary">
                  <span class="badge__label">
                    <img src="img/icon-badge.svg" alt="" />
                  </span>
                  <span class="badge__popup">
                    <span class="badge__popup-in">
                      <span class="badge__popup-content">
                        Профессиональное резюме — это резюме, в котором
                        соискатель указал опыт работы, образование и подтвердил
                        свою эл. почту.
                      </span>
                      <span class="badge__popup-foot">
                        <a href="#">Подробнее »</a>
                      </span>
                    </span>
                  </span>
                </span>
              </span>
            </h3>
            <div class="card__list">
              <div class="card__list-item">
                <a class="card__company-link" href="#">Darwin Global</a>
              </div>
              <div class="card__list-item">
                <div class="card__icon-text">
                  <svg class="svg-icon">
                    <use xlink:href="img/svgSprite.svg#icon-loc"></use>
                  </svg>
                  <span>Ташкент</span>
                </div>
              </div>
            </div>
            <div class="card__price">от 2 500 000 сум/мес.</div>
          </div>
          <div class="card__head-aside">
            <a class="button button--bookmark active" href="#">
              <div class="button__icon-wrap">
                <img
                  class="button__icon--disabled"
                  src="img/icon-bookmark-0.svg"
                  alt=""
                />
                <img
                  class="button__icon--enabled"
                  src="img/icon-bookmark-1.svg"
                  alt=""
                />
              </div>
              <div class="button__label">В избранное</div>
            </a>
          </div>
        </div>
        <div class="card__body">
          Darwin Global — Провайдер прозрачного SEO-сервиса. Мы можем
          профессионально настроить любую рекламу, разработать продающий сайт,
          настроить веб-аналитику.
        </div>
        <div class="card__foot">
          <div class="card__date">Сегодня</div>
          <a class="card__link card__link--base" href="#">Откликнуться »</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mb-3">
  <div class="card card--base">
    <div class="card__in">
      <div class="card__main">
        <div class="card__head">
          <div class="card__head-main">
            <h3 class="card__title">
              Senior Front End Developer
              <div class="dropdown dropdown--secondary">
                <button
                  class="dropdown__toggle"
                  type="button"
                  id="dropdown-2"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  data-bs-offset="0,0"
                  aria-expanded="false"
                  data-bs-reference="parent"
                >
                  <span class="dropdown__label">Вакансия скрыта</span>
                  <svg class="dropdown__icon svg-icon">
                    <use xlink:href="img/svgSprite.svg#icon-caret"></use>
                  </svg>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdown-2">
                  <li>
                    <a class="dropdown-item" href="#">Удалить</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Копировать</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Редактировать</a>
                  </li>
                </ul>
              </div>
            </h3>
            <div class="card__list">
              <div class="card__list-item">
                <a class="card__company-link" href="#">Darwin Global</a>
              </div>
              <div class="card__list-item">
                <div class="card__icon-text">
                  <svg class="svg-icon">
                    <use xlink:href="img/svgSprite.svg#icon-loc"></use>
                  </svg>
                  <span>Ташкент</span>
                </div>
              </div>
            </div>
            <div class="card__price">от 2 500 000 сум/мес.</div>
          </div>
          <div class="card__head-aside">
            <a class="link link--fourth" href="#">
              <span class="link__value">7</span>
              <span class="link__label">откликов</span>
            </a>
          </div>
        </div>
        <div class="card__foot card__foot--secondary">
          <a class="card__link card__link--base-secondary" href="#"
            >Подобрать резюме</a
          >
          <div class="dropdown dropdown--base">
            <button
              class="dropdown__toggle"
              type="button"
              id="dropdown-2"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              data-bs-offset="0,0"
              data-bs-reference="parent"
            >
              <span class="link link--base-fourth">
                <span class="link__label">Ещё</span>
                <div class="button-close button-close--secondary">
                  <svg class="svg-icon">
                    <use
                      xlink:href="img/svgSprite.svg#icon-angle-secondary"
                    ></use>
                  </svg>
                </div>
              </span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdown-2">
              <li>
                <a class="dropdown-item" href="#">Удалить</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Копировать</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Редактировать</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mb-3">
  <div class="card card--base">
    <div class="card__in">
      <div class="card__aside card__aside--secondary">
        <div class="card__img card__img--logo-secondary">
          <img src="img/img-card-2.png" alt="" />
        </div>
      </div>
      <div class="card__main">
        <div class="card__head">
          <div class="card__head-main">
            <h3 class="card__title">Senior Front End Developer</h3>
            <div class="card__price">от 2 500 000 сум/мес.</div>
            <div class="card__list">
              <div class="card__list-item">
                <a class="card__company-link" href="#">Darwin Global</a>
              </div>
              <div class="card__list-item">
                <div class="card__icon-text">
                  <svg class="svg-icon">
                    <use xlink:href="img/svgSprite.svg#icon-loc"></use>
                  </svg>
                  <span>Ташкент</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mb-3">
  <div class="card card--base">
    <div class="card__in">
      <div class="card__aside">
        <div class="card__img card__img--avatar">
          <img src="img/img-card-1.png" alt="" />
        </div>
      </div>
      <div class="card__main">
        <div class="card__head">
          <div class="card__head-main">
            <h3 class="card__title">
              Middle Full Stack Web Developer
              <span class="card__badge">
                <span class="badge badge--base-third">
                  <span class="badge__label">PRO</span>
                  <span class="badge__popup">
                    <span class="badge__popup-in">
                      <span class="badge__popup-content">
                        Профессиональное резюме — это резюме, в котором
                        соискатель указал опыт работы, образование и подтвердил
                        свою эл. почту.
                      </span>
                      <span class="badge__popup-foot">
                        <a href="#">Подробнее »</a>
                      </span>
                    </span>
                  </span>
                </span>
              </span>
            </h3>
            <div class="card__list">
              <div class="card__list-item">
                <span class="card__badge card__badge--secondary">
                  <span class="badge badge--base-third">
                    <span class="badge__label">PRO</span>
                    <span class="badge__popup">
                      <span class="badge__popup-in">
                        <span class="badge__popup-content">
                          Профессиональное резюме — это резюме, в котором
                          соискатель указал опыт работы, образование и
                          подтвердил свою эл. почту.
                        </span>
                        <span class="badge__popup-foot">
                          <a href="#">Подробнее »</a>
                        </span>
                      </span>
                    </span>
                  </span>
                </span>
                <a class="card__name" href="#">Валерия Валериевна</a>
              </div>
              <div class="card__list-item">
                <div class="card__icon-text">
                  <svg class="svg-icon">
                    <use xlink:href="img/svgSprite.svg#icon-loc"></use>
                  </svg>
                  <span>Ташкент</span>
                </div>
              </div>
              <div class="card__list-item">32 года</div>
              <div class="card__list-item">Высшее образование</div>
              <div class="card__list-item">
                Неполная занятость, удаленная работа
              </div>
            </div>
          </div>
          <div class="card__head-aside">
            <a class="button button--bookmark active" href="#">
              <div class="button__icon-wrap">
                <img
                  class="button__icon--disabled"
                  src="img/icon-bookmark-0.svg"
                  alt=""
                />
                <img
                  class="button__icon--enabled"
                  src="img/icon-bookmark-1.svg"
                  alt=""
                />
              </div>
              <div class="button__label">Сохранить резюме</div>
            </a>
          </div>
        </div>
        <div class="card__body">
          <div class="card__list-secondary">
            <div class="card__list-secondary-item">
              <div class="card__list">
                <div class="card__list-item">
                  SMM специалист в Dental Center, Одесса
                </div>
                <div class="card__list-item">2 года 2 месяца</div>
              </div>
            </div>
            <div class="card__list-secondary-item">
              <div class="card__list">
                <div class="card__list-item">
                  SMM специалист в Dental Center, Одесса
                </div>
                <div class="card__list-item">2 года 2 месяца</div>
              </div>
            </div>
          </div>
        </div>
        <div class="card__foot">
          <div class="card__date">Сегодня</div>
          <a class="card__link card__link--base" href="#">Откликнуться »</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mb-3">
  <div class="card card--base">
    <div class="card__in">
      <div class="card__aside">
        <div class="card__img card__img--avatar">
          <img src="img/img-card-1.png" alt="" />
        </div>
      </div>
      <div class="card__main">
        <div class="card__head">
          <div class="card__head-main">
            <h3 class="card__title">
              Middle Full Stack Web Developer
              <span class="card__badge">
                <span class="badge badge--base-third">
                  <span class="badge__label">PRO</span>
                  <span class="badge__popup">
                    <span class="badge__popup-in">
                      <span class="badge__popup-content">
                        Профессиональное резюме — это резюме, в котором
                        соискатель указал опыт работы, образование и подтвердил
                        свою эл. почту.
                      </span>
                      <span class="badge__popup-foot">
                        <a href="#">Подробнее »</a>
                      </span>
                    </span>
                  </span>
                </span>
              </span>
            </h3>
            <div class="card__list">
              <div class="card__list-item">
                <span class="card__badge card__badge--secondary">
                  <span class="badge badge--base-third">
                    <span class="badge__label">PRO</span>
                    <span class="badge__popup">
                      <span class="badge__popup-in">
                        <span class="badge__popup-content">
                          Профессиональное резюме — это резюме, в котором
                          соискатель указал опыт работы, образование и
                          подтвердил свою эл. почту.
                        </span>
                        <span class="badge__popup-foot">
                          <a href="#">Подробнее »</a>
                        </span>
                      </span>
                    </span>
                  </span>
                </span>
                <a class="card__name" href="#">Валерия Валериевна</a>
              </div>
              <div class="card__list-item">
                <div class="card__icon-text">
                  <svg class="svg-icon">
                    <use xlink:href="img/svgSprite.svg#icon-loc"></use>
                  </svg>
                  <span>Ташкент</span>
                </div>
              </div>
              <div class="card__list-item">32 года</div>
              <div class="card__list-item">Высшее образование</div>
              <div class="card__list-item">
                Неполная занятость, удаленная работа
              </div>
            </div>
          </div>
          <div class="card__head-aside">
            <a class="button button--bookmark" href="#">
              <div class="button__icon-wrap">
                <img
                  class="button__icon--disabled"
                  src="img/icon-bookmark-0.svg"
                  alt=""
                />
                <img
                  class="button__icon--enabled"
                  src="img/icon-bookmark-1.svg"
                  alt=""
                />
              </div>
            </a>
          </div>
        </div>
        <div class="card__body">
          <div class="card__list-secondary">
            <div class="card__list-secondary-item">
              <div class="card__list">
                <div class="card__list-item">
                  SMM специалист в Dental Center, Одесса
                </div>
                <div class="card__list-item">2 года 2 месяца</div>
              </div>
            </div>
            <div class="card__list-secondary-item">
              <div class="card__list">
                <div class="card__list-item">
                  SMM специалист в Dental Center, Одесса
                </div>
                <div class="card__list-item">2 года 2 месяца</div>
              </div>
            </div>
          </div>
        </div>
        <div class="card__foot">
          <div class="card__date">Сегодня</div>
          <a class="card__link card__link--base" href="#">Откликнуться »</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mb-3">
  <div class="card card--base">
    <div class="card__in">
      <div class="card__main">
        <div class="card__head">
          <div class="card__head-main">
            <h3 class="card__title">
              Контент-менеджер (реклама, SMM)
              <span class="card__badge">
                <span class="badge badge--base-third">
                  <span class="badge__label">PRO</span>
                  <span class="badge__popup">
                    <span class="badge__popup-in">
                      <span class="badge__popup-content">
                        Профессиональное резюме — это резюме, в котором
                        соискатель указал опыт работы, образование и подтвердил
                        свою эл. почту.
                      </span>
                      <span class="badge__popup-foot">
                        <a href="#">Подробнее »</a>
                      </span>
                    </span>
                  </span>
                </span>
              </span>
            </h3>
            <div class="card__list">
              <div class="card__list-item">
                <span class="card__badge card__badge--secondary">
                  <span class="badge badge--base-third">
                    <span class="badge__label">PRO</span>
                    <span class="badge__popup">
                      <span class="badge__popup-in">
                        <span class="badge__popup-content">
                          Профессиональное резюме — это резюме, в котором
                          соискатель указал опыт работы, образование и
                          подтвердил свою эл. почту.
                        </span>
                        <span class="badge__popup-foot">
                          <a href="#">Подробнее »</a>
                        </span>
                      </span>
                    </span>
                  </span>
                </span>
                <a class="card__name" href="#">Валерия Валериевна</a>
              </div>
              <div class="card__list-item">
                <div class="card__icon-text">
                  <svg class="svg-icon">
                    <use xlink:href="img/svgSprite.svg#icon-loc"></use>
                  </svg>
                  <span>Ташкент</span>
                </div>
              </div>
              <div class="card__list-item">32 года</div>
              <div class="card__list-item">Высшее образование</div>
              <div class="card__list-item">
                Неполная занятость, удаленная работа
              </div>
            </div>
          </div>
          <div class="card__head-aside">
            <button class="button-close button-close--secondary" type="button">
              <svg class="svg-icon">
                <use xlink:href="img/svgSprite.svg#icon-close"></use>
              </svg>
            </button>
          </div>
        </div>
        <div class="card__body">
          <div class="card__list-secondary">
            <div class="card__list-secondary-item">
              <div class="card__list">
                <div class="card__list-item">
                  SMM специалист в Dental Center, Одесса
                </div>
                <div class="card__list-item">2 года 2 месяца</div>
              </div>
            </div>
            <div class="card__list-secondary-item">
              <div class="card__list">
                <div class="card__list-item">
                  SMM специалист в Dental Center, Одесса
                </div>
                <div class="card__list-item">2 года 2 месяца</div>
              </div>
            </div>
          </div>
        </div>
        <div class="card__foot">
          <div class="card__date">Сегодня</div>
          <a class="card__link card__link--base" href="#">Редактировать »</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mb-3">
  <div class="card card--base">
    <div class="card__in">
      <div class="card__main">
        <div class="card__head">
          <div class="card__head-main">
            <h3 class="card__title">Senior Front End Developer</h3>
            <div class="card__list">
              <div class="card__list-item">
                <a class="card__company-link" href="#">Darwin Global</a>
              </div>
              <div class="card__list-item">
                <div class="card__icon-text">
                  <svg class="svg-icon">
                    <use xlink:href="img/svgSprite.svg#icon-loc"></use>
                  </svg>
                  <span>Ташкент</span>
                </div>
              </div>
            </div>
            <div class="card__price">от 2 500 000 сум/мес.</div>
          </div>
          <div class="card__head-aside">
            <div class="card__date">Сегодня</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mb-3">
  <div class="card card--base">
    <div class="card__in">
      <div class="card__main">
        <div class="card__head">
          <div class="card__head-main">
            <h3 class="card__title">
              Senior Front End Developer
              <span class="card__badge">
                <span class="badge badge--base-third">
                  <span class="badge__label">PRO</span>
                  <span class="badge__popup">
                    <span class="badge__popup-in">
                      <span class="badge__popup-content">
                        Профессиональное резюме — это резюме, в котором
                        соискатель указал опыт работы, образование и подтвердил
                        свою эл. почту.
                      </span>
                      <span class="badge__popup-foot">
                        <a href="#">Подробнее »</a>
                      </span>
                    </span>
                  </span>
                </span>
              </span>
            </h3>
            <div class="card__list">
              <div class="card__list-item">
                <a class="card__company-link" href="#">Darwin Global</a>
              </div>
              <div class="card__list-item">
                <div class="card__icon-text">
                  <svg class="svg-icon">
                    <use xlink:href="img/svgSprite.svg#icon-loc"></use>
                  </svg>
                  <span>Ташкент</span>
                </div>
              </div>
            </div>
            <div class="card__price">от 2 500 000 сум/мес.</div>
          </div>
          <div class="card__head-aside">
            <button class="button-close button-close--secondary" type="button">
              <svg class="svg-icon">
                <use xlink:href="img/svgSprite.svg#icon-close"></use>
              </svg>
            </button>
            <div class="card__date">Сегодня</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mb-3">
  <div class="card card--base">
    <div class="card__in">
      <div class="card__main">
        <div class="card__head">
          <div class="card__head-main">
            <h3 class="card__title">
              Middle Full Stack Web Developer
              <span class="card__badge">
                <span class="badge badge--base-third">
                  <span class="badge__label">PRO</span>
                  <span class="badge__popup">
                    <span class="badge__popup-in">
                      <span class="badge__popup-content">
                        Профессиональное резюме — это резюме, в котором
                        соискатель указал опыт работы, образование и подтвердил
                        свою эл. почту.
                      </span>
                      <span class="badge__popup-foot">
                        <a href="#">Подробнее »</a>
                      </span>
                    </span>
                  </span>
                </span>
              </span>
            </h3>
            <div class="card__list">
              <div class="card__list-item">
                <a class="card__company-link" href="#">Sarkor telecom </a>
              </div>
              <div class="card__list-item">
                <div class="card__icon-text">
                  <svg class="svg-icon">
                    <use xlink:href="img/svgSprite.svg#icon-loc"></use>
                  </svg>
                  <span>Ташкент</span>
                </div>
              </div>
            </div>
            <div class="card__price">от 2 500 000 сум/мес.</div>
          </div>
          <div class="card__head-aside">
            <div class="card__img card__img--company">
              <img src="img/img-card-0.png" alt="" />
            </div>
          </div>
        </div>
        <div class="card__body">
          <div class="card__content card__content--secondary">
            Полная занятость, удаленная работа. Опыт работы от 2 лет. Высшее
            образование. AutoBidMaster is a dynamically growing US-based company
            with global ambitions...
          </div>
        </div>
        <div class="card__foot">
          <div class="card__date">Сегодня</div>
          <a class="card__link" href="#">Откликнуться »</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mb-3">
  <div class="card card--base">
    <div class="card__in">
      <div class="card__main">
        <div class="card__head">
          <div class="card__head-main">
            <h3 class="card__title">Финансовый аналитик</h3>
            <div class="card__price">от 2 500 000 сум/мес.</div>
            <div class="card__list">
              <div class="card__list-item">
                <a class="card__company-link" href="#">Sarkor telecom </a>
              </div>
              <div class="card__list-item">
                <div class="card__icon-text">
                  <svg class="svg-icon">
                    <use xlink:href="img/svgSprite.svg#icon-loc"></use>
                  </svg>
                  <span>Ташкент</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mb-3">
  <a class="card card--secondary" href="#">
    <div class="card__aside">
      <div class="card__img-wrap">
        <img src="img/img-card-category-0.svg" alt="" />
      </div>
    </div>
    <div class="card__main">Вакансии по категориям</div>
  </a>
</div>

<div class="mb-3">
  <a class="card card--third" href="#">
    <div class="card__img-wrap">
      <img src="img/img-card-brands-0.png" alt="" />
    </div>
    <div class="card__label">Яндекс</div>
  </a>
</div>

<div class="mb-3">
  <div class="card card--fourth">
    <div class="card__head">
      <div class="card__img card__img--main">
        <img src="img/img-card-3.png" alt="" />
      </div>
      <div class="card__name-wrap">
        <div class="card__name">Панченко Роман Владимирович</div>
      </div>
      <hr class="card__devider" />
    </div>

    <div class="card__body">
      <span class="icon-text icon-text--base">
        <span class="icon-text__icon">
          <svg class="svg-icon">
            <use xlink:href="img/svgSprite.svg#icon-loc"></use>
          </svg>
        </span>

        <span class="icon-text__label">Ташкент</span>
      </span>
      <span class="icon-text icon-text--base">
        <span class="icon-text__icon">
          <svg class="svg-icon">
            <use xlink:href="img/svgSprite.svg#icon-calendar"></use>
          </svg>
        </span>

        <span class="icon-text__label">36 лет</span>
      </span>
      <span class="icon-text icon-text--base">
        <span class="icon-text__icon">
          <svg class="svg-icon">
            <use xlink:href="img/svgSprite.svg#icon-check-secondary"></use>
          </svg>
        </span>

        <span class="icon-text__label">
          Соискатель указал
          <span class="badge badge--secondary">
            <span class="badge__label">
              <img src="img/icon-check-3.svg" alt="" />
            </span>
            <span class="badge__popup">
              <span class="badge__popup-in">
                <span class="badge__popup-content">
                  Профессиональное резюме — это резюме, в котором соискатель
                  указал опыт работы, образование и подтвердил свою эл. почту.
                </span>
                <span class="badge__popup-foot">
                  <a href="#">Подробнее »</a>
                </span>
              </span>
            </span>
          </span>
          телефон и эл. почту
        </span>
      </span>
    </div>
    <div class="card__foot">
      <div class="card__foot-content">
        Чтобы взаимодействовать с соискателем, <a href="#">войдите</a> как работодатель или <a href="#">зарегистрируйтесь</a>.
      </div>
    </div>
  </div>
</div>

<div class="mb-3">
  <div class="card card--fourth">
    <div class="card__head">
      <div class="card__img card__img--main">
        <img src="img/img-card-3.png" alt="" />
      </div>
      <div class="card__name-wrap">
        <div class="card__name">Панченко Роман Владимирович</div>
      </div>
      <hr class="card__devider" />
    </div>

    <div class="card__body">
      <span class="icon-text icon-text--base">
        <span class="icon-text__icon">
          <svg class="svg-icon">
            <use xlink:href="img/svgSprite.svg#icon-loc"></use>
          </svg>
        </span>

        <span class="icon-text__label">Ташкент</span>
      </span>
      <span class="icon-text icon-text--base">
        <span class="icon-text__icon">
          <svg class="svg-icon">
            <use xlink:href="img/svgSprite.svg#icon-calendar"></use>
          </svg>
        </span>

        <span class="icon-text__label">36 лет</span>
      </span>
      <span class="icon-text icon-text--base">
        <span class="icon-text__icon">
          <svg class="svg-icon">
            <use xlink:href="img/svgSprite.svg#icon-check-secondary"></use>
          </svg>
        </span>

        <span class="icon-text__label">
          Соискатель указал
          <span class="badge badge--secondary">
            <span class="badge__label">
              <img src="img/icon-check-3.svg" alt="" />
            </span>
            <span class="badge__popup">
              <span class="badge__popup-in">
                <span class="badge__popup-content">
                  Профессиональное резюме — это резюме, в котором соискатель
                  указал опыт работы, образование и подтвердил свою эл. почту.
                </span>
                <span class="badge__popup-foot">
                  <a href="#">Подробнее »</a>
                </span>
              </span>
            </span>
          </span>
          телефон и эл. почту
        </span>
      </span>
    </div>
    <div class="card__foot">
      <div class="card__foot-buttons">
        <a class="button button--base" href="#">Предложить</a>
        <a class="button button--secondary-third" href="#">Все резюме автора</a>
      </div>
    </div>
  </div>
</div>

<div class="mb-3">
  <div class="card card--fourth">
    <div class="card__head">
      <div class="card__img card__img--company">
        <img src="img/img-card-4.png" alt="" />
      </div>
      <div class="card__name-wrap">
        <div class="card__name">Нефтяная компания «Лукойл»</div>
      </div>
      <div class="card__list">
        <div class="card__list-item">Оптовая торговля, дистрибуция, импорт, экспорт</div>
        <div class="card__list-item">10–50 сотрудников</div>
      </div>
      <hr class="card__devider" />
    </div>

    <div class="card__body">
      <span class="icon-text icon-text--base">
        <span class="icon-text__icon">
          <svg class="svg-icon">
            <use xlink:href="img/svgSprite.svg#icon-loc"></use>
          </svg>
        </span>

        <span class="icon-text__label">
          <span class="list list--eigth">
            <span class="list__item">
              Ташкент, Ташкентская область, Чиланзарский район, д. 1/2
            </span>
            <span class="list__item">
              <a class="link link--fifth" href="#">6 км от центра</a>
            </span>
            <span class="list__item">
              <a href="#">Показать на карте</a>
            </span>
          </span>
        </span>
      </span>
      <span class="icon-text icon-text--base">
        <span class="icon-text__icon">
          <svg class="svg-icon">
            <use xlink:href="img/svgSprite.svg#icon-mail-secondary"></use>
          </svg>
        </span>

        <span class="icon-text__label"><a href="mailto:mail@mail.com">mail@mail.com</a></span>
      </span>
      <span class="icon-text icon-text--base">
        <span class="icon-text__icon">
          <svg class="svg-icon">
            <use xlink:href="img/svgSprite.svg#icon-world"></use>
          </svg>
        </span>

        <span class="icon-text__label"><a href="#">lukoil-international.uz</a></span>
      </span>
    </div>
    <div class="card__foot">
      <div class="card__foot-buttons">
        <a class="button button--base" href="#">Откликнуться</a>
        <a class="button button--secondary-third" href="#">Все резюме автора</a>
      </div>
    </div>
  </div>
</div>

<div class="mb-3">
  <div class="card card--fourth">
    <div class="card__head">
      <div class="card__img card__img--company">
        <img src="img/img-card-4.png" alt="" />
      </div>
      <div class="card__name-wrap">
        <div class="card__name">Нефтяная компания «Лукойл»</div>
      </div>
      <div class="card__list">
        <div class="card__list-item">Оптовая торговля, дистрибуция, импорт, экспорт</div>
        <div class="card__list-item">10–50 сотрудников</div>
      </div>
      <hr class="card__devider" />
    </div>

    <div class="card__body">
      <span class="icon-text icon-text--base">
        <span class="icon-text__icon">
          <svg class="svg-icon">
            <use xlink:href="img/svgSprite.svg#icon-loc"></use>
          </svg>
        </span>

        <span class="icon-text__label">
          <span class="list list--eigth">
            <span class="list__item">
              Ташкент, Ташкентская область, Чиланзарский район, д. 1/2
            </span>
            <span class="list__item">
              <a class="link link--fifth" href="#">6 км от центра</a>
            </span>
            <span class="list__item">
              <a href="#">Показать на карте</a>
            </span>
          </span>
        </span>
      </span>
      <span class="icon-text icon-text--base">
        <span class="icon-text__icon">
          <svg class="svg-icon">
            <use xlink:href="img/svgSprite.svg#icon-mail-secondary"></use>
          </svg>
        </span>

        <span class="icon-text__label"><a href="mailto:mail@mail.com">mail@mail.com</a></span>
      </span>
      <span class="icon-text icon-text--base">
        <span class="icon-text__icon">
          <svg class="svg-icon">
            <use xlink:href="img/svgSprite.svg#icon-world"></use>
          </svg>
        </span>

        <span class="icon-text__label"><a href="#">lukoil-international.uz</a></span>
      </span>
    </div>
  </div>
</div>

<div class="mb-3">
  <div class="wrap wrap--base">
    <div class="wrap__in-secondary">
      <a class="card card--fifth" href="#">
        <div class="card__row">
          <div class="card__aside">
            <div class="card__date">
              <div class="card__date-day">22</div>
              <div class="card__date-month">авг.</div>
            </div>
          </div>
          <div class="card__main">
            <div class="card__content">
              <h4>10 вакансий для работы удаленно</h4>
              <div>Карантин внес правки в нашу повседневную жизнь. Поэтому Work.ua предлагает 10 вакансий, благодаря которым вы сможете работать, не выходя из дома.</div>
            </div>
          </div>
        </div>
      </a>
      <a class="card card--fifth" href="#">
        <div class="card__row">
          <div class="card__aside">
            <div class="card__date">
              <div class="card__date-day">22</div>
              <div class="card__date-month">авг.</div>
            </div>
          </div>
          <div class="card__main">
            <div class="card__content">
              <h4>10 вакансий для работы удаленно</h4>
              <div>Карантин внес правки в нашу повседневную жизнь. Поэтому Work.ua предлагает 10 вакансий, благодаря которым вы сможете работать, не выходя из дома.</div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>


<div class="mb-3">
  <div class="wrap wrap--base">
    <div class="wrap__in">
      <div class="card card--sixth">
        <div class="card__row">
          <div class="card__column card__column--main">
            <h4 class="card__title">
              Оплата услуги “Самый дешевый” (Неделя, 300 контактов)
              <span class="tag tag--secondary-fifth">Списание</span>
            </h4>
            <div class="card__text">
              Лучшее решение для бизнеса. Вы получите набор необходимых услуг на месяц по отличным ценам. А чтобы дополнительно сэкономить 20%, оформляйте годовую подписку.
            </div>
          </div>
          <div class="card__column card__column--aside">
            <div class="card__column-aside-in">
              <div class="card__date">25.03.2020  11:29</div>
              <div class="card__price">12 000 сум</div>
            </div>
          </div>
        </div>
      </div>
      <div class="card card--sixth">
        <div class="card__row">
          <div class="card__column card__column--main">
            <h4 class="card__title">
              Оплата услуги “Самый дешевый” (Неделя, 300 контактов)
              <span class="tag tag--secondary-fifth">Списание</span>
            </h4>
            <div class="card__text">
              Лучшее решение для бизнеса. Вы получите набор необходимых услуг на месяц по отличным ценам. А чтобы дополнительно сэкономить 20%, оформляйте годовую подписку.
            </div>
          </div>
          <div class="card__column card__column--aside">
            <div class="card__date">25.03.2020  11:29</div>
            <div class="card__price">12 000 сум</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="mb-3">
  <div class="card card--eigth">
    <div class="card__in">
      <div class="card__row">
        <div class="card__col card__col--main">
          <h2>Добавление пользователя</h2>
          <div class="card__text">Пользователь будет иметь доступ ко всей информации из Вашего аккаунта, но не сможет ничего добавлять или изменять. Администратор - имеет полный доступ на редактирование.</div>
        </div>
        <div class="card__col card__col--aside">
          <a class="button button--base" href="#">Добавить пользователя</a>
        </div>
      </div>
    </div>
  </div>
</div>