<div class="mb-3">
  <div class="dropdown">
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      id="dropdown-0"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Dropdown button
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdown-0">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
  </div>
</div>
<div class="mb-3">
  <div class="dropdown dropdown--lang">
    <button
      class="dropdown__toggle"
      type="button"
      id="dropdown-1"
      data-bs-toggle="dropdown"
      aria-expanded="false"
      data-bs-offset="0,0"
      aria-expanded="false"
      data-bs-reference="parent"
    >
      <span class="link link--lang-third">
        <img class="link__toggle-img" src="img/img-ru.svg" alt="" />
        <span class="link__toggle-label">ru</span>
        <svg class="link__toggle-icon svg-icon">
          <use xlink:href="img/svgSprite.svg#icon-caret"></use>
        </svg>
      </span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdown-1">
      <li>
        <a class="dropdown-item" href="#">
          <div class="link link--lang-secondary">
            <img
              class="link__toggle-img"
              src="img/img-ru.svg"
              alt=""
            />
            <div class="link__toggle-label">ru</div>
          </div>
        </a>
      </li>
      <li>
        <a class="dropdown-item" href="#">
          <div class="link link--lang-secondary">
            <img
              class="link__toggle-img"
              src="img/img-uz.svg"
              alt=""
            />
            <div class="link__toggle-label">uz</div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="mb-3">
  <div class="dropdown dropdown--base">
    <button
      class="dropdown__toggle"
      type="button"
      id="dropdown-2"
      data-bs-toggle="dropdown"
      aria-expanded="false"
      data-bs-offset="0,0" 
      aria-expanded="false"
      data-bs-reference="parent"
    >
      <span class="link link--base-third">
        <span class="link__label">За 3 месяца</span>
        <svg class="link__icon svg-icon">
          <use xlink:href="img/svgSprite.svg#icon-caret"></use>
        </svg>
      </span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdown-2">
      <li>
        <a class="dropdown-item" href="#">Удалить</a>
      </li>
      <li>
        <a class="dropdown-item" href="#">Копировать</a>
      </li>
      <li>
        <a class="dropdown-item" href="#">Редактировать</a>
      </li>
    </ul>
  </div>
</div>

<div class="mb-3">
  <div class="dropdown dropdown--base">
    <button
      class="dropdown__toggle"
      type="button"
      id="dropdown-2"
      data-bs-toggle="dropdown"
      aria-expanded="false"
      data-bs-offset="0,0" 
      aria-expanded="false"
      data-bs-reference="parent"
    >
      <span class="link link--base-fourth">
        <span class="link__label">За 3 месяца</span>
        <div class="button-close button-close--secondary">
          <svg class="svg-icon">
            <use xlink:href="img/svgSprite.svg#icon-angle-secondary"></use>
          </svg>
        </div>
      </span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdown-2">
      <li>
        <a class="dropdown-item" href="#">Удалить</a>
      </li>
      <li>
        <a class="dropdown-item" href="#">Копировать</a>
      </li>
      <li>
        <a class="dropdown-item" href="#">Редактировать</a>
      </li>
    </ul>
  </div>
</div>

<div class="mb-3">
  <div class="dropdown dropdown--secondary">
    <button
      class="dropdown__toggle"
      type="button"
      id="dropdown-3"
      data-bs-toggle="dropdown"
      aria-expanded="false"
      data-bs-offset="0,0" 
      aria-expanded="false"
      data-bs-reference="parent"
    >
      <span class="dropdown__label">Вакансия скрыта</span>
      <svg class="dropdown__icon svg-icon">
        <use xlink:href="img/svgSprite.svg#icon-caret"></use>
      </svg>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdown-3">
      <li>
        <a class="dropdown-item" href="#">Активировать</a>
      </li>
      <li>
        <a class="dropdown-item" href="#">Скрыть</a>
      </li>
    </ul>
  </div>
  <div class="dropdown dropdown--secondary active">
    <button
      class="dropdown__toggle"
      type="button"
      id="dropdown-4"
      data-bs-toggle="dropdown"
      aria-expanded="false"
      data-bs-offset="0,0" 
      aria-expanded="false"
      data-bs-reference="parent"
    >
      <span class="dropdown__label">Вакансия активна</span>
      <svg class="dropdown__icon svg-icon">
        <use xlink:href="img/svgSprite.svg#icon-caret"></use>
      </svg>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdown-4">
      <li>
        <a class="dropdown-item" href="#">Активировать</a>
      </li>
      <li>
        <a class="dropdown-item" href="#">Скрыть</a>
      </li>
    </ul>
  </div>
</div>
