<div class="mb-5">
  <form class="needs-validation" novalidate>
    <div class="mb-3">
      <h3>form-control</h3>
      <input type="text" class="form-control" placeholder="Name" />
      <div class="invalid-feedback">Looks good!</div>
    </div>
    <div class="mb-3">
      <h3>form-control--secondary</h3>
      <div class="mb-3">
        <input
          type="text"
          class="form-control form-control--secondary"
          placeholder="Name"
        />
      </div>
      <div class="mb-3">
        <textarea
          type="text"
          class="form-control form-control--secondary"
          placeholder="Ваше сообщение ..."
          rows="10"
        ></textarea>
      </div>
      <div class="invalid-feedback">Looks good!</div>
    </div>
    <div class="mb-3">
      <h3>select--base</h3>
      <div class="select select--base" id="select-0">
        <select
          name="state"
          data-element="select"
          data-placeholder="Выберите город"
          data-dropdown-parent="#select-0"
          data-dropdown-css-class="select__dropdown"
        >
          <option value=""></option>
          <option value="1">Alabama</option>
          <option value="2">Wyoming</option>
          <option value="3">Wyoming</option>
          <option value="4">Wyoming</option>
          <option value="5">Alabama</option>
          <option value="6">Wyoming</option>
          <option value="7">Wyoming</option>
          <option value="8">Wyoming</option>
          <option value="9">Alabama</option>
          <option value="10">Wyoming</option>
          <option value="11">Wyoming</option>
          <option value="12">Wyoming</option>
          <option value="13">Alabama</option>
          <option value="14">Wyoming</option>
          <option value="15">Wyoming</option>
          <option value="16">Wyoming</option>
        </select>
      </div>
    </div>
    <div class="mb-3">
      <h3>select--base-secondary</h3>
      <div class="select select--base-secondary" id="select-1">
        <select
          name="state"
          data-element="select"
          data-placeholder="Выберите город"
          data-dropdown-parent="#select-1"
          data-dropdown-css-class="select__dropdown"
        >
          <option value=""></option>
          <option value="1">Alabama</option>
          <option value="2">Wyoming</option>
          <option value="3">Wyoming</option>
          <option value="4">Wyoming</option>
          <option value="5">Alabama</option>
          <option value="6">Wyoming</option>
          <option value="7">Wyoming</option>
          <option value="8">Wyoming</option>
          <option value="9">Alabama</option>
          <option value="10">Wyoming</option>
          <option value="11">Wyoming</option>
          <option value="12">Wyoming</option>
          <option value="13">Alabama</option>
          <option value="14">Wyoming</option>
          <option value="15">Wyoming</option>
          <option value="16">Wyoming</option>
        </select>
      </div>
    </div>
    <div class="mb-3">
      <h3>select--base-third without search</h3>
      <div class="select select--base-third" id="select-2">
        <select
          name="state"
          data-element="select"
          multiple
          data-search="false"
          data-close-on-select="false"
          data-placeholder="Выберите город"
          data-dropdown-parent="#select-2"
          data-dropdown-css-class="select__dropdown"
        >
          <option value=""></option>
          <option value="1">Alabama</option>
          <option value="2">Wyoming</option>
          <option value="3">Wyoming</option>
          <option value="4">Wyoming</option>
          <option value="5">Alabama</option>
          <option value="6">Wyoming</option>
          <option value="7">Wyoming</option>
          <option value="8">Wyoming</option>
          <option value="9">Alabama</option>
          <option value="10">Wyoming</option>
          <option value="11">Wyoming</option>
          <option value="12">Wyoming</option>
          <option value="13">Alabama</option>
          <option value="14">Wyoming</option>
          <option value="15">Wyoming</option>
          <option value="16">Wyoming</option>
        </select>
      </div>
    </div>
    <div class="mb-3">
      <h3>select--base-third with search</h3>
      <div class="select select--base-third" id="select-3">
        <select
          name="state"
          data-element="select"
          multiple
          data-close-on-select="false"
          data-placeholder="Выберите город"
          data-dropdown-parent="#select-3"
          data-dropdown-css-class="select__dropdown"
        >
          <option value=""></option>
          <option value="1">Alabama</option>
          <option value="2">Wyoming</option>
          <option value="3">Wyoming</option>
          <option value="4">Wyoming</option>
          <option value="5">Alabama</option>
          <option value="6">Wyoming</option>
          <option value="7">Wyoming</option>
          <option value="8">Wyoming</option>
          <option value="9">Alabama</option>
          <option value="10">Wyoming</option>
          <option value="11">Wyoming</option>
          <option value="12">Wyoming</option>
          <option value="13">Alabama</option>
          <option value="14">Wyoming</option>
          <option value="15">Wyoming</option>
          <option value="16">Wyoming</option>
        </select>
      </div>
    </div>
    <div class="mb-3">
      <h3>form-check--checkbox</h3>
      <div class="form-check form-check--checkbox">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="check-0-0"
        />
        <label class="form-check-label" for="check-0-0">
          <div class="text text--5">
            Получать все те же уведомления,что и у основного аккаунта
          </div>
        </label>
      </div>
      <div class="form-check form-check--checkbox">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="check-0-1"
        />
        <label class="form-check-label" for="check-0-1">
          <span class="text text--5">
            Я согласен с
            <a href="#">условиями обработки персональных данных</a>
          </span>
        </label>
      </div>
      <div class="form-check form-check--checkbox">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="check-0-2"
        />
        <label class="form-check-label" for="check-0-2">Знание языков</label>
      </div>
      <div class="form-check form-check--checkbox">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="check-0-3"
        />
        <label class="form-check-label" for="check-0-3"
          >Неполная занятость</label
        >
      </div>
      <div class="form-check form-check--checkbox">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="check-0-4"
        />
        <label class="form-check-label" for="check-0-4">
          <span class="cf-3-0">Неполная занятость</span>
        </label>
      </div>
    </div>
    <div class="mb-3">
      <h3>form-check--checkbox-secondary</h3>
      <div class="form-check form-check--checkbox-secondary">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="check-1-0"
        />
        <label class="form-check-label" for="check-1-0">
          <span class="title title--3 fw-bold"> Только горячие вакансии </span>
        </label>
      </div>
    </div>
    <div class="mb-3">
      <h3>form-check--radio</h3>
      <div class="form-check form-check--radio">
        <input
          class="form-check-input"
          type="radio"
          value=""
          id="flexCheckDefault-1"
        />
        <label class="form-check-label" for="flexCheckDefault-1">
          Default checkbox
        </label>
      </div>
    </div>
    <div class="mb-3">
      <h3>form-check--card</h3>
      <div class="form-check form-check--card">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="check-0-5"
        />
        <label class="form-check-label" for="check-0-5">
          <span class="form-check__pseudo-check">
            <svg class='svg-icon'>
              <use xlink:href='img/svgSprite.svg#icon-check'></use>
            </svg>
          </span>
          <span class="form-check__img-wrap">
            <svg class='svg-icon'>
              <use xlink:href='img/svgSprite.svg#icon-free'></use>
            </svg>
          </span>
          <span class="form-check__title">Стендарт-размещение</span>
          <span class="form-check__txt">Объявление устанавливается в общую очередь</span>
        </label>
      </div>
    </div>
    <div class="mb-3">
      <h3>form-check--raido-card</h3>
      <div class="form-check form-check--radio-card">
        <input class="form-check-input" type="radio" id="radio-0">
        <label class="form-check-label" for="radio-0">
          <span class="card card--base">
            <span class="card__in">
              <span class="card__main">
                <span class="card__head">
                  <span class="card__head-main">
                    <h3 class="card__title">Senior Front End Developer</h3>
                    <span class="card__list">
                      <span class="card__list-item">
                        <a class="card__company-link" href="#">Darwin Global</a>
                      </span>
                      <span class="card__list-item">
                        <span class="card__icon-text">
                          <svg class="svg-icon">
                            <use xlink:href="img/svgSprite.svg#icon-loc"></use>
                          </svg>
                          <span>Ташкент</span>
                        </span>
                      </span>
                    </span>
                    <span class="card__price">от 2 500 000 сум/мес.</span>
                  </span>
                  <span class="card__head-aside">
                    <div class="card__head-content-position">
                      <div class="card__check-pseudo">
                        <svg class='card__check-icon svg-icon'>
                          <use xlink:href='img/svgSprite.svg#icon-check'></use>
                        </svg>
                      </div>
                    </div>
                  </span>
                </span>
                <span class="card__body">
                  Darwin Global — Провайдер прозрачного SEO-сервиса. Мы можемпрофессионально настроить любую рекламу, разработать ...
                </span>
              </span>
            </span>
          </span>
        </label>
      </div>
    </div>
    <div class="mb-3">
      <h3>form-datepicker--base</h3>
      <div class="form-datepicker form-datepicker--base" id="datepicker-0">
        <input
          type="text"
          class="form-control form-control--secondary"
          data-container="#datepicker-0"
          data-element="datepicker"
        />
        <span class="form-datepicker__icon" data-element="datepicker-trigger">
          <svg class="svg-icon">
            <use xlink:href="img/svgSprite.svg#icon-calendar"></use>
          </svg>
        </span>
      </div>
    </div>

    <div class="mb-3">
      <h3>form-counter--base</h3>
      <div class="form-counter form-counter--base" data-element="form-counter">
        <input
          type="number"
          class="form-control form-control--secondary"
          value="1"
          data-element="form-counter-input"
        />
        <div class="form-counter__buttons">
          <button
            class="form-counter__button form-counter__button--prev"
            type="button"
            data-element="button-counter-plus"
          >
            <svg class="svg-icon">
              <use xlink:href="img/svgSprite.svg#icon-caret"></use>
            </svg>
          </button>
          <button
            class="form-counter__button form-counter__button--next"
            type="button"
            data-element="button-counter-minus"
          >
            <svg class="svg-icon">
              <use xlink:href="img/svgSprite.svg#icon-caret"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
    
    <div class="mb-3">
      <h3>form-counter--base-secondary</h3>
      <div class="form-counter form-counter--base-secondary" data-element="form-counter">
        <input
          type="number"
          class="form-control form-control--secondary"
          value="1"
          data-element="form-counter-input"
        />
        <div class="form-counter__buttons">
          <button
            class="form-counter__button form-counter__button--prev"
            type="button"
            data-element="button-counter-plus"
          >
            <svg class="svg-icon">
              <use xlink:href="img/svgSprite.svg#icon-caret"></use>
            </svg>
          </button>
          <button
            class="form-counter__button form-counter__button--next"
            type="button"
            data-element="button-counter-minus"
          >
            <svg class="svg-icon">
              <use xlink:href="img/svgSprite.svg#icon-caret"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
    
    <div class="mb-3">
      <h3>form-counter--base-third</h3>
      <div class="form-counter form-counter--base-third" data-element="form-counter">
        <input
          type="number"
          class="form-control form-control--secondary"
          value="1"
          data-element="form-counter-input"
        />
        <div class="form-counter__buttons">
          <button
            class="form-counter__button form-counter__button--prev"
            type="button"
            data-element="button-counter-plus"
          >
            <svg class="svg-icon">
              <use xlink:href="img/svgSprite.svg#icon-caret"></use>
            </svg>
          </button>
          <button
            class="form-counter__button form-counter__button--next"
            type="button"
            data-element="button-counter-minus"
          >
            <svg class="svg-icon">
              <use xlink:href="img/svgSprite.svg#icon-caret"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>

    <div class="mb-3">
      <h3>form-file--base</h3>
      <div class="form-file form-file--base">
        <input class="input-hidden" type="file" name="" id="file">
        <label class="form-file__label" for="file">
          <img src="img/img-file-0.png" alt="">
        </label>
        <button class="button button--third-second" type="button">
          Заменить фото
        </button>
        <button class="button button--third-three" type="button">
          Удалить фото
        </button>
      </div>
    </div>
  </form>
</div>
<div class="mb-5">
  <h3>form--search</h3>
  <div class="p-4 background-gradient--4">
    <form
      class="form form--search needs-validation"
      novalidate
      data-element="form-search"
    >
      <div class="row row-cols-auto align-items-center gx-3 gy-3">
        <div class="col-12 col-lg flex-lg-grow-1">
          <div class="form-control-search form-control-search--base">
            <input type="search" class="form-control" placeholder="Запрос..." /
            data-element="input">
            <span class="form-control-search__button" data-element="clear">
              <span class="button-close button-close--base">
                <svg class="svg-icon">
                  <use xlink:href="img/svgSprite.svg#icon-close"></use>
                </svg>
              </span>
            </span>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg flex-lg-grow-0">
          <div class="select select--base" id="select-1">
            <select
              name="state"
              data-element="select"
              data-placeholder="Выберите город"
              data-dropdown-parent="#select-1"
              data-dropdown-css-class="select__dropdown"
            >
              <option value=""></option>
              <option value="1">Alabama</option>
              <option value="2">Wyoming</option>
              <option value="3">Wyoming</option>
              <option value="4">Wyoming</option>
              <option value="5">Alabama</option>
              <option value="6">Wyoming</option>
              <option value="7">Wyoming</option>
              <option value="8">Wyoming</option>
              <option value="9">Alabama</option>
              <option value="10">Wyoming</option>
              <option value="11">Wyoming</option>
              <option value="12">Wyoming</option>
              <option value="13">Alabama</option>
              <option value="14">Wyoming</option>
              <option value="15">Wyoming</option>
              <option value="16">Wyoming</option>
            </select>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg flex-lg-shrink-0">
          <button class="button button--base w-100" type="submit">
            Найти вакансии
          </button>
        </div>
      </div>
      <div class="form__example">
        Например: <a href="#" data-element="anchor">бухгалтер</a>,
        <a href="#" data-element="anchor">программист</a>
      </div>
    </form>
  </div>
</div>

<div class="mb-5">
  <form class="form form--third needs-validation" novalidate>
    <div class="wrap wrap--base">
      <div class="wrap__in">
        <h2>Подпишитесь на интересных Вам соискателей</h2>
        <nav class="list list--base-secondary">
          <ul>
            <li>
              <a href="#">IT, компьютеры, интернет</a>
            </li>
            <li>
              <a href="#">полная занятость</a>
            </li>
            <li>
              <a href="#">мужчины</a>
            </li>
          </ul>
        </nav>
        <div class="form__row">
          <div class="form__column form__column--main">
            <input
              class="form-control form-control--secondary"
              type="email"
              placeholder="Ваш email"
            />
          </div>
          <div class="form__column">
            <button class="button button--base" type="submit">
              Подписаться на вакансии
            </button>
          </div>
          <div class="form__column">
            <a class="link link--telegram-secondary" href="#">
              <img src="img/icon-tg.svg" alt="" />
              <span class="text__label">Отправлять мне в Telegram</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="mb-5">
  <form class="form form--third needs-validation" novalidate>
    <div class="wrap wrap--base">
      <div class="wrap__in">
        <h2>Рассылка новых резюме</h2>
        <div class="form__text">
          Чтобы получать новые резюме по вашему запросу на эл. почту, подпишитесь на рассылку резюме.
        </div>
        <div class="form__row-secondary">
          <div class="form__column-secondary form__column-secondary--main">
            <div class="select select--base-secondary" id="select-3-0">
              <select
                name="state"
                data-element="select"
                data-placeholder="Выберите категорию"
                data-dropdown-parent="#select-3-0"
                data-dropdown-css-class="select__dropdown"
              >
                <option value=""></option>
                <option value="1">IT, компьютеры, интернет </option>
                <option value="2">IT, компьютеры, интернет </option>
              </select>
            </div>
          </div>
          <div class="form__column-secondary">
            <button class="button button--base" type="submit">Подписаться на резюме</button>
          </div>
          <div class="form__column-secondary">
            <a class="link link--telegram-secondary" href="#">
              <img src="img/icon-tg.svg" alt="" />
              <span class="text__label">Отправлять мне в Telegram</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
