<div class="mb-3">
  <h3>icon-text--base</h3>
  <span class="icon-text icon-text--base">
    <span class="icon-text__icon">
      <svg class='svg-icon'>
        <use xlink:href='img/svgSprite.svg#icon-calendar'></use>
      </svg>
    </span>
    <span class="icon-text__label">36 лет</span>
  </span>
</div>