<div class="mb-3">
  <h3>link--base</h3>
  <a class="link link--base" href="#">Полный список »</a>
</div>
<div class="mb-3">
  <h3>link--base-second</h3>
  <a class="link link--base-second" href="#">
    <span class="link__label">
      Бируний
      <div class="badge badge--base">
        <div class="badge__label">123</div>
      </div>
    </span>
  </a>
</div>
<div class="mb-3">
  <h3>link--base-third</h3>
  <div>
    <a class="link link--base-third" href="#">
      <span class="link__label">За 3 месяца</span>
      <svg class="link__icon svg-icon">
        <use xlink:href="img/svgSprite.svg#icon-caret"></use>
      </svg>
    </a>
  </div>
  <div>
    <span class="link link--base-third">
      <span class="link__label">За 3 месяца</span>
      <svg class="link__icon svg-icon">
        <use xlink:href="img/svgSprite.svg#icon-caret"></use>
      </svg>
    </span>
  </div>
</div>
<div class="mb-3">
  <h3>link--base-third</h3>
  <div>
    <a class="link link--base-fourth" href="#">
      <span class="link__label">За 3 месяца</span>
      <div class="button-close button-close--secondary">
        <svg class="svg-icon">
          <use xlink:href="img/svgSprite.svg#icon-angle-secondary"></use>
        </svg>
      </div>
    </a>
  </div>
  <div>
    <span class="link link--base-fourth">
      <span class="link__label">За 3 месяца</span>
      <div class="button-close button-close--secondary">
        <svg class="svg-icon">
          <use xlink:href="img/svgSprite.svg#icon-angle-secondary"></use>
        </svg>
      </div>
    </span>
  </div>
</div>
<div class="mb-3">
  <h3>with helper classes</h3>
  <div class="mb-1">
    <a class="cf-1-0 fw-bold text text--3" href="#">Найти вакансии</a>
  </div>
  <div class="mb-1">
    <a class="text text--3 cf-2-1 text-decoration-underline" href="#"
      >Сбросить настройки</a
    >
  </div>
  <div class="p-2" style="background-color: #000">
    <a class="link link--telegram" href="#">
      <img src="img/icon-tg.svg" alt="">
      <span class="text__label">Отправлять мне в Telegram</span>
    </a>
  </div>
</div>
<div class="mb-3">
  <h3>link--secondary-second</h3>
  <div class="p-2" style="background-color: #000">
    <a class="link link--secondary-second" href="#">
      <svg class="link__icon svg-icon">
        <use xlink:href="img/svgSprite.svg#icon-search"></use>
      </svg>
      <span class="link__label">
        <span class="link__label-first">Найти</span>
        <span class="link__label-second">вакансии</span>
      </span>
    </a>
  </div>
</div>

<div class="mb-3">
  <h3>link--third</h3>
  <div class="p-2" style="background-color: #000">
    <a class="link link--third" href="#">
      <span class="link__label">Работодателю</span>
      <svg class="link__icon svg-icon">
        <use xlink:href="img/svgSprite.svg#icon-arrow-secondary"></use>
      </svg>
    </a>
  </div>
  <div class="p-2">
    <a class="link link--third cf-3-1" href="#">
      <span class="link__label">Работодателю</span>
      <svg class="link__icon svg-icon">
        <use xlink:href="img/svgSprite.svg#icon-arrow-secondary"></use>
      </svg>
    </a>
  </div>
</div>

<div class="mb-3">
  <h3>link--fourth</h3>
  <a class="link link--fourth" href="#">
    <span class="link__value">7</span>
    <span class="link__label">откликов</span>
  </a>
</div>

<div class="mb-3">
  <h3>link--fifth</h3>
  <a class="link link--fifth" href="#">6 км от центра</a>
</div>

<div class="mb-3">
  <h3>link--lang</h3>
  <div class="p-3" style="background-color: #000">
    <a class="link link--lang" href="#">
      <img class="link__toggle-img" src="img/img-ru.svg" alt="" />
      <div class="link__toggle-label">ru</div>
      <svg class="link__toggle-icon svg-icon">
        <use xlink:href="img/svgSprite.svg#icon-caret"></use>
      </svg>
    </a>
  </div>
</div>
<div class="mb-3">
  <h3>link--lang-secondary</h3>
  <a class="link link--lang-secondary" href="#">
    <img class="link__toggle-img" src="img/img-ru.svg" alt="" />
    <div class="link__toggle-label">ru</div>
    <!-- <svg class="link__toggle-icon svg-icon">
      <use xlink:href="img/svgSprite.svg#icon-caret"></use>
    </svg> -->
  </a>
</div>
<div class="mb-3">
  <h3>link--lang-third</h3>
  <a class="link link--lang-third" href="#">
    <img class="link__toggle-img" src="img/img-ru.svg" alt="" />
    <div class="link__toggle-label">ru</div>
    <!-- <svg class="link__toggle-icon svg-icon">
      <use xlink:href="img/svgSprite.svg#icon-caret"></use>
    </svg> -->
  </a>
</div>

<div class="mb-3">
  <h3>link--social</h3>
  <a class="link link--social" href="#">
    <img src="img/icon-vk.svg" alt="">
  </a>
</div>
