<div class="mb-3">
  <h3>list--socials</h3>
  <div class="row row-cols-auto align-items-center gx-3 gy-3">
    <div class="col">
      <div class="text text--3">Войти с помощью</div>
    </div>
    <div class="col">
      <a class="link link--social" href="#">
        <img src="img/icon-fb.svg" alt="" />
      </a>
      <a class="link link--social" href="#">
        <img src="img/icon-vk.svg" alt="" />
      </a>
      <a class="link link--social" href="#">
        <img src="img/icon-g.svg" alt="" />
      </a>
      <a class="link link--social" href="#">
        <img src="img/icon-in.svg" alt="" />
      </a>
    </div>
  </div>
</div>

<div class="mb-5">
  <h3>list--base</h3>
  <div class="mb-3">
    <nav class="list list--base">
      <ul>
        <li>
          <a href="#">Все статьи</a>
        </li>
        <li>
          <a href="#">Все новости</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="mb-3">
    <nav class="list list--base">
      <ul>
        <li>Все статьи</li>
        <li>Все новости</li>
      </ul>
    </nav>
  </div>
  <div class="mb-3">
    <nav class="list list--base">
      <ul class="cf-2-0">
        <li><div class="text text--3">Все статьи</div></li>
        <li><div class="text text--3">Все новости</div></li>
      </ul>
    </nav>
  </div>
</div>
<div class="mb-5">
  <h3>list--base-third</h3>
  <div class="mb-3">
    <ul class="list list--base-third">
      <li>Английский — A1 — Начальный</li>
      <li>Английский — A1 — Начальный</li>
      <li>Английский — A1 — Начальный</li>
    </ul>
  </div>
  <div class="mb-3">
    <div class="text text--3">
      <ul class="list list--base-third">
        <li>Английский — A1 — Начальный</li>
        <li>Английский — A1 — Начальный</li>
        <li>Английский — A1 — Начальный</li>
      </ul>
    </div>
  </div>
</div>

<div class="mb-5">
  <h3>list--secondary</h3>
  <ul
    class="
      list list--secondary
      row row-cols-auto
      gy-1
      justify-content-center justify-content-md-start
    "
  >
    <li class="col">
      <a class="cf-1-0 text text--3" href="#">Контакты</a>
    </li>
    <li class="col">
      <a class="cf-1-0 text text--3" href="#">О нас</a>
    </li>
    <li class="col">
      <a class="cf-1-0 text text--3" href="#">Новости</a>
    </li>
    <li class="col">
      <a class="cf-1-0 text text--3" href="#">Помощь</a>
    </li>
    <li class="col">
      <a class="cf-1-0 text text--3" href="#">Условия использования</a>
    </li>
  </ul>
</div>

<div class="mb-5">
  <h3>list--secondary-second</h3>
  <ul class="list list--secondary-second">
    <li>Контакты</li>
    <li>О нас</li>
    <li>Новости</li>
    <li>Помощь</li>
    <li>Условия использования</li>
  </ul>
</div>

<div class="mb-5">
  <h3>list--secondary-third</h3>
  <ul
    class="
      list list--secondary-third
      row row-cols-auto
      gy-1
      justify-content-center justify-content-md-start
    "
  >
    <li class="col">
      <a class="cf-1-0 text text--3" href="#">Контакты</a>
    </li>
    <li class="col">
      <a class="cf-1-0 text text--3" href="#">О нас</a>
    </li>
    <li class="col">
      <a class="cf-1-0 text text--3" href="#">Новости</a>
    </li>
    <li class="col">
      <a class="cf-1-0 text text--3" href="#">Помощь</a>
    </li>
    <li class="col">
      <a class="cf-1-0 text text--3" href="#">Условия использования</a>
    </li>
  </ul>
</div>

<div class="mb-5">
  <h3>list--secondary-fourth</h3>
  <ul class="list list--secondary-fourth">
    <li>
      <ul class="list--secondary-fourth">
        <li>Контакты</li>
        <li>О нас</li>
      </ul>
    </li>
    <li>
      <ul class="list--secondary-fourth">
        <li>Контакты</li>
        <li>О нас</li>
      </ul>
    </li>
  </ul>
  <span class="list list--secondary-fourth">
    <span>
      <span class="list--secondary-fourth">
        <span>Контакты</span>
        <span>О нас</span>
      </span>
    </span>
    <span>
      <span class="list--secondary-fourth">
        <span>Контакты</span>
        <span>О нас</span>
      </span>
    </span>
  </span>
</div>

<div class="mb-5">
  <h3>list--third</h3>
  <div class="list list--third">
    <ul>
      <li>
        Таким образом новая модель организационной деятельности влечет за собой
        процесс внедрения и модернизации форм развития. Равным образом
        укрепление и развитие структуры в значительной степени обуславливает
        создание существенных финансовых и административных условий.
      </li>
      <li>
        Не следует, однако забывать, что начало повседневной работы по
        формированию позиции позволяет оценить значение системы обучения кадров,
        соответствует насущным потребностям.
      </li>
      <li>
        Равным образом постоянный количественный рост и сфера нашей активности
        позволяет оценить значение системы обучения кадров, соответствует
        насущным потребностям.
      </li>
    </ul>
  </div>
</div>

<div class="mb-5">
  <h3>list--fourth</h3>
  <div class="list list--fourth">
    <div class="list__item">
      <h2>Опыт работы</h2>
      <div class="list__item-in">
        <div class="list__item-secondary">
          <h3>Инженер-проектировщик</h3>
          <div class="row row-cols-auto gx-2 w-100">
            <div class="col">
              <svg class="svg-icon">
                <use xlink:href="img/svgSprite.svg#icon-calendar"></use>
              </svg>
            </div>
            <div class="col d-flex flex-column justify-content-center">
              <div>с 04.2015 по 12.2015 <span>(8 месяцев)</span></div>
            </div>
          </div>
          <div class="row row-cols-auto gx-2 w-100">
            <div class="col">
              <svg class="svg-icon">
                <use xlink:href="img/svgSprite.svg#icon-loc"></use>
              </svg>
            </div>
            <div class="col d-flex flex-column justify-content-center">
              <div>
                ЛенинградскаяРайгаз, Краснодарский край, ст. Ленинградская
                <span
                  >(Проектирование, постройка и техническое обслуживание
                  газораспределительного оборудования)</span
                >
              </div>
            </div>
          </div>
          <div class="cf-2-0 mt-2">
            Составление аварийных и технических схем-планшетов газопроводов.
            Работа с картографическими данными. Создание картографических
            материалов на основе различных данных.
          </div>
        </div>
        <div class="list__item-secondary">
          <h3>Инженер-проектировщик</h3>
          <div class="row row-cols-auto gx-2 w-100">
            <div class="col">
              <svg class="svg-icon">
                <use xlink:href="img/svgSprite.svg#icon-calendar"></use>
              </svg>
            </div>
            <div class="col d-flex flex-column justify-content-center">
              <div>с 04.2015 по 12.2015 <span>(8 месяцев)</span></div>
            </div>
          </div>
          <div class="row row-cols-auto gx-2 w-100">
            <div class="col">
              <svg class="svg-icon">
                <use xlink:href="img/svgSprite.svg#icon-loc"></use>
              </svg>
            </div>
            <div class="col d-flex flex-column justify-content-center">
              <div>
                ЛенинградскаяРайгаз, Краснодарский край, ст. Ленинградская
                <span
                  >(Проектирование, постройка и техническое обслуживание
                  газораспределительного оборудования)</span
                >
              </div>
            </div>
          </div>
          <div class="cf-2-0 mt-2">
            Составление аварийных и технических схем-планшетов газопроводов.
            Работа с картографическими данными. Создание картографических
            материалов на основе различных данных.
          </div>
        </div>
      </div>
    </div>
    <div class="list__item">
      <h2>Образование</h2>
      <div class="list__item-in">
        <div class="list__item-secondary">
          <h3>Инженер-проектировщик</h3>
          <div class="row row-cols-auto gx-2 w-100">
            <div class="col">
              <svg class="svg-icon">
                <use xlink:href="img/svgSprite.svg#icon-calendar"></use>
              </svg>
            </div>
            <div class="col d-flex flex-column justify-content-center">
              <div>с 04.2015 по 12.2015 <span>(8 месяцев)</span></div>
            </div>
          </div>
          <div class="row row-cols-auto gx-2 w-100">
            <div class="col">
              <svg class="svg-icon">
                <use xlink:href="img/svgSprite.svg#icon-loc"></use>
              </svg>
            </div>
            <div class="col d-flex flex-column justify-content-center">
              <div>
                ЛенинградскаяРайгаз, Краснодарский край, ст. Ленинградская
                <span
                  >(Проектирование, постройка и техническое обслуживание
                  газораспределительного оборудования)</span
                >
              </div>
            </div>
          </div>
          <div class="cf-2-0 mt-2">
            Составление аварийных и технических схем-планшетов газопроводов.
            Работа с картографическими данными. Создание картографических
            материалов на основе различных данных.
          </div>
        </div>
        <div class="list__item-secondary">
          <h3>Инженер-проектировщик</h3>
          <div class="row row-cols-auto gx-2 w-100">
            <div class="col">
              <svg class="svg-icon">
                <use xlink:href="img/svgSprite.svg#icon-calendar"></use>
              </svg>
            </div>
            <div class="col d-flex flex-column justify-content-center">
              <div>с 04.2015 по 12.2015 <span>(8 месяцев)</span></div>
            </div>
          </div>
          <div class="row row-cols-auto gx-2 w-100">
            <div class="col">
              <svg class="svg-icon">
                <use xlink:href="img/svgSprite.svg#icon-loc"></use>
              </svg>
            </div>
            <div class="col d-flex flex-column justify-content-center">
              <div>
                ЛенинградскаяРайгаз, Краснодарский край, ст. Ленинградская
                <span
                  >(Проектирование, постройка и техническое обслуживание
                  газораспределительного оборудования)</span
                >
              </div>
            </div>
          </div>
          <div class="cf-2-0 mt-2">
            Составление аварийных и технических схем-планшетов газопроводов.
            Работа с картографическими данными. Создание картографических
            материалов на основе различных данных.
          </div>
        </div>
      </div>
    </div>
    <div class="list__item">
      <h2>Профессиональные и другие навыки</h2>
      <div class="list__item-in">
        <div class="list__item-secondary">
          <h3>Навыки работы с компьютером <span>(3 года 9 месяцев)</span></h3>
          <div>
            Опытный пользователь. Пользуюсь компьютерной техникой 13 лет.
            Уверенно пользуюсь офисными приложениями, программами для работы с
            графикой (CorelDraw, Photoshop, 3D max и др.), а также инженерными
            программами (Mapinfo, Autocad Map и др.). Навыки работы с GPS
            ровером и обработки полученных данных для землеустроительных работ.
          </div>
        </div>
        <div class="list__item-secondary">
          <h3>Autocad Civil 3D (3 года 9 месяцев)</h3>
          <div>Продвинутый, использую в настоящее время</div>
        </div>
        <div class="list__item-secondary">
          <h3>Mapinfo (3 года опыта)</h3>
          <div>Средний, 1 год назад</div>
        </div>
        <div class="list__item-secondary">
          <h3>AutocadMap3D (3 года опыта)</h3>
          <div>Средний, 1 год назад</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mb-5">
  <h3>list--fifth</h3>
  <div class="list list--fifth">
    <ul>
      <li>Получили высшее образование;</li>
      <li>
        Свободно владеете английским языком (уровень от Upper-Intermediate и
        выше);
      </li>
      <li>
        Любите учиться и с легкостью запоминаете большой объем информации,
        постоянно развиваетесь;
      </li>
      <li>
        Плюсом будет наличие опыта работы с визами
      </li>
    </ul>
  </div>
</div>

<div class="mb-5">
  <h3>list--sixth</h3>
  <div class="list list--sixth">
    <ul>
      <li>Получили высшее образование;</li>
      <li>
        Свободно владеете английским языком (уровень от Upper-Intermediate и
        выше);
      </li>
      <li>
        Любите учиться и с легкостью запоминаете большой объем информации,
        постоянно развиваетесь;
      </li>
      <li>
        Плюсом будет наличие опыта работы с визами
      </li>
    </ul>
  </div>
</div>

<div class="mb-5">
  <h3>list--sixth-second</h3>
  <div class="list list--sixth-second">
    <ul>
      <li>Получили высшее образование;</li>
      <li>
        Свободно владеете английским языком (уровень от Upper-Intermediate и
        выше);
      </li>
      <li>
        <a href="#">Любите учиться и с легкостью запоминаете</a> большой объем информации,
        постоянно развиваетесь;
      </li>
      <li>
        Плюсом будет наличие опыта работы с визами
      </li>
    </ul>
  </div>
</div>


<div class="mb-5">
  <h3>list--seventh</h3>
  <div class="list list--seventh">
    <div class="list__item">
      <div class="list__item-img-wrap">
        <img src="img/img-payment-0.png" alt="">
      </div>
    </div>
    <div class="list__item">
      <div class="list__item-img-wrap">
        <img src="img/img-payment-1.png" alt="">
      </div>
    </div>
    <div class="list__item">
      <div class="list__item-img-wrap">
        <img src="img/img-payment-2.png" alt="">
      </div>
    </div>
    <div class="list__item">
      <div class="list__item-img-wrap">
        <img src="img/img-payment-3.png" alt="">
      </div>
    </div>
    <div class="list__item">
      <div class="list__item-img-wrap">
        <img src="img/img-payment-4.png" alt="">
      </div>
    </div>
  </div>
</div>

<div class="mb-5">
  <h3>list--eigth</h3>
  <div class="list list--eigth">
    <div class="list__item">Lorem, ipsum.</div>
    <div class="list__item">Lorem, ipsum.</div>
    <div class="list__item">Lorem, ipsum.</div>
    <div class="list__item">Lorem, ipsum.</div>
    <div class="list__item">Lorem, ipsum.</div>
  </div>
</div>

<div class="mb-5">
  <h3>list--ninth</h3>
  <nav>
    <ul class="list list--ninth">
      <li class="list__item">
        <a class="link link--base-second" href="#">
          <span class="link__label">Бируний</span>
          <div class="badge badge--base">
            <div class="badge__label">123</div>
          </div>
        </a>
      </li>
      <li class="list__item">
        <a class="link link--base-second" href="#">
          <span class="link__label">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, possimus?
            <div class="badge badge--base">
              <div class="badge__label">123</div>
            </div>
          </span>
        </a>
      </li>
    </ul>
  </nav>
</div>
