<div class="mb-3">
  <button
    type="button"
    class="btn btn-primary"
    data-bs-toggle="modal"
    data-bs-target="#exampleModal"
  >
    Launch demo modal
  </button>
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mb-3">
  <div class="p-4" style="background-color: #000">
    <button
      type="button"
      class="button button--secondary"
      data-bs-toggle="modal"
      data-bs-target="#login"
    >
      Войти
    </button>
  </div>
  <div
    class="modal modal--base fade"
    id="login"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
        <div class="modal-body">
          <h3>Вход</h3>
          <div class="modal__socials">
            <div class="row row-cols-auto align-items-center gx-3 gy-3">
              <div class="col">
                <div>Войти с помощью</div>
              </div>
              <div class="col">
                <a class="link link--social" href="#">
                  <img src="img/icon-fb.svg" alt="" />
                </a>
                <a class="link link--social" href="#">
                  <img src="img/icon-vk.svg" alt="" />
                </a>
                <a class="link link--social" href="#">
                  <img src="img/icon-g.svg" alt="" />
                </a>
                <a class="link link--social" href="#">
                  <img src="img/icon-in.svg" alt="" />
                </a>
              </div>
            </div>
          </div>
          <form class="form needs-validation" novalidate>
            <div class="mb-3">
              <input
                class="form-control form-control--secondary"
                type="text"
                placeholder="Email или логин"
                required
              />
            </div>
            <div class="mb-3">
              <div class="position-relative">
                <button class="form-control-tumbler">
                  <svg class="svg-icon">
                    <use xlink:href="img/svgSprite.svg#icon-eye"></use>
                  </svg>
                </button>
                <input
                  class="form-control form-control--secondary"
                  type="password"
                  placeholder="Пароль"
                  required
                />
              </div>
            </div>
            <div class="mb-3">
              <div class="row row-cols-auto align-items-center gx-3">
                <div class="col">
                  <button class="button button--base" type="submit">
                    Войти
                  </button>
                </div>
                <div class="col">
                  <a
                    class="text text--3 cf-2-1 text-decoration-underline"
                    href="#"
                    >Забыли пароль?</a
                  >
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-foot">
          <div class="row row-cols-auto align-items-center gx-3">
            <div class="col">
              <div class="text text--3 cf-2-4">Нет аккаунта?</div>
            </div>
            <div class="col">
              <a class="text text--3 cf-3-0" href="#">Зарегистрируйтесь</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mb-3">
  <a
    class="text text--3 cf-3-0"
    href="#"
    data-bs-toggle="modal"
    data-bs-target="#signUp"
  >
    Зарегистрируйтесь
  </a>

  <div
    class="modal modal--base fade"
    id="signUp"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
        <div class="modal-body">
          <h3>Регистрация</h3>
          <form class="form needs-validation" novalidate>
            <div class="row row-cols-2 gy-3 gx-1 mb-3">
              <div class="col">
                <div class="form-check form-check--radio">
                  <input
                    class="form-check-input"
                    type="radio"
                    value=""
                    name="type[]"
                    id="flexCheckDefault-3"
                    required
                  />
                  <label class="form-check-label" for="flexCheckDefault-3">
                    Как соискатель
                  </label>
                </div>
              </div>
              <div class="col">
                <div class="form-check form-check--radio">
                  <input
                    class="form-check-input"
                    type="radio"
                    value=""
                    name="type[]"
                    id="flexCheckDefault-4"
                    required
                  />
                  <label class="form-check-label" for="flexCheckDefault-4">
                    Как работодатель
                  </label>
                </div>
              </div>
            </div>
            <div class="modal__socials">
              <div class="row align-items-center gx-3 gy-3 flex-nowrap mb-3">
                <div class="col">
                  <div>Регистрация с помощью</div>
                </div>
                <div class="col">
                  <a class="link link--social" href="#">
                    <img src="img/icon-fb.svg" alt="" />
                  </a>
                  <a class="link link--social" href="#">
                    <img src="img/icon-vk.svg" alt="" />
                  </a>
                  <a class="link link--social" href="#">
                    <img src="img/icon-g.svg" alt="" />
                  </a>
                  <a class="link link--social" href="#">
                    <img src="img/icon-in.svg" alt="" />
                  </a>
                </div>
              </div>
            </div>
            <div class="mb-3">
              <input
                class="form-control form-control--secondary"
                type="text"
                placeholder="Имя"
                required
              />
            </div>
            <div class="mb-3">
              <input
                class="form-control form-control--secondary"
                type="text"
                placeholder="Email"
                required
              />
            </div>
            <div class="mb-3">
              <div class="position-relative">
                <button class="form-control-tumbler">
                  <svg class="svg-icon">
                    <use xlink:href="img/svgSprite.svg#icon-eye"></use>
                  </svg>
                </button>
                <input
                  class="form-control form-control--secondary"
                  type="password"
                  placeholder="Пароль (не менее 8 символов)"
                  required
                />
              </div>
            </div>
            <div class="mb-3">
              <div class="position-relative">
                <button class="form-control-tumbler">
                  <svg class="svg-icon">
                    <use xlink:href="img/svgSprite.svg#icon-eye"></use>
                  </svg>
                </button>
                <input
                  class="form-control form-control--secondary"
                  type="password"
                  placeholder="Подтвердите пароль"
                  required
                />
              </div>
            </div>
            <div class="mb-4">
              <div class="form-check form-check--checkbox">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckDefault-2"
                  required
                />
                <label class="form-check-label" for="flexCheckDefault-2">
                  Я согласен с
                  <a href="#">условиями обработки персональных данных</a>
                </label>
              </div>
            </div>
            <div class="mb-3">
              <div class="row row-cols-auto align-items-center gx-3">
                <div class="col">
                  <button class="button button--base" type="submit">
                    Зарегистрироваться
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-foot">
          <div class="row row-cols-auto align-items-center gx-3">
            <div class="col">
              <div class="text text--3 cf-2-4">Есть аккаунт?</div>
            </div>
            <div class="col">
              <a class="text text--3 cf-3-0" href="#">Войдите</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mb-3">
  <a
    class="text text--3 cf-2-1 text-decoration-underline"
    href="#"
    data-bs-toggle="modal"
    data-bs-target="#forgotPass"
  >
    Забыли пароль?
  </a>

  <div
    class="modal modal--base fade"
    id="forgotPass"
    tabindex="-1"
    aria-labelledby="forgotPassLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
        <div class="modal-body">
          <h3>Восстановление пароля</h3>
          <div class="text text--5 cf-1-0 pe-5 me-5 mb-3">
            Введите email, на который зарегистрирован Ваш аккаунт
          </div>
          <form class="form needs-validation" novalidate>
            <div class="mb-3">
              <input
                class="form-control form-control--secondary"
                type="text"
                placeholder="Email"
                required
              />
            </div>

            <div class="mb-3">
              <div class="row row-cols-auto align-items-center gx-3">
                <div class="col">
                  <button class="button button--base" type="submit">
                    Далее
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mb-3">
  <a
    class="text text--3 cf-2-1 text-decoration-underline"
    href="#"
    data-bs-toggle="modal"
    data-bs-target="#newPass"
  >
    Новый пароль
  </a>

  <div
    class="modal modal--base fade"
    id="newPass"
    tabindex="-1"
    aria-labelledby="newPassLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
        <div class="modal-body">
          <h3>Новый пароль</h3>
          <div class="text text--5 cf-1-0 pe-5 me-5 mb-3">
            Введите новый желаемый пароль для вашего аккаунта
          </div>
          <form class="form needs-validation" novalidate>
            <div class="mb-3">
              <div class="position-relative">
                <button class="form-control-tumbler">
                  <svg class="svg-icon">
                    <use xlink:href="img/svgSprite.svg#icon-eye"></use>
                  </svg>
                </button>
                <input
                  class="form-control form-control--secondary"
                  type="password"
                  placeholder="Пароль (не менее 8 символов)"
                  required
                />
              </div>
            </div>

            <div class="mb-3">
              <div class="row row-cols-auto align-items-center gx-3">
                <div class="col">
                  <button class="button button--base" type="submit">
                    Сохранить и войти
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mb-3">
  <a
    class="text text--3 cf-2-1 text-decoration-underline"
    href="#"
    data-bs-toggle="modal"
    data-bs-target="#checkEmailPass"
  >
    Уведомление на email (сброс пароля)
  </a>

  <div
    class="modal modal--base fade"
    id="checkEmailPass"
    tabindex="-1"
    aria-labelledby="checkEmailPassLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
        <div class="modal-body">
          <h3>Проверьте почту</h3>
          <div class="text text--5 cf-1-0 pe-5 me-5 mb-3">
            На почту <strong>mail@mail.ru</strong> отправлена инструкция по
            сбросу пароля
          </div>
          <div class="mb-3">
            <div class="row row-cols-auto align-items-center gx-3">
              <div class="col">
                <button
                  class="button button--base"
                  type="button"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                >
                  Закрыть
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mb-3">
  <a
    class="text text--3 cf-2-1 text-decoration-underline"
    href="#"
    data-bs-toggle="modal"
    data-bs-target="#checkEmailSignUp"
  >
    Уведомление на email (подтверждение регистрации)
  </a>

  <div
    class="modal modal--base fade"
    id="checkEmailSignUp"
    tabindex="-1"
    aria-labelledby="checkEmailSignUpLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
        <div class="modal-body">
          <h3>Проверьте почту</h3>
          <div class="text text--5 cf-1-0 pe-5 me-5 mb-3">
            На почту <strong>mail@mail.ru</strong> отправлена инструкция для подтверждению аккаунта
          </div>
          <div class="mb-3">
            <div class="row row-cols-auto align-items-center gx-3">
              <div class="col">
                <button
                  class="button button--base"
                  type="button"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                >
                  Закрыть
                </button>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <a class="text text--3" href="#">Получить новый код</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mb-3">
  <a
    class="text text--3 cf-2-1 text-decoration-underline"
    href="#"
    data-bs-toggle="modal"
    data-bs-target="#succesSignUp"
  >
    Уведомление об успешной регистрации
  </a>

  <div
    class="modal modal--base fade"
    id="succesSignUp"
    tabindex="-1"
    aria-labelledby="succesSignUpLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
        <div class="modal-body">
          <h3>Вы зарегистрировались</h3>
          <div class="text text--5 cf-1-0 pe-5 me-5 mb-3">
            Регистрация окончена, теперь Вы можете войти на сайт используя свой
            логин/email и пароль
          </div>
          <div class="mb-3">
            <div class="row row-cols-auto align-items-center gx-3">
              <div class="col">
                <button
                  class="button button--base"
                  type="button"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                >
                  Войти
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mb-3">
  <a
    class="text text--3 cf-2-1 text-decoration-underline"
    href="#"
    data-bs-toggle="modal"
    data-bs-target="#removeVacancy"
  >
    Удалить вакансию
  </a>

  <div
    class="modal modal--base-second fade"
    id="removeVacancy"
    tabindex="-1"
    aria-labelledby="removeVacancyLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
        <div class="modal-body">
          <div class="text-center">
            <div class="modal__img">
              <img src="img/icon-trash.svg" alt="">
            </div>
            <h2>Вы действительно хотите удалить вакансию?</h2>
            <div class="cf-2-0 mb-4 ps-5 pe-5">
              Вакансии будут помещены в «Удаленные вакансии» и будут храниться на протяжении 3 месяцев. При этом, они не будут отображаться в списке вакансий.
            </div>
          </div>
          <div class="mb-3">
            <div class="row row-cols-auto align-items-center justify-content-center gx-3">
              <div class="col">
                <button
                  class="button button--base-second"
                  type="button"
                >Да, удалить</button>
              </div>
              <div class="col">
                <button
                  class="button button--base-third"
                  type="button"
                >Нет, не удалять</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mb-3">
  <a
    class="text text--3 cf-2-1 text-decoration-underline"
    href="#"
    data-bs-toggle="modal"
    data-bs-target="#messageSent"
  >
    Сообщение отправлено
  </a>

  <div
    class="modal modal--base-third fade"
    id="messageSent"
    tabindex="-1"
    aria-labelledby="messageSentLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
        <div class="modal-body">
          <div class="modal__background" style="background-image: url('img/background-modal-0.svg');">
          </div>
          <div class="modal__content text-center">
            <h2>Ваше сообщение <br> успешно отправлено</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mb-3">
  <a
    class="text text--3 cf-2-1 text-decoration-underline"
    href="#"
    data-bs-toggle="modal"
    data-bs-target="#successSubscribe"
  >
    вы успешно подписались
  </a>

  <div
    class="modal modal--base-third fade"
    id="successSubscribe"
    tabindex="-1"
    aria-labelledby="messageSentLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
        <div class="modal-body">
          <div class="modal__background" style="background-image: url('img/background-modal-0.svg');">
          </div>
          <div class="modal__content text-center pt-5 mt-5">
            <div class="pt-5">
              <h2>Вы успешно подписались на <br> рассылку вакансий</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
