<div class="mb-3">
  <div style="height: 300px;">
    <div class="sticky sticky--base">
      <button class="button button--toggle-nav">
        <svg class='svg-icon'>
          <use xlink:href='img/svgSprite.svg#icon-burger'></use>
        </svg>
      </button>
    </div>
  </div>
</div>