<div class="mb-5 pb-5">
  <div class="mb-3">
    <h3>tag--base</h3>
    <div class="tag tag--base">
      <button class="button-close button-close--base" type="button">
        <svg class='svg-icon'>
          <use xlink:href='img/svgSprite.svg#icon-close'></use>
        </svg>
      </button>
      <div class="tag__label">IT, компьютеры, интернет</div>
    </div>
  </div>
</div>
<div class="mb-5 pb-5">
  <div class="mb-3">
    <h3>tag--secondary</h3>
    <div class="tag tag--secondary">образование</div>
  </div>
  <div class="mb-3">
    <h3>tag--secondary-second</h3>
    <div class="tag tag--secondary-second">финансы</div>
  </div>
  <div class="mb-3">
    <h3>tag--secondary-third</h3>
    <div class="tag tag--secondary-third">медицина</div>
  </div>
  <div class="mb-3">
    <h3>tag--secondary-fourth</h3>
    <div class="tag tag--secondary-fourth">медицина</div>
  </div>
  <div class="mb-3">
    <h3>tag--secondary-fifth</h3>
    <div class="tag tag--secondary-fifth">Списание</div>
  </div>
  <div class="mb-3">
    <h3>tag--secondary-sixth</h3>
    <div class="tag tag--secondary-sixth">Пополнение</div>
  </div>
</div>

<div class="mb-5 pb-5">
  <div class="mb-3">
    <h3>tag--third</h3>
    <div class="tag tag--third">Регистрация</div>
  </div>
  <div class="mb-3">
    <h3>tag--third-second</h3>
    <div class="tag tag--third-second">Поиск работы</div>
  </div>
  <div class="mb-3">
    <h3>tag--third-third</h3>
    <div class="tag tag--third-third">Премиум аккаунт</div>
  </div>
  <div class="mb-3">
    <h3>tag--third-fourth</h3>
    <div class="tag tag--third-fourth">Премиум аккаунт</div>
  </div>
</div>

<div class="mb-5 pb-5">
  <div class="mb-3">
    <h3>tag--fourth</h3>
    <div class="tag tag--fourth">Регистрация</div>
  </div>
  <div class="mb-3">
    <h3>tag--fourth-second</h3>
    <div class="tag tag--fourth-second">Поиск работы</div>
  </div>
  <div class="mb-3">
    <h3>tag--fourth-third</h3>
    <div class="tag tag--fourth-third">Премиум аккаунт</div>
  </div>
  <div class="mb-3">
    <h3>tag--fourth-fourth</h3>
    <div class="tag tag--fourth-fourth">Премиум аккаунт</div>
  </div>
</div>