<div class="mb-5">
  <h2>title content</h2>
  <h1>Lorem ipsum dolor sit amet.</h1>
  <h2>Lorem ipsum dolor sit amet.</h2>
  <h3>Lorem ipsum dolor sit amet.</h3>
  <h4>Lorem ipsum dolor sit amet.</h4>
  <h5>Lorem ipsum dolor sit amet.</h5>
  <h6>Lorem ipsum dolor sit amet.</h6>
</div>
<div class="mb-5">
  <h2>Content link</h2>
  <div>
    <a href="#">Lorem, ipsum dolor.</a>
  </div>
</div>
<div class="mb-5">
  <h2>others tags</h2>
  <div><strong>Lorem ipsum dolor sit amet.</strong></div>
  <div><em>Lorem ipsum dolor sit amet.</em></div>
  <div><del>Lorem ipsum dolor sit amet.</del></div>
</div>
<div class="mb-5">
  <h2>Blockquote</h2>
  <blockquote>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum, porro!
  </blockquote>
</div>
<div class="mb-5">
  <h2>Lists</h2>
  <ul>
    <li>Lorem, ipsum dolor.</li>
    <li>Lorem, ipsum dolor.</li>
    <li>Lorem, ipsum dolor.</li>
  </ul>
  <ol>
    <li>Lorem, ipsum dolor.</li>
    <li>Lorem, ipsum dolor.</li>
    <li>Lorem, ipsum dolor.</li>
  </ol>
  <dl>
    <dt>Lorem, ipsum dolor.</dt>
      <dd>Lorem, ipsum dolor.</dd>
    <dt>Lorem, ipsum dolor.</dt>
      <dd>Lorem, ipsum dolor.</dd>
  </dl>
</div>