<div class="mb-3">
  <div class="wrap wrap--base">
    <div class="p-3">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, placeat repellendus ipsam ducimus, recusandae libero nemo voluptates temporibus tempore officiis delectus nostrum nobis praesentium repudiandae optio? Mollitia accusamus temporibus commodi nisi? Laborum eum, in neque nam voluptatibus sint, soluta dolore fugiat adipisci repellat animi numquam provident, minima quam aliquam ducimus.
    </div>
  </div>
</div>