.footer {
  padding: 1.3em 0;
  border-top: 1px solid var(--bdc-2-0);
  background-image: url('../img/background-footer.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}