<div class="mb-3">
  <div class="tabs">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button
          class="nav-link active"
          id="home-tab"
          data-bs-toggle="tab"
          data-bs-target="#home"
          type="button"
          role="tab"
          aria-controls="home"
          aria-selected="true"
        >
          Home
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="profile-tab"
          data-bs-toggle="tab"
          data-bs-target="#profile"
          type="button"
          role="tab"
          aria-controls="profile"
          aria-selected="false"
        >
          Profile
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="contact-tab"
          data-bs-toggle="tab"
          data-bs-target="#contact"
          type="button"
          role="tab"
          aria-controls="contact"
          aria-selected="false"
        >
          Contact
        </button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div
        class="tab-pane fade show active"
        id="home"
        role="tabpanel"
        aria-labelledby="home-tab"
      >
        ...
      </div>
      <div
        class="tab-pane fade"
        id="profile"
        role="tabpanel"
        aria-labelledby="profile-tab"
      >
        ...
      </div>
      <div
        class="tab-pane fade"
        id="contact"
        role="tabpanel"
        aria-labelledby="contact-tab"
      >
        ...
      </div>
    </div>
  </div>
</div>
<div class="mb-3">
  <div class="tabs tabs--base">
    <ul class="nav nav-tabs" id="myTab-1" role="tablist">
      <li class="nav-item" role="presentation">
        <button
          class="nav-link active"
          id="home-1-tab"
          data-bs-toggle="tab"
          data-bs-target="#home-1"
          type="button"
          role="tab"
          aria-controls="home-1"
          aria-selected="true"
        >
          Home
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="profile-1-tab"
          data-bs-toggle="tab"
          data-bs-target="#profile-1"
          type="button"
          role="tab"
          aria-controls="profile-1"
          aria-selected="false"
        >
          Profile
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="contact-1-tab"
          data-bs-toggle="tab"
          data-bs-target="#contact-1"
          type="button"
          role="tab"
          aria-controls="contact-1"
          aria-selected="false"
        >
          Contact
        </button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div
        class="tab-pane fade show active"
        id="home-1"
        role="tabpanel"
        aria-labelledby="home-1-tab"
      >
        ...
      </div>
      <div
        class="tab-pane fade"
        id="profile-1"
        role="tabpanel"
        aria-labelledby="profile-1-tab"
      >
        ...
      </div>
      <div
        class="tab-pane fade"
        id="contact-1"
        role="tabpanel"
        aria-labelledby="contact-1-tab"
      >
        ...
      </div>
    </div>
  </div>
</div>
