.form-datepicker {
  position: relative;
  &--base {
    .form-datepicker__icon {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(0, -50%);
      color: var(--cf-2-2);
      font-size: var(--h-3);
      z-index: 3;
      cursor: pointer;
      height: 100%;
      width: 2em;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .datepicker-dropdown {
      border-color: var(--bdc-0-3);
      background-color: var(--bgc-1-0);
      // @extend .box-shadow--2;
      color: var(--cf-1-0);
      margin-top: 0.5em;
    }
  }
}