.form-control-search {
  &--base {
    position: relative;
    .form-control {
      padding-right: 2em;
    }
    .form-control-search__button {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 2em;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      opacity: 0;
      visibility: hidden;
      &.visible {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}