.form-counter {
  &--base {
    position: relative;
    .form-control--secondary {
      padding-right: 4em;
      width: 100%;
      max-width: none;
    }
    .form-counter__buttons {
      position: absolute;
      height: 100%;
      top: 0;
      right: 0;
      width: 3em;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

    }
    .form-counter__button {
      position: relative;
      @extend .button-clear;
      width: 100%;
      flex-grow: 1;
      font-size: var(--text-5);
      color: var(--cf-2-6);

      display: flex;
      flex-direction: column;
      align-items: center;
      &:hover {
        color: var(--cf-1-0);
      }
      &--prev {
        justify-content: flex-end;
        .svg-icon {
          transform: rotate(-180deg);
        }
      }
      &--next {
        justify-content: flex-start;

      }
    }
  }
  &--base-secondary {
    @extend .form-counter--base;
    max-width: 130 / $fontSizeRelative + em;
  }
  &--base-third {
    @extend .form-counter--base;
    max-width: 70 / $fontSizeRelative + em;
    // padding-right: 1em;
    .form-control--secondary {
      padding-right: 1.5em;
    }
    .form-counter__buttons {
      width: 1.5em;
    }
  }
}