.form-file {
  &--base {
    max-width: 265 / $fontSizeRelative + em;
    .form-file__label {
      width: 265 / $fontSizeRelative + em;
      height: 205 / $fontSizeRelative + em;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      background-color: var(--bgc-1-0);
      border: 1px solid var(--bdc-0-3);
      margin-bottom: 4 / $fontSizeRelative + em;
      img {
        flex-shrink: 0;
        max-height: 100%;
      }
    }
    .button {
      width: 100%;
      margin-bottom: 4 / 12 + em;
    }
  }
}