.form-control-payment {
  &--base {
    margin-bottom: 0.6em;
    .form-control-payment__row {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      margin-top: -0.3em;
    }
    .form-control-payment__column {
      flex-shrink: 0;
      margin-right: 0.8em;
      margin-top: 0.3em;
      font-size: var(--text-3);
      color: var(--cf-2-0);
      &--input {
        flex-grow: 1;
        flex-shrink: 1;
      }
    }
  }
}