.select {
  &--base {
    .select2 {
      width: 100% !important;
    }
    .select2-selection {
      padding: 0;
      font-size: var(--text-3);
      line-height: 1;
      height: 2.66em;
      color: var(--cf-1-0);
      background-color: var(--bgc-1-0);
      border-color: var(--bdc-0-3);

      display: flex;
      flex-direction: column;
      justify-content: center;
      @extend .box-shadow--2;
    }
    .select2-search__field {
      border-color: var(--bdc-0-3) !important;
      font-size: var(--text-4);

      @include iph() {
      }
      &:focus {
        outline: none;
      }
    }
    .select2-container--focus {
      .select2-selection {
        box-shadow: none;
      }
      & + .select2-container {
        .select__dropdown {
        }
      }
    }
    .select__dropdown {
      border-color: var(--bdc-0-3) !important;
      background-color: var(--bgc-1-0) !important;
    }
    .select2-results__options {
      max-height: 10em !important;
    }
    .select2-results__option {
      padding: 0.8em 1em;
      color: var(--cf-2-0);
      font-size: var(--text-3);
      border-bottom: 1px solid var(--bgc-0-4);
      &:last-child {
        border-bottom-color: transparent;
      }
    }
    .select2-results__option--highlighted {
      background-color: var(--bgc-0-0) !important;

      color: var(--cf-1-1) !important;
    }
    .select2-results__option--selected {
      background-color: transparent !important;
      font-weight: 700;

      &.select2-results__option--highlighted {
        color: var(--cf-2-0) !important;
        background-color: transparent !important;
      }
    }
    .select2-selection__rendered {
      padding: 0.2em 2.5em 0.2em 1em !important;
      // display: flex !important;
      align-items: center;
      overflow: hidden;
    }
    .select2-selection__placeholder {
      // padding-right: 2.5rem;
    }
    .select2-search {
    }
    .select2-selection__choice {
    }
    .select2-selection__choice__remove {
      &:hover {
      }
    }
    .select2-selection__arrow {
      top: 50% !important;
      transform: translate(0, -50%);
      right: 0.8em !important;
    }
  }
  &--base-secondary {
		@extend .select--base;
		.select2-selection {
			box-shadow: none;
		}
  }
  &--base-third {
    .select2-hidden-accessible[data-search="false"] {
      & + .select2 {
        .select2-search__field {
          display: none;
        }
        .select2-selection--multiple {
          cursor: default;
        }
      }
    }
    .select2 {
      width: 100% !important;
    }
    .select2-selection--multiple {
      min-height: 34 / $fontSizeRelative + em;
      padding: 0;
      border: 1px solid var(--bdc-0-3);
      // cursor: default;
    }
    .select2-container--focus {
      .select2-selection--multiple {
        border-color: var(--bdc-0-3);
      }
    }
    .select2-search__field {
      height: 1.6em !important;
      padding-left: 0.5em !important;
      @include iph() {
        font-size: var(--text-3);
        color: var(--cf-2-1);
        padding-top: 0.1em;
      }
    }
    .select2-selection__choice {
      margin-bottom: 5px;
      background-color: transparent !important;
      border-color: var(--bdc-0-6) !important;
    }
    .select2-selection__choice__remove {
      border-color: var(--bdc-0-6) !important;
      color: var(--cf-2-1) !important;
      &:hover {
        background-color: transparent !important;
        color: var(--cf-2-0) !important;
      }
    }
    .select__dropdown {
      border-color: var(--bdc-0-3);
    }
    .select2-results__option {
      padding: 0.8em 1em;
      color: var(--cf-2-0);
      font-size: var(--text-3);
      border-bottom: 1px solid var(--bgc-0-4);
    }
    .select2-results__option--highlighted {
      background-color: var(--bgc-0-0) !important;

      color: var(--cf-1-1) !important;
    }
    .select2-results__option--selected {
      background-color: transparent !important;
      font-weight: 700;

      &.select2-results__option--highlighted {
        color: var(--cf-2-0) !important;
        background-color: transparent !important;
      }
    }
    .select2-selection__choice__display {
      // color: var(--cf-2-1);
    }
  }
}
