.form {
  &--search {
    max-width: 50.5em;
    margin: 0 auto;
    .form-control {
      @include media(m, $sm) {
      }
    }
    .select--base {
      min-width: 12em;

      @include media(m, $sm) {
      }
    }
    .button--base {
      @include media(m, $sm) {
      }
    }
    .form__example {
      margin-top: 0.5em;
      color: var(--cf-2-2);
      a {
        color: var(--cf-2-2);

        text-decoration: underline;
      }
    }
  }
  &--secondary {
    .form__row {
      @extend .row;
      @extend .row-cols-2;
      @extend .gx-4;
      @extend .gy-3;
      margin-bottom: 1.3em;
    }
    .form__row-secondary {
      @extend .row;
      @extend .row-cols-auto;
      @extend .gx-5;
      @extend .gy-3;
      align-items: center;

      @include media(m, $sm) {
        justify-content: flex-start;
      }
    }
    .form__column-secondary {
      @extend .col;
    }
  }
  &--third {
    margin-bottom: 1em;
    .form__row {
      @extend .row;
      @extend .flex-column;
      @extend .flex-md-row;
      @extend .row-cols-md-auto;
      @extend .gx-3;
      @extend .gy-3;
      align-items: center;
    }
    .form__column {
      @extend .col;
      &--main {
        @include media(m, $md) {
          flex-grow: 1;
        }
      }
    }
    .form__row-secondary {
      @extend .row;
      @extend .flex-column;
      @extend .flex-xl-row;
      @extend .gx-3;
      @extend .gy-3;
      align-items: center;
    }
    .form__column-secondary {
      @extend .col;
    }
    .form__text {
      font-size: var(--text-3);
      color: var(--cf-2-0);
      margin-bottom: 2em;
    }
  }
  &--fourth {
    .form__column-in {
      max-width: 385 / $fontSizeRelative + em;
    }
  }
  &--fifth {
    margin-bottom: 40 / $fontSizeRelative + em;
    h3 {
      padding-top: 0.5em;
    }
    .form-datepicker--base {
      // width: 100%;
      width: 175 / $fontSizeRelative + em;
    }
    .select--base-secondary {
      // width: 100%;
      width: 185 / $fontSizeRelative + em;
    }
  }
  &--sixth {
    max-width: 820 / $fontSizeRelative + em;
    h2 {
      margin-bottom: 27 / 25 + em;
    }
    hr {
      // border-color: var(--bdc-0-3);
    }
    .form__group {
      margin-bottom: 55 / $fontSizeRelative + em;
      &--secondary {
        padding: 2em;
        border: 1px solid var(--bdc-0-1);
        border-radius: var(--bdrs-0);
      }
    }
    .form__group-third {
      max-width: 450 / $fontSizeRelative + em;
    }
    .form__group-fourth {
      max-width: 350 / $fontSizeRelative + em;
    }
    .form__select-wrap {
      min-width: 100 / $fontSizeRelative + em;
    }
    .form__resume-exp-card {
      & + .form__resume-exp-card {
        margin-top: 3em;
        padding-top: 4em;
        border-top: 1px solid var(--bdc-0-1);
      }
    }
  }
  &--seventh {
    @include media(m, $sm) {
      width: 430 / $fontSizeRelative + em;
    }
  }
}
