.form-control {
  padding: 0 1em;
  font-size: var(--text-3);
  line-height: 1;
  height: auto;
  min-height: 2.66em;
  color: var(--cf-1-0);
  background-color: var(--bgc-1-0);
  border-color: var(--bdc-0-3);
  border-radius: var(--bdrs-0);
  @extend .box-shadow--2;
  resize: none;
  @include iph() {
    color: var(--cf-2-1);
  }
  &:focus {
    box-shadow: none;
    border-color: var(--bdc-0-3);
  }
  &::-ms-clear {
    display: none;
    width: 0;
    height: 0;
  }
  &::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
  }
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &--secondary {
    // background-color: red;
    box-shadow: none !important;
  }
  &[type=number] {
    -moz-appearance: textfield;
  }
}


textarea.form-control {
  padding: .65em 1em;
  min-height: 6em;
  @include iph() {
    line-height: 1.4;
  }
}



.form-control-tumbler {
  @extend .button-clear;
  position: absolute;
  top: .6em;
  right: 1em;
  font-size: var(--h-3);
  color: var(--cf-2-3);
  & + .form-control {
    padding-right: 2em;
  }
}