.form-check {
  .form-check-input:focus {
    &:focus {
      // box-shadow: none;
    }
  }
  .form-check-label {
    // color: var(--color-font-base-secondary);
    a {
      // color: var(--color-font-base-secondary);
      // font-weight: 700;
    }
  }
	&--checkbox {
		padding-left: 0;
	  .form-check-input {
			@extend .input-hidden;
			&:checked + label {
				&:before {
					
				}
				&:after {
					opacity: 1;
					visibility: visible;
				}
			}
			&:invalid {
				& + .form-check-label {
					&:before {
						border-color: var(--bdc-3-0);
					}
				}
			}
		}		
		.form-check-label {
			position: relative;

			font-size: var(--text-3);
			color: var(--cf-1-0);
			padding-left: 1.7em;
			min-height: 1.2em;
			// display: flex;
			// align-items: center;
			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				display: block;
				width: 1.2em;
				height: 1.2em;
				border: 1px solid var(--bdc-0-2);
				border-radius: var(--bdrs-1);
				@extend .background-gradient--6;
			}
			&:after {
				content: '';

				position: absolute;
				top: 0.15em;
				left: 0.1em;
				width: 1em;
				height: .9em;

				background-image: url('../img/icon-check.svg');
				background-size: contain;
				background-position: 50% 50%;
				background-repeat: no-repeat;

				opacity: 0;
				visibility: hidden;
			}
		}
		.badge {
			margin-left: .5em;
		}
	}
	&--checkbox-secondary {
		@extend .form-check--checkbox;
		.form-check-label {
			&:before {
				top: 0.2em;
			}
			&:after {
				top: .35em;
			}
		}
		.badge {
			top: -0.2em;
		}
	}
	&--radio {
		@extend .form-check--checkbox;
		.form-check-label {
			&:before {
				border-radius: 50%;
			}
			&:after {
			}
		}
		.form-check__title {
			display: block;
			margin-bottom: 0.5em;
		}
		.form-check__text {
			display: block;
			color: var(--cf-2-1)
		}
	}
	&--radio-card {
		padding-left: 0;
		.form-check-input {
			@extend .input-hidden;
			&:checked + .form-check-label {
				.card__check-icon {
					opacity: 1;
					visibility: visible;
				}	
			}
		}
		.form-check-label {
			display: block;
			&:before {
				display: none;
			}
			&:after {
				display: none;
			}
		}
		.card {
			display: block;
		}
		.card__check-pseudo {
			display: inline-flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			width: 18 / $fontSizeRelative + em;
			height: 18 / $fontSizeRelative + em;
			border: 1px solid var(--bdc-0-2);

			@extend .background-gradient--6;
			border-radius: 50%;
		}
		.card__check-icon {
			color: var(--cf-3-0);
			font-size: var(--text-4);
			opacity: 0;
			visibility: hidden;
		}
	}
	&--checkbox-third {
		@extend .form-check--checkbox;
		.form-check-label {
			font-size: var(--text-1);
		}
	}
	&--card {
		padding: 0;
		.form-check-input {
			@extend .input-hidden;
			&:checked + .form-check-label {
				background-color: var(--bgc-2-3);
				color: var(--cf-4-0);
				.form-check__pseudo-check {
					opacity: 1;
					visibility: visible;
				}
				.form-check__img-wrap {
					background-color: var(--bgc-1-1);
					.svg-icon {
						color: var(--cf-4-0);
					}
				}
			}
		}
		.form-check-label {
			position: relative;
			display: inline-flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding: 20 / $fontSizeRelative + em 15 / $fontSizeRelative + em;

			color: var(--cf-1-0);
			text-align: center;

			border-radius: var(--bdrs-0);
			background-color: var(--bgc-0-5);
		}
		.form-check__pseudo-check {
			position: absolute;
			top: 0;
			right: 0;
			transform: translate(30%, -30%);

			width: 15 / $fontSizeRelative + em;
			height: 15 / $fontSizeRelative + em;
			border-radius: 50%;
			background-color: var(--bgc-2-3);
			color: var(--cf-4-0);

			opacity: 0;
			visibility: hidden;
			.svg-icon {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				font-size: var(--text-3);
			}
		}
		.form-check__img-wrap {
			@extend .img-wrap;
			background-color: var(--bgc-2-6);
			border-radius: 50%;
			width: 61 / $fontSizeRelative + em;
			height: 61 / $fontSizeRelative + em;
			margin-bottom: 1em;
			.svg-icon {
				font-size: 30 / $fontSizeRelative + em;
				color: var(--cf-3-0);
			}
		}
		.form-check__title {
			display: block;
			font-size: var(--text-3);
			font-weight: 600;
			margin-bottom: 5 / 15 + em;
		}
		.form-check__txt {
			display: block;
			font-size: var(--text-5);
			max-width: 195 / 12 + em;
		}
	}
}