<div
  class="modal modal--base fade"
  id="signUp"
  tabindex="-1"
  aria-labelledby="signUpLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
      <div class="modal-body">
        <h3>Регистрация</h3>
        <form class="form needs-validation" novalidate>
          <div class="row row-cols-2 gy-3 gx-1 mb-3">
            <div class="col">
              <div class="form-check form-check--radio">
                <input
                  class="form-check-input"
                  type="radio"
                  value=""
                  name="type[]"
                  id="flexCheckDefault-3"
                  required
                />
                <label class="form-check-label" for="flexCheckDefault-3">
                  Как соискатель
                </label>
              </div>
            </div>
            <div class="col">
              <div class="form-check form-check--radio">
                <input
                  class="form-check-input"
                  type="radio"
                  value=""
                  name="type[]"
                  id="flexCheckDefault-4"
                  required
                />
                <label class="form-check-label" for="flexCheckDefault-4">
                  Как работодатель
                </label>
              </div>
            </div>
          </div>
          <div class="modal__socials">
            <div class="row align-items-center gx-3 gy-3 flex-nowrap mb-3">
              <div class="col">
                <div>Регистрация с помощью</div>
              </div>
              <div class="col">
                <a class="link link--social" href="#">
                  <img src="img/icon-fb.svg" alt="" />
                </a>
                <a class="link link--social" href="#">
                  <img src="img/icon-vk.svg" alt="" />
                </a>
                <a class="link link--social" href="#">
                  <img src="img/icon-g.svg" alt="" />
                </a>
                <a class="link link--social" href="#">
                  <img src="img/icon-in.svg" alt="" />
                </a>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <input
              class="form-control form-control--secondary"
              type="text"
              placeholder="Имя"
              required
            />
          </div>
          <div class="mb-3">
            <input
              class="form-control form-control--secondary"
              type="text"
              placeholder="Email"
              required
            />
          </div>
          <div class="mb-3">
            <div class="position-relative">
              <button
                class="form-control-tumbler"
                data-element="password-toggle"
                type="button"
              >
                <svg class="svg-icon">
                  <use xlink:href="img/svgSprite.svg#icon-eye"></use>
                </svg>
              </button>
              <input
                class="form-control form-control--secondary"
                type="password"
                placeholder="Пароль (не менее 8 символов)"
                required
              />
            </div>
          </div>
          <div class="mb-3">
            <div class="position-relative">
              <button
                class="form-control-tumbler"
                data-element="password-toggle"
                type="button"
              >
                <svg class="svg-icon">
                  <use xlink:href="img/svgSprite.svg#icon-eye"></use>
                </svg>
              </button>
              <input
                class="form-control form-control--secondary"
                type="password"
                placeholder="Подтвердите пароль"
                required
              />
            </div>
          </div>
          <div class="mb-4">
            <div class="form-check form-check--checkbox">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="flexCheckDefault-2"
                required
              />
              <label class="form-check-label" for="flexCheckDefault-2">
                Я согласен с
                <a href="#">условиями обработки персональных данных</a>
              </label>
            </div>
          </div>
          <div class="mb-3">
            <div class="row row-cols-auto align-items-center gx-3">
              <div class="col">
                <button class="button button--base" type="submit">
                  Зарегистрироваться
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-foot">
        <div class="row row-cols-auto align-items-center gx-3">
          <div class="col">
            <div class="text text--3 cf-2-4">Есть аккаунт?</div>
          </div>
          <div class="col">
            <a
              class="text text--3 cf-3-0"
              href="#"
              data-bs-dismiss="modal"
              data-bs-toggle="modal"
              data-bs-target="#login"
              >Войдите</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
