<div
    class="modal modal--base fade"
    id="succesSignUp"
    tabindex="-1"
    aria-labelledby="succesSignUpLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
        <div class="modal-body">
          <h3>Вы зарегистрировались</h3>
          <div class="text text--5 cf-1-0 pe-5 me-5 mb-3">
            Регистрация окончена, теперь Вы можете войти на сайт используя свой
            логин/email и пароль
          </div>
          <div class="mb-3">
            <div class="row row-cols-auto align-items-center gx-3">
              <div class="col">
                <button
                  class="button button--base"
                  type="button"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                >
                  Войти
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>