<div
    class="modal modal--base fade"
    id="newPass"
    tabindex="-1"
    aria-labelledby="newPassLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
        <div class="modal-body">
          <h3>Новый пароль</h3>
          <div class="text text--5 cf-1-0 pe-5 me-5 mb-3">
            Введите новый желаемый пароль для вашего аккаунта
          </div>
          <form class="form needs-validation" novalidate>
            <div class="mb-3">
              <div class="position-relative">
                <button class="form-control-tumbler">
                  <svg class="svg-icon">
                    <use xlink:href="img/svgSprite.svg#icon-eye"></use>
                  </svg>
                </button>
                <input
                  class="form-control form-control--secondary"
                  type="password"
                  placeholder="Пароль (не менее 8 символов)"
                  required
                />
              </div>
            </div>

            <div class="mb-3">
              <div class="row row-cols-auto align-items-center gx-3">
                <div class="col">
                  <button class="button button--base" type="submit">
                    Сохранить и войти
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>