<div
    class="modal modal--base fade"
    id="forgotPass"
    tabindex="-1"
    aria-labelledby="forgotPassLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
        <div class="modal-body">
          <h3>Восстановление пароля</h3>
          <div class="text text--5 cf-1-0 pe-5 me-5 mb-3">
            Введите email, на который зарегистрирован Ваш аккаунт
          </div>
          <form class="form needs-validation" novalidate>
            <div class="mb-3">
              <input
                class="form-control form-control--secondary"
                type="text"
                placeholder="Email"
                required
              />
            </div>

            <div class="mb-3">
              <div class="row row-cols-auto align-items-center gx-3">
                <div class="col">
                  <button class="button button--base" type="submit">
                    Далее
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>