<div
    class="modal modal--base-second fade"
    id="removeVacancy"
    tabindex="-1"
    aria-labelledby="removeVacancyLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
        <div class="modal-body">
          <div class="text-center">
            <div class="modal__img">
              <img src="img/icon-trash.svg" alt="">
            </div>
            <h2>Вы действительно хотите удалить вакансию?</h2>
            <div class="cf-2-0 mb-4 ps-5 pe-5">
              Вакансии будут помещены в «Удаленные вакансии» и будут храниться на протяжении 3 месяцев. При этом, они не будут отображаться в списке вакансий.
            </div>
          </div>
          <div class="mb-3">
            <div class="row row-cols-auto align-items-center justify-content-center gx-3">
              <div class="col">
                <button
                  class="button button--base-second"
                  type="button"
                >Да, удалить</button>
              </div>
              <div class="col">
                <button
                  class="button button--base-third"
                  type="button"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                >Нет, не удалять</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>