<div
  class="modal modal--base fade"
  id="send-offer"
  tabindex="-1"
  aria-labelledby="sendOfferLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog--secondary modal-dialog-centered">
    <div class="modal-content">
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
      <div class="modal-body">
        <h2>Выберите вакансию для предложения</h2>
        <form class="form needs-validation" novalidate>
          <div class="form-check form-check--radio-card mb-3">
            <input
              class="form-check-input"
              type="radio"
              id="radio-0"
              name="radioName[]"
            />
            <label class="form-check-label" for="radio-0">
              <span class="card card--base">
                <span class="card__in">
                  <span class="card__main">
                    <span class="card__head">
                      <span class="card__head-main">
                        <h3 class="card__title">Senior Front End Developer</h3>
                        <span class="card__list">
                          <span class="card__list-item">
                            <a class="card__company-link" href="#"
                              >Darwin Global</a
                            >
                          </span>
                          <span class="card__list-item">
                            <span class="card__icon-text">
                              <svg class="svg-icon">
                                <use
                                  xlink:href="img/svgSprite.svg#icon-loc"
                                ></use>
                              </svg>
                              <span>Ташкент</span>
                            </span>
                          </span>
                        </span>
                        <span class="card__price">от 2 500 000 сум/мес.</span>
                      </span>
                      <span class="card__head-aside">
                        <div class="card__head-content-position">
                          <div class="card__check-pseudo">
                            <svg class="card__check-icon svg-icon">
                              <use
                                xlink:href="img/svgSprite.svg#icon-check"
                              ></use>
                            </svg>
                          </div>
                        </div>
                      </span>
                    </span>
                    <span class="card__body">
                      Darwin Global — Провайдер прозрачного SEO-сервиса. Мы
                      можемпрофессионально настроить любую рекламу, разработать
                      ...
                    </span>
                  </span>
                </span>
              </span>
            </label>
          </div>
          <div class="form-check form-check--radio-card mb-3">
            <input
              class="form-check-input"
              type="radio"
              id="radio-1"
              name="radioName[]"
            />
            <label class="form-check-label" for="radio-1">
              <span class="card card--base">
                <span class="card__in">
                  <span class="card__main">
                    <span class="card__head">
                      <span class="card__head-main">
                        <h3 class="card__title">Senior Front End Developer</h3>
                        <span class="card__list">
                          <span class="card__list-item">
                            <a class="card__company-link" href="#"
                              >Darwin Global</a
                            >
                          </span>
                          <span class="card__list-item">
                            <span class="card__icon-text">
                              <svg class="svg-icon">
                                <use
                                  xlink:href="img/svgSprite.svg#icon-loc"
                                ></use>
                              </svg>
                              <span>Ташкент</span>
                            </span>
                          </span>
                        </span>
                        <span class="card__price">от 2 500 000 сум/мес.</span>
                      </span>
                      <span class="card__head-aside">
                        <div class="card__head-content-position">
                          <div class="card__check-pseudo">
                            <svg class="card__check-icon svg-icon">
                              <use
                                xlink:href="img/svgSprite.svg#icon-check"
                              ></use>
                            </svg>
                          </div>
                        </div>
                      </span>
                    </span>
                    <span class="card__body">
                      Darwin Global — Провайдер прозрачного SEO-сервиса. Мы
                      можемпрофессионально настроить любую рекламу, разработать
                      ...
                    </span>
                  </span>
                </span>
              </span>
            </label>
          </div>
          <div class="form-check form-check--radio-card mb-3">
            <input
              class="form-check-input"
              type="radio"
              id="radio-2"
              name="radioName[]"
            />
            <label class="form-check-label" for="radio-2">
              <span class="card card--base">
                <span class="card__in">
                  <span class="card__main">
                    <span class="card__head">
                      <span class="card__head-main">
                        <h3 class="card__title">Senior Front End Developer</h3>
                        <span class="card__list">
                          <span class="card__list-item">
                            <a class="card__company-link" href="#"
                              >Darwin Global</a
                            >
                          </span>
                          <span class="card__list-item">
                            <span class="card__icon-text">
                              <svg class="svg-icon">
                                <use
                                  xlink:href="img/svgSprite.svg#icon-loc"
                                ></use>
                              </svg>
                              <span>Ташкент</span>
                            </span>
                          </span>
                        </span>
                        <span class="card__price">от 2 500 000 сум/мес.</span>
                      </span>
                      <span class="card__head-aside">
                        <div class="card__head-content-position">
                          <div class="card__check-pseudo">
                            <svg class="card__check-icon svg-icon">
                              <use
                                xlink:href="img/svgSprite.svg#icon-check"
                              ></use>
                            </svg>
                          </div>
                        </div>
                      </span>
                    </span>
                    <span class="card__body">
                      Darwin Global — Провайдер прозрачного SEO-сервиса. Мы
                      можемпрофессионально настроить любую рекламу, разработать
                      ...
                    </span>
                  </span>
                </span>
              </span>
            </label>
          </div>
          <div class="wrap wrap--base">
            <div class="wrap__in-secondary">
              <h2>Дополните свое предложение</h2>
              <div class="cf-2-0 mb-3">
                Если у вас возник вопрос или предложение, напишите соискателю.
                Расскажите подробнее о вашеих вопросах. Обратите его внимание на
                недостаточную информацию о нем.
              </div>
              <textarea
                class="form-control form-control--secondary"
                placeholder="Ваше сообщение ..."
              ></textarea>
            </div>
          </div>
          <div class="pt-2 pb-2">
            <div class="row row-cols-auto align-items-center gy-3 gx-3 justify-content-end">
              <div class="col">
                <button class="button button--base" type="submit">Отправить</button>
              </div>
              <div class="col">
                <a class="text text--3 cf-2-1 text-decoration-underline" data-bs-dismiss="modal"
                aria-label="Close" href="#">Отмена</a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
