<div
  class="modal modal--base fade"
  id="login"
  tabindex="-1"
  aria-labelledby="loginLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
      <div class="modal-body">
        <h3>Вход</h3>
        <div class="modal__socials">
          <div class="row row-cols-auto align-items-center gx-3 gy-3">
            <div class="col">
              <div>Войти с помощью</div>
            </div>
            <div class="col">
              <a class="link link--social" href="#">
                <img src="img/icon-fb.svg" alt="" />
              </a>
              <a class="link link--social" href="#">
                <img src="img/icon-vk.svg" alt="" />
              </a>
              <a class="link link--social" href="#">
                <img src="img/icon-g.svg" alt="" />
              </a>
              <a class="link link--social" href="#">
                <img src="img/icon-in.svg" alt="" />
              </a>
            </div>
          </div>
        </div>
        <form class="form needs-validation" novalidate>
          <div class="mb-3">
            <input
              class="form-control form-control--secondary"
              type="text"
              placeholder="Email или логин"
              required
            />
          </div>
          <div class="mb-3">
            <div class="position-relative">
              <button
                class="form-control-tumbler"
                data-element="password-toggle"
                type="button"
              >
                <svg class="svg-icon">
                  <use xlink:href="img/svgSprite.svg#icon-eye"></use>
                </svg>
              </button>
              <input
                class="form-control form-control--secondary"
                type="password"
                placeholder="Пароль"
                required
              />
            </div>
          </div>
          <div class="mb-3">
            <div class="row row-cols-auto align-items-center gx-3">
              <div class="col">
                <button class="button button--base" type="submit">Войти</button>
              </div>
              <div class="col">
                <a
                  class="text text--3 cf-2-1 text-decoration-underline"
                  href="#"
                  data-bs-dismiss="modal"
                  data-bs-toggle="modal"
                  data-bs-target="#forgotPass"
                  >Забыли пароль?</a
                >
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-foot">
        <div class="row row-cols-auto align-items-center gx-3">
          <div class="col">
            <div class="text text--3 cf-2-4">Нет аккаунта?</div>
          </div>
          <div class="col">
            <a
              class="text text--3 cf-3-0"
              href="#"
              data-bs-dismiss="modal"
              data-bs-toggle="modal"
              data-bs-target="#signUp"
              >Зарегистрируйтесь</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
