<div class="mb-3">
  <table class="table">
    <thead>
      <tr>
        <th>Lorem, ipsum.</th>
        <th>Lorem, ipsum.</th>
        <th>Lorem, ipsum.</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Lorem ipsum dolor sit amet.</td>
        <td>Lorem ipsum dolor sit amet.</td>
        <td>Lorem ipsum dolor sit amet.</td>
      </tr>
      <tr>
        <td>Lorem ipsum dolor sit amet.</td>
        <td>Lorem ipsum dolor sit amet.</td>
        <td>Lorem ipsum dolor sit amet.</td>
      </tr>
      <tr>
        <td>Lorem ipsum dolor sit amet.</td>
        <td>Lorem ipsum dolor sit amet.</td>
        <td>Lorem ipsum dolor sit amet.</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="mb-3">
  <table class="table table--base">
    <thead>
      <tr>
        <th>Lorem, ipsum.</th>
        <th>Lorem, ipsum.</th>
        <th>Lorem, ipsum.</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Lorem ipsum dolor sit amet.</td>
        <td>Lorem ipsum dolor sit amet.</td>
        <td>Lorem ipsum dolor sit amet.</td>
      </tr>
      <tr>
        <td>Lorem ipsum dolor sit amet.</td>
        <td>Lorem ipsum dolor sit amet.</td>
        <td>Lorem ipsum dolor sit amet.</td>
      </tr>
      <tr>
        <td>Lorem ipsum dolor sit amet.</td>
        <td>Lorem ipsum dolor sit amet.</td>
        <td>Lorem ipsum dolor sit amet.</td>
      </tr>
    </tbody>
  </table>
</div>