.box-shadow--0 {
	box-shadow: 0px 0.7rem 1.17rem var(--bxsh-1-1);
}
.box-shadow--1 {
	box-shadow: 0px .7rem .65rem var(--bxsh-1-1);
}
.box-shadow--2 {
	box-shadow: 0px .3rem .65rem var(--bxsh-1-2), inset 0px .3rem .3rem var(--bxsh-1-3);
}
.box-shadow--3 {
	box-shadow: 0px .7rem .58rem var(--bxsh-1-4);
}
.box-shadow--4 {
	box-shadow: 0px 1px 2px var(--bxsh-1-0);
}