.background-gradient--1 {
  background: linear-gradient(95.42deg, #605FE8 -42.63%, #807FFB 54.08%), #C4C4C4;
}
.background-gradient--2 {
  background: linear-gradient(94.47deg, #4AB3FF -42.18%, #1D1B95 115.53%), #C4C4C4;
}
.background-gradient--3 {
  background: linear-gradient(268.1deg, #FFFFFF 1.47%, #F6F9FF 59.69%)
}
.background-gradient--4 {
  background: linear-gradient(94.79deg, #605FE8 3.91%, #807FFB 53.85%), #C4C4C4;
}
.background-gradient--5 {
  background: linear-gradient(180deg, #F7F7F7 52.6%, #FFFFFF 100%);
}
.background-gradient--6 {
  background: linear-gradient(180deg, #FFFFFF 0%, #F7F7F7 52.6%, #FFFFFF 100%)
}
.background-gradient--7 {
  background: linear-gradient(268.1deg, #FFFFFF 1.47%, #F6F9FF 59.69%);
}
.background-gradient--8 {
  background: linear-gradient(267.57deg, #55408E -9.33%, #1B101D 46.99%), linear-gradient(92.11deg, #74CBF9 34.46%, #8FA3F8 100.83%);
}
.background-gradient--9 {
  background: linear-gradient(92.09deg, #FFFFFF 38.78%, #ECF4FC 100.02%);
}