<div class="mb-3">
  <div class="list list--base">
    <li><a href="#">Lorem, ipsum dolor.</a></li>
    <li><a href="#">Lorem, ipsum dolor.</a></li>
    <li><a href="#">Lorem, ipsum dolor.</a></li>
    <li><a href="#">Lorem, ipsum dolor.</a></li>
  </div>
</div>