<div class="section section--subscribe">
  <div class="container-fluid">
    <div class="wrap wrap--third">
      <div class="wrap__background" style="background-image: url(img/background-section-subscribe.png);">&nbsp;</div>
      <div class="position-relative">
        <div class="wrap__head">
          <h2>Подпишитесь на интересные Вам резюме</h2>
          <p>Каждый день мы можем Вам присылать резюме соискателей по выбранным ключевым словам</p>
        </div>
        <form class="form form--secondary needs-validation" novalidate>
          <div class="form__row">
            <div class="form__column">
              <input
                type="text"
                class="form-control"
                placeholder="Укажите ключевые слова через запятую"
                required
              />
            </div>
            <div class="form__column">
              <input
                type="email"
                class="form-control"
                placeholder="Email для подписки"
                required
              />
            </div>
          </div>
          <div class="form__row-secondary">
            <div class="form__column-secondary">
              <button class="button button--base" type="submit">Подписаться на резюме</button>
            </div>
            <div class="form__column-secondary">
              <a class="link link--telegram" href="#">
                <img src="img/icon-tg.svg" alt="">
                <span class="text__label">Отправлять мне в Telegram</span>
              </a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
