<div class="section section--brands-list">
  <div class="container-fluid">
    <div class="wrap wrap--base">
      <div class="wrap__in-secondary">
        <h3>Популярные компании среди соискателей</h3>
        <hr class="mt-0 mb-4">
        <div class="row row-cols-auto gy-3 gx-4 mb-4 pb-3">
          <div class="col">
            <a class="card card--third" href="#">
              <div class="card__img-wrap">
                <img src="img/img-card-brands-0.png" alt="">
              </div>
              <div class="card__label">Яндекс</div>
            </a>
          </div>
          <div class="col">
            <a class="card card--third" href="#">
              <div class="card__img-wrap">
                <img src="img/img-card-brands-1.png" alt="">
              </div>
              <div class="card__label">Яндекс</div>
            </a>
          </div>
          <div class="col">
            <a class="card card--third" href="#">
              <div class="card__img-wrap">
                <img src="img/img-card-brands-2.png" alt="">
              </div>
              <div class="card__label">Яндекс</div>
            </a>
          </div>
          <div class="col">
            <a class="card card--third" href="#">
              <div class="card__img-wrap">
                <img src="img/img-card-brands-3.png" alt="">
              </div>
              <div class="card__label">Яндекс</div>
            </a>
          </div>
          <div class="col">
            <a class="card card--third" href="#">
              <div class="card__img-wrap">
                <img src="img/img-card-brands-4.png" alt="">
              </div>
              <div class="card__label">Яндекс</div>
            </a>
          </div>
          <div class="col">
            <a class="card card--third" href="#">
              <div class="card__img-wrap">
                <img src="img/img-card-brands-5.png" alt="">
              </div>
              <div class="card__label">Яндекс</div>
            </a>
          </div>
          <div class="col">
            <a class="card card--third" href="#">
              <div class="card__img-wrap">
                <img src="img/img-card-brands-6.png" alt="">
              </div>
              <div class="card__label">Яндекс</div>
            </a>
          </div>
          <div class="col">
            <a class="card card--third" href="#">
              <div class="card__img-wrap">
                <img src="img/img-card-brands-7.png" alt="">
              </div>
              <div class="card__label">Яндекс</div>
            </a>
          </div>
          <div class="col">
            <a class="card card--third" href="#">
              <div class="card__img-wrap">
                <img src="img/img-card-brands-8.png" alt="">
              </div>
              <div class="card__label">Яндекс</div>
            </a>
          </div>
          <div class="col">
            <a class="card card--third" href="#">
              <div class="card__img-wrap">
                <img src="img/img-card-brands-9.png" alt="">
              </div>
              <div class="card__label">Яндекс</div>
            </a>
          </div>
          <div class="col">
            <a class="card card--third" href="#">
              <div class="card__img-wrap">
                <img src="img/img-card-brands-10.png" alt="">
              </div>
              <div class="card__label">Яндекс</div>
            </a>
          </div>
          <div class="col">
            <a class="card card--third" href="#">
              <div class="card__img-wrap">
                <img src="img/img-card-brands-0.png" alt="">
              </div>
              <div class="card__label">Яндекс</div>
            </a>
          </div>
          <div class="col">
            <a class="card card--third" href="#">
              <div class="card__img-wrap">
                <img src="img/img-card-brands-1.png" alt="">
              </div>
              <div class="card__label">Яндекс</div>
            </a>
          </div>
          <div class="col">
            <a class="card card--third" href="#">
              <div class="card__img-wrap">
                <img src="img/img-card-brands-2.png" alt="">
              </div>
              <div class="card__label">Яндекс</div>
            </a>
          </div>
          <div class="col">
            <a class="card card--third" href="#">
              <div class="card__img-wrap">
                <img src="img/img-card-brands-3.png" alt="">
              </div>
              <div class="card__label">Яндекс</div>
            </a>
          </div>
          <div class="col">
            <a class="card card--third" href="#">
              <div class="card__img-wrap">
                <img src="img/img-card-brands-4.png" alt="">
              </div>
              <div class="card__label">Яндекс</div>
            </a>
          </div>
          <div class="col">
            <a class="card card--third" href="#">
              <div class="card__img-wrap">
                <img src="img/img-card-brands-5.png" alt="">
              </div>
              <div class="card__label">Яндекс</div>
            </a>
          </div>
          <div class="col">
            <a class="card card--third" href="#">
              <div class="card__img-wrap">
                <img src="img/img-card-brands-6.png" alt="">
              </div>
              <div class="card__label">Яндекс</div>
            </a>
          </div>
          <div class="col">
            <a class="card card--third" href="#">
              <div class="card__img-wrap">
                <img src="img/img-card-brands-7.png" alt="">
              </div>
              <div class="card__label">Яндекс</div>
            </a>
          </div>
          <div class="col">
            <a class="card card--third" href="#">
              <div class="card__img-wrap">
                <img src="img/img-card-brands-8.png" alt="">
              </div>
              <div class="card__label">Яндекс</div>
            </a>
          </div>
          <div class="col">
            <a class="card card--third" href="#">
              <div class="card__img-wrap">
                <img src="img/img-card-brands-9.png" alt="">
              </div>
              <div class="card__label">Яндекс</div>
            </a>
          </div>
          <div class="col">
            <a class="card card--third" href="#">
              <div class="card__img-wrap">
                <img src="img/img-card-brands-10.png" alt="">
              </div>
              <div class="card__label">Яндекс</div>
            </a>
          </div>
        </div>
        <div class="text-center">
          <a class="button button--secondary-fourth" href="#">Показать еще</a>
        </div>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 gy-3">
      <div class="col">
        <a class="card card--secondary d-flex" href="#">
          <div class="card__aside">
            <div class="card__img-wrap">
              <img src="img/img-card-category-1.svg" alt="">
            </div>
          </div>
          <div class="card__main">Вакансии по городам</div>
        </a>
      </div>
      <div class="col">
        <a class="card card--secondary d-flex" href="#">
          <div class="card__aside">
            <div class="card__img-wrap">
              <img src="img/img-card-category-4.svg" alt="">
            </div>
          </div>
          <div class="card__main">Вакансии по компания</div>
        </a>
      </div>
      <div class="col">
        <a class="card card--secondary d-flex" href="#">
          <div class="card__aside">
            <div class="card__img-wrap">
              <img src="img/img-card-category-5.svg" alt="">
            </div>
          </div>
          <div class="card__main">Вакансии по должностям</div>
        </a>
      </div>
    </div>
  </div>
</div>