<div class="section section--news">
  <div class="container-fluid">
    <div class="section__row">
      <div class="section__column">
        <h3 class="section__title">Работа в Узбекистане</h3>
        <div class="wrap wrap--base">
          <div class="wrap__in-secondary">
            <p>
              Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру
              сгенерировать несколько абзацев более менее осмысленного текста
              рыбы на русском языке, а начинающему оратору отточить навык
              публичных выступлений в домашних условиях. При создании генератора
              мы использовали небезизвестный универсальный код речей. Текст
              генерируется абзацами случайным образом от двух до десяти
              предложений в абзаце, что позволяет сделать текст более
              привлекательным и живым для визуально-слухового восприятия.
            </p>

            <p>
              По своей сути рыбатекст является альтернативой традиционному lorem
              ipsum, который вызывает у некторых людей недоумение при попытках
              прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на
              русском языке наполнит любой макет непонятным смыслом и придаст
              неповторимый колорит советских времен.
            </p>
          </div>
        </div>
      </div>
      <div class="section__column">
        <h3 class="section__title">Статьи и новости</h3>
        <div class="wrap wrap--base">
          <div class="wrap__in-secondary">
            <a class="card card--fifth" href="#">
              <div class="card__row">
                <div class="card__aside">
                  <div class="card__date">
                    <div class="card__date-day">22</div>
                    <div class="card__date-month">авг.</div>
                  </div>
                </div>
                <div class="card__main">
                  <div class="card__content">
                    <h4>10 вакансий для работы удаленно</h4>
                    <div>
                      Карантин внес правки в нашу повседневную жизнь. Поэтому
                      Work.ua предлагает 10 вакансий, благодаря которым вы
                      сможете работать, не выходя из дома.
                    </div>
                  </div>
                </div>
              </div>
            </a>
            <a class="card card--fifth" href="#">
              <div class="card__row">
                <div class="card__aside">
                  <div class="card__date">
                    <div class="card__date-day">22</div>
                    <div class="card__date-month">авг.</div>
                  </div>
                </div>
                <div class="card__main">
                  <div class="card__content">
                    <h4>10 вакансий для работы удаленно</h4>
                    <div>
                      Карантин внес правки в нашу повседневную жизнь. Поэтому
                      Work.ua предлагает 10 вакансий, благодаря которым вы
                      сможете работать, не выходя из дома.
                    </div>
                  </div>
                </div>
              </div>
            </a>
            <a class="card card--fifth" href="#">
              <div class="card__row">
                <div class="card__aside">
                  <div class="card__date">
                    <div class="card__date-day">22</div>
                    <div class="card__date-month">авг.</div>
                  </div>
                </div>
                <div class="card__main">
                  <div class="card__content">
                    <h4>10 вакансий для работы удаленно</h4>
                    <div>
                      Карантин внес правки в нашу повседневную жизнь. Поэтому
                      Work.ua предлагает 10 вакансий, благодаря которым вы
                      сможете работать, не выходя из дома.
                    </div>
                  </div>
                </div>
              </div>
            </a>
            <div class="wrap__list">
              <nav class="list list--base">
                <ul>
                  <li>
                    <a href="#">Все статьи</a>
                  </li>
                  <li>
                    <a href="#">Все новости</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
