<div class="section section--vacancy-list">
  <div class="container-fluid">
    <div class="wrap wrap--base">
      <div class="wrap__in">
        <div class="tabs tabs--base">
          <div class="dropdown">
            <button
              class="dropdown__toggle-tabs dropdown-toggle"
              type="button"
              id="tabs-dropdown"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Резюме по специальностям
            </button>
            <div class="dropdown__menu-tabs dropdown-menu" aria-labelledby="tabs-dropdown">
              <ul class="nav nav-tabs" id="vacancy-list" role="tablist">
                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link active"
                    id="bySpecialties-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#bySpecialties"
                    type="button"
                    role="tab"
                    aria-controls="bySpecialties"
                    aria-selected="true"
                  >
                    Резюме по специальностям
                  </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link"
                    id="byRegions-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#byRegions"
                    type="button"
                    role="tab"
                    aria-controls="byRegions"
                    aria-selected="false"
                  >
                    Резюме по регионам
                  </button>
                </li>
              </ul>
            </div>
          </div>
          <div class="tab-content" id="myTabContent">
            <div
              class="tab-pane fade show active"
              id="bySpecialties"
              role="tabpanel"
              aria-labelledby="bySpecialties-tab"
            >
              <div class="tabs__list-wrap">
                <div class="list list--ninth">
                  <div class="list__item">
                    <a class="link link--base-second" href="#">
                      <span class="link__label">
                        IT, компьютеры, интернет
                        <div class="badge badge--base">
                          <div class="badge__label">123</div>
                        </div>
                      </span>
                    </a>
                  </div>
                  <div class="list__item">
                    <a class="link link--base-second" href="#">
                      <span class="link__label">
                        Сельское хозяйство, агробизнес
                        <div class="badge badge--base">
                          <div class="badge__label">53</div>
                        </div>
                      </span>
                    </a>
                  </div>
                  <div class="list__item">
                    <a class="link link--base-second" href="#">
                      <span class="link__label">
                        Администрация, руководство среднего звена
                        <div class="badge badge--base">
                          <div class="badge__label">23</div>
                        </div>
                      </span>
                    </a>
                  </div>
                  <div class="list__item">
                    <a class="link link--base-second" href="#">
                      <span class="link__label">
                        СМИ, издательство, полиграфия
                        <div class="badge badge--base">
                          <div class="badge__label">17</div>
                        </div></span
                      >
                    </a>
                  </div>
                  <div class="list__item">
                    <a class="link link--base-second" href="#">
                      <span class="link__label">
                        Бухгалтерия, аудит
                        <div class="badge badge--base">
                          <div class="badge__label">16</div>
                        </div>
                      </span>
                    </a>
                  </div>
                  <div class="list__item">
                    <a class="link link--base-second" href="#">
                      <span class="link__label">
                        Страхование
                        <div class="badge badge--base">
                          <div class="badge__label">5</div>
                        </div>
                      </span>
                    </a>
                  </div>
                  <div class="list__item">
                    <a class="link link--base-second" href="#">
                      <span class="link__label">
                        Гостинично-ресторанный бизнес, туризм
                        <div class="badge badge--base">
                          <div class="badge__label">1</div>
                        </div>
                      </span>
                    </a>
                  </div>
                  <div class="list__item">
                    <a class="link link--base-second" href="#">
                      <span class="link__label">
                        Строительство, архитектура
                        <div class="badge badge--base">
                          <div class="badge__label">3</div>
                        </div>
                      </span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="tab-pane fade"
              id="byRegions"
              role="tabpanel"
              aria-labelledby="byRegions-tab"
            >
              <div class="tabs__map-country-wrap">
                <div class="tabs__map-country">
                  <div class="tabs__map-country-main">
                    <div class="tabs__svg-map-wrap">
                      <svg
                        class="tabs__svg-map"
                        viewBox="0 0 508 334"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <g opacity="0.5">
                          <path
                            d="M158.821 175.02L156.932 177.86L151.894 174.073H134.263L130.799 172.81L121.983 166.181L121.354 163.972L125.132 159.553L122.928 154.818L121.983 152.293L123.243 150.714L127.966 151.661L123.558 145.98L118.205 145.033L118.52 142.823H120.409V139.351L121.983 136.194L116.631 130.513H118.835L128.28 139.035L127.651 141.561L129.54 144.086L133.318 145.033V147.874L135.207 151.977L141.504 158.921L146.857 163.025L151.579 168.075H154.413L158.821 175.02Z"
                            fill="#9384EF"
                            stroke="black"
                          />
                          <path
                            d="M194.709 167.074L182.748 171.183V171.238L188.729 182.286L176.453 186.691L178.336 194.593L180.865 202.162L187.787 207.214L189.356 220.798L190.944 223.315L206.357 236.88L221.789 246.355L227.142 254.572L241.319 263.714L246.986 263.084L250.438 258.976L253.595 258.032L257.379 258.347L259.889 257.403L260.203 252.036L264.615 248.576L268.713 246.04L270.282 243.523V242.82L264.615 241.562L266.811 239.045V236.824L263.046 236.195L259.575 237.139L257.693 235.566L252.339 227.367L253.595 225.147L257.693 223.888L259.889 217.892L258.948 215.986L260.831 213.784L260.203 209.676L262.4 207.788L266.498 210.638L269.34 207.473L271.851 207.159L272.478 204.309L276.576 201.163L277.204 197.998L274.694 197.683L272.478 196.425H270.909L266.184 199.257H263.36L260.831 197.683L255.791 191.058V185.062L254.536 182.212L252.653 182.86L251.379 185.377L246.045 186.006L244.143 186.321V191.687L243.202 192.946L234.692 193.908L233.437 192.317L235.024 189.8L234.065 186.95L231.24 187.264L226.515 191.687L226.201 194.223L228.711 197.998L227.456 199.257H224.318L222.103 197.369L222.417 192.946L206.357 183.175L204.161 187.264L201.65 187.579L200.69 184.433V180.639L198.807 178.752L196.611 175.587L195.983 170.535L194.709 167.074Z"
                            fill="#EFEB84"
                            stroke="black"
                          />
                          <path
                            d="M314.988 295.906L319.392 294.342L323.802 294.342L326.006 291.761L326.947 287.969L328.536 285.432L330.738 285.118L333.564 280.707L332.613 278.175L333.243 275.34L339.241 274.699L340.177 270.281L340.17 267.453L341.746 267.124L344.266 268.39L346.796 267.121L347.415 265.227L344.905 262.72L347.103 259.231L345.839 253.558L337.338 251.979L337.655 248.503L330.738 245.341L326.321 249.76L322.236 245.667L316.245 243.465L314.036 245.35L311.524 249.763L308.688 249.137L306.176 246.288L307.432 246.616L303.661 250.087L301.452 248.505L301.142 245.044L298.938 246.613L295.469 249.133L292.642 248.821L289.796 242.506L286.962 240.938L284.766 243.14L270.282 242.82L270.28 243.516L268.705 246.041L264.612 248.566L260.204 252.039L259.889 257.405L257.371 258.352L253.592 258.036L250.444 258.983L246.98 263.086L254.852 271.609L266.816 277.606L284.133 290.232L289.171 290.864L292.004 288.97L297.042 290.232L301.45 293.389L308.377 297.177L315.933 298.755L314.988 295.906Z"
                            fill="#84EFDC"
                            stroke="black"
                          />
                          <path
                            d="M315.931 298.755L314.987 295.906L319.391 294.343L323.8 294.342L326.004 291.762L326.946 287.969L328.534 285.432L330.736 285.118L333.563 280.707L332.612 278.176L333.241 275.341L339.239 274.699L340.175 270.281L340.168 267.454L341.744 267.124L344.264 268.391L346.794 267.122L347.413 265.228L344.903 262.72L347.101 259.231L347.416 258.667L351.195 259.93L359.066 258.667L362.529 264.349L358.751 267.19V276.344L361.585 280.447L362.844 284.551L367.882 287.392L369.456 290.864L366.308 299.071L361.9 300.018L361.585 302.859L359.066 309.172L354.028 316.432L353.084 320.851L354.343 326.533L352.769 330.005L351.51 328.742L347.731 327.164L345.842 329.058L343.323 326.217L341.119 329.689L336.397 330.952L334.822 327.795L331.674 326.533V324.323L327.266 322.745L318.45 325.901L313.727 323.692L315.302 320.535L313.098 318.957L313.727 307.278L318.135 302.227L315.931 298.755Z"
                            fill="#84A2EF"
                            stroke="black"
                          />
                          <path
                            d="M337.658 248.502L330.736 245.337L326.324 249.76L322.226 245.67L316.245 243.468L314.03 245.356L311.52 249.76L308.695 249.131L306.905 247.114L303.656 250.093L301.459 248.502L301.145 245.041L298.93 246.614L295.46 249.131L292.636 248.816L289.793 242.506L286.969 240.933L284.772 243.135L270.282 242.82L271.537 236.824L270.909 234.307L268.066 232.716L267.125 230.514L269.026 229.884H271.851L272.478 226.72L275.007 228.311L277.831 227.997L278.145 225.461L277.518 222.315L279.4 219.151L285.714 222.945L287.283 220.409L291.694 222.63L293.577 221.686L295.46 222.315L298.303 219.465L295.774 216.634L297.989 211.896L298.303 203.994L300.186 199.904H302.715L303.656 203.68H305.539L308.695 200.219L310.892 201.163L311.206 203.994H313.107L314.676 202.107L315.304 197.998L319.716 197.369L319.396 196.8L319.081 201.219L319.711 204.375L321.6 205.322L322.859 207.532L320.655 209.742V213.214L322.229 215.108L326.323 215.423L328.212 219.211H330.101L331.045 221.105L330.101 223.946L332.305 226.155H333.879L337.028 224.893L343.01 227.418V229.312L340.806 230.575L339.231 233.415L341.121 239.097L339.231 240.675L337.658 248.502ZM306.905 247.114L307.44 246.614L306.166 246.281L306.905 247.114Z"
                            fill="#9384EF"
                            stroke="black"
                          />
                          <path
                            d="M341.129 239.1L339.227 233.419L340.815 230.569L343.011 229.311V227.423L337.031 224.888L333.874 226.165H332.305L330.108 223.944L331.05 221.112L330.108 219.206H328.207L326.324 215.431L322.226 215.116L320.657 213.21V209.75L322.854 207.529L321.599 205.327L319.716 204.383L319.088 201.218L319.365 197.424L319.716 197.369L319.088 195.167L315.932 185.062L316.245 181.583L319.402 180.325L318.774 177.179L319.081 176.914L327.582 178.176L345.529 174.704L348.362 175.967L350.566 174.704L353.4 180.07L356.549 179.123L355.289 186.383L354.03 187.961V189.54L362.531 194.59V200.903L356.234 207.848L356.863 211.951L360.956 212.267L368.513 210.057L370.717 212.267L369.143 214.476L369.457 217.317L372.291 218.264L373.551 219.842L369.457 221.736L371.976 224.577L373.551 225.524L374.18 233.1L371.032 237.203H367.568L347.103 235.625H344.899L341.129 239.1Z"
                            fill="#84C2EF"
                            stroke="#84C2EF"
                          />
                          <path
                            d="M378.28 216.373L379.842 217.321L384.578 215.733L383.311 213.528L374.18 214.797L372.608 212.261L384.564 210.382L386.142 206.211L387.401 208.413L389.298 208.733L389.93 206.85L386.773 203.428L387.088 200.272L385.828 196.168L373.864 184.805L373.549 181.648L369.771 183.858L370.401 191.749H371.975V196.168L369.771 195.853L367.252 196.8L362.529 194.59V200.903L356.232 207.848L356.862 211.951L360.955 212.267L368.512 210.057L370.716 212.267L369.141 214.476L369.456 217.317L372.29 218.264L373.549 219.842L369.456 221.736L371.975 224.577L373.549 225.524L377.327 226.155L376.068 220.474L379.217 223.63L381.735 223.314L377.327 217.001L378.28 216.373Z"
                            fill="#EFEB84"
                            stroke="black"
                          />
                          <path
                            d="M389.931 206.85L386.775 203.428L387.089 200.272L385.83 196.168L373.866 184.805L373.551 181.648L374.81 177.545L382.996 172.81L383.311 164.919L392.127 161.447L395.59 155.765L400.628 152.293L409.129 150.083L411.018 148.821L417 140.614L417.315 137.142L422.353 134.616L427.076 137.457L429.594 131.46L435.577 127.356L437.781 125.462L444.078 128.619V131.46L433.058 136.51V141.876H428.335L423.927 148.821L420.779 151.346L414.796 155.134V157.975L422.038 158.29L423.297 161.131L422.038 165.866L425.816 171.548L427.076 175.967L425.816 177.861L423.927 175.651L422.668 176.914L422.353 181.333L417.315 185.436L407.555 189.224L405.666 192.381L402.202 192.696L395.905 186.383L392.757 188.593L392.442 191.118V195.537L388.979 197.747L391.497 201.219L392.442 204.375L389.931 206.85Z"
                            fill="#84A2EF"
                            stroke="black"
                          />
                          <path
                            d="M423.297 161.131L422.037 165.866L425.815 171.548L427.075 175.967L426.76 175.02L428.649 175.335L429.908 177.861L428.649 179.754L434.316 187.33L439.984 186.067L445.966 186.383L448.8 188.277L452.578 188.593L456.356 184.805L459.819 179.123L465.487 177.861L471.469 178.176L474.617 175.967L475.562 172.81L473.358 163.972L470.839 166.813L465.802 163.656L465.487 161.762L462.653 157.659H459.819L458.875 152.608H457.301L456.986 155.765L457.301 158.921L456.041 163.656L452.893 162.078L452.263 163.341L452.578 171.232L450.059 169.022L449.429 170.916L446.281 168.391V171.548L445.336 171.863L439.984 168.075L433.372 167.444V163.025L430.853 158.606L423.297 161.131Z"
                            fill="#EFEB84"
                            stroke="black"
                          />
                          <path
                            d="M456.355 184.805L459.819 179.123L465.486 177.861L471.468 178.176L474.617 175.967L475.561 172.81L479.025 172.179L479.34 169.338L484.377 171.863L485.007 174.073L488.47 175.335L503.268 175.967L505.472 177.861L494.453 183.858L493.823 188.277H491.619L491.304 190.487H488.785L483.748 187.33L482.173 188.593L485.322 193.959L483.748 196.168L480.284 194.59V192.065L475.876 188.277L466.431 185.12L456.355 184.805Z"
                            fill="#84EFDC"
                            stroke="black"
                          />
                          <path
                            d="M434.311 187.339L439.978 186.062L445.959 186.376L448.802 188.282L452.586 188.597L456.352 184.803L466.431 185.118L475.882 188.282L480.293 192.058V194.593L475.563 194.59V197.747L471.784 199.641V201.535L467.691 203.744L466.432 206.269L463.913 208.163L461.394 202.797L460.45 204.691L457.616 205.322L452.264 202.166L434.002 207.848H432.113L429.279 202.166H426.131L422.982 200.272L423.612 198.378L429.279 194.275L432.743 190.802L434.311 187.339ZM444.707 217.948L447.541 218.58H451.004L450.689 215.423V211.635H446.911L444.078 208.479L442.818 210.373L443.763 212.898L442.818 214.161L445.652 215.423L444.707 217.948ZM464.228 216.055H466.117L468.321 215.423L467.691 212.898L464.228 216.055Z"
                            fill="#9384EF"
                            stroke="black"
                          />
                          <path
                            d="M87.9771 2.66504L15.8751 19.3946L2.6582 161.134L32.5623 166.186L37.6017 162.707L34.4636 160.819L32.5623 156.711L31.9347 149.142L32.5623 141.554L44.2101 132.097L46.739 131.468L52.7198 133.041L59.3283 132.727V130.821L61.2111 129.877L61.8387 125.787V122.937L62.4848 121.364L66.2505 119.772L69.407 122.622L74.1326 127.36L74.4464 129.562H79.172L74.1326 121.364L73.1727 119.143L69.407 116.626V115.053L74.1326 113.776L79.7996 115.368L82.3101 110.001L91.1336 120.105L97.4283 121.364L100.566 129.562L109.445 129.247L116.626 130.506H118.841L128.274 139.037L127.646 141.554L129.547 144.089L133.313 145.033V147.865L135.214 151.973L141.509 158.913L146.862 163.021L151.588 168.074H154.412L158.824 175.013L160.707 172.811L163.236 172.496L167.315 173.755L172.355 177.863L175.825 182.915L176.453 186.691L188.728 182.286L182.747 171.238L171.727 155.138L169.53 150.4L176.766 145.977L177.394 144.404L174.883 136.502L174.256 126.416L176.766 122.622L181.178 118.199L184.962 110.63L191.885 104.634L195.65 99.8966L194.709 98.6382L189.983 97.3613L184.63 93.2714L180.55 87.9046L156.609 59.183L154.726 54.4454V50.9662L148.431 46.7468L147.435 46.0251L144.859 43.7828L138.616 42.8293L132.059 39.1357L128.02 35.9818L122.211 30.1579L98.41 10.5574L95.758 12.9099C87.1016 24.145 87.3428 62.4444 89.474 53.6741L88.7156 56.8611L84.839 57.9061L81.9963 49.0786L84.5252 37.4012L84.5767 29.4076L90.6996 13.9768L92.4812 5.95914L87.9771 2.66504Z"
                            fill="#84C2EF"
                            stroke="black"
                          />
                          <path
                            d="M96.4029 38.9119L93.2991 43.4842L91.2479 45.8562C90.2095 46.2215 93.3288 39.0797 89.3812 57.9856L84.8298 57.9128L81.9961 49.0746L84.5149 37.3955L83.017 27.8493L90.9265 13.9831L92.701 5.51465L98.5058 9.98295L96.1016 12.3101C94.5053 14.0323 94.9124 11.3043 95.2083 20.5105L98.0011 24.4001C96.4166 27.2724 94.7085 27.1423 94.398 30.1874L94.5956 34.1798L96.4029 38.9119Z"
                            fill="#0000FF"
                            stroke="#969300"
                          />
                        </g>
                        <g filter="url(#filter0_d)">
                          <path
                            d="M182.748 171.179L171.728 155.078L169.531 150.341L176.767 145.918L177.395 144.345L174.884 136.443L174.257 126.357L176.767 122.563L181.179 118.14L184.963 110.571L191.885 104.575L195.651 99.8374L194.71 98.579L189.984 97.3021L184.631 93.2122L180.551 87.8454L197.234 84.9998L214.551 82.4746L248.24 85.9467L261.779 78.3711L270.594 89.4189L278.781 94.4693L286.967 110.883L295.783 106.148L294.838 127.928L293.579 130.138L294.838 144.974L308.062 144.658L310.266 154.443L315.618 176.223L318.767 177.17L319.396 180.327L316.248 181.589L315.933 185.061L319.082 195.162L319.711 197.372L315.303 198.003L314.674 202.107L313.099 204H311.21L310.895 201.16L308.691 200.213L305.543 203.685H303.654L302.709 199.897H300.19L298.301 204L297.986 211.892L295.783 216.627L298.301 219.467L295.468 222.308L293.579 221.677L291.689 222.624L287.282 220.414L285.707 222.94L279.41 219.152L277.521 222.308L278.151 225.465L277.836 227.99L275.002 228.306L272.484 226.727L271.854 229.884H269.02L267.131 230.515L268.076 232.725L270.909 234.303L271.539 236.828L270.28 242.826L264.612 241.563L266.816 239.038V236.828L263.038 236.197L259.575 237.144L257.685 235.566L252.333 227.359L253.592 225.149L257.685 223.887L259.889 217.889L258.945 215.995L260.834 213.786L260.204 209.682L262.408 207.788L266.501 210.629L269.335 207.473L271.854 207.157L272.484 204.316L276.577 201.16L277.206 198.003L274.687 197.687L272.484 196.425H270.909L266.186 199.266H263.353L260.834 197.687L255.796 191.059V185.061L254.537 182.221L252.648 182.852L251.388 185.377L246.036 186.008L244.147 186.324V191.69L243.202 192.953L234.701 193.9L233.442 192.321L235.016 189.796L234.072 186.955L231.238 187.271L226.515 191.69L226.2 194.215L228.719 198.003L227.46 199.266H224.311L222.107 197.372L222.422 192.953L206.365 183.167L204.161 187.271L201.642 187.587L200.697 184.43V180.642L198.808 178.748L196.604 175.592L195.975 170.541L194.715 167.069L182.748 171.179Z"
                            fill="#1D3B95"
                          />
                          <path
                            d="M182.748 171.179L171.728 155.078L169.531 150.341L176.767 145.918L177.395 144.345L174.884 136.443L174.257 126.357L176.767 122.563L181.179 118.14L184.963 110.571L191.885 104.575L195.651 99.8374L194.71 98.579L189.984 97.3021L184.631 93.2122L180.551 87.8454L197.234 84.9998L214.551 82.4746L248.24 85.9467L261.779 78.3711L270.594 89.4189L278.781 94.4693L286.967 110.883L295.783 106.148L294.838 127.928L293.579 130.138L294.838 144.974L308.062 144.658L310.266 154.443L315.618 176.223L318.767 177.17L319.396 180.327L316.248 181.589L315.933 185.061L319.082 195.162L319.711 197.372L315.303 198.003L314.674 202.107L313.099 204H311.21L310.895 201.16L308.691 200.213L305.543 203.685H303.654L302.709 199.897H300.19L298.301 204L297.986 211.892L295.783 216.627L298.301 219.467L295.468 222.308L293.579 221.677L291.689 222.624L287.282 220.414L285.707 222.94L279.41 219.152L277.521 222.308L278.151 225.465L277.836 227.99L275.002 228.306L272.484 226.727L271.854 229.884H269.02L267.131 230.515L268.076 232.725L270.909 234.303L271.539 236.828L270.28 242.826L264.612 241.563L266.816 239.038V236.828L263.038 236.197L259.575 237.144L257.685 235.566L252.333 227.359L253.592 225.149L257.685 223.887L259.889 217.889L258.945 215.995L260.834 213.786L260.204 209.682L262.408 207.788L266.501 210.629L269.335 207.473L271.854 207.157L272.484 204.316L276.577 201.16L277.206 198.003L274.687 197.687L272.484 196.425H270.909L266.186 199.266H263.353L260.834 197.687L255.796 191.059V185.061L254.537 182.221L252.648 182.852L251.388 185.377L246.036 186.008L244.147 186.324V191.69L243.202 192.953L234.701 193.9L233.442 192.321L235.016 189.796L234.072 186.955L231.238 187.271L226.515 191.69L226.2 194.215L228.719 198.003L227.46 199.266H224.311L222.107 197.372L222.422 192.953L206.365 183.167L204.161 187.271L201.642 187.587L200.697 184.43V180.642L198.808 178.748L196.604 175.592L195.975 170.541L194.715 167.069L182.748 171.179Z"
                            stroke="black"
                          />
                        </g>
                        <defs>
                          <filter
                            id="filter0_d"
                            x="148.891"
                            y="69.7275"
                            width="191.459"
                            height="205.696"
                            filterUnits="userSpaceOnUse"
                            color-interpolation-filters="sRGB"
                          >
                            <feFlood
                              flood-opacity="0"
                              result="BackgroundImageFix"
                            />
                            <feColorMatrix
                              in="SourceAlpha"
                              type="matrix"
                              values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                            />
                            <feOffset dy="12" />
                            <feGaussianBlur stdDeviation="10" />
                            <feColorMatrix
                              type="matrix"
                              values="0 0 0 0 0.2625 0 0 0 0 0.2625 0 0 0 0 0.2625 0 0 0 0.3 0"
                            />
                            <feBlend
                              mode="normal"
                              in2="BackgroundImageFix"
                              result="effect1_dropShadow"
                            />
                            <feBlend
                              mode="normal"
                              in="SourceGraphic"
                              in2="effect1_dropShadow"
                              result="shape"
                            />
                          </filter>
                        </defs>
                      </svg>
                    </div>
                  </div>
                  <div class="tabs__map-country-aside">
                    <div class="list list--ninth-secondary">
                      <div class="list__item">
                        <a class="link link--base-second" href="#">
                          <span class="link__label">
                            Каракалпакстанская Республика
                            <div class="badge badge--base">
                              <div class="badge__label">123</div>
                            </div>
                          </span>
                        </a>
                      </div>
                      <div class="list__item">
                        <a class="link link--base-second" href="#">
                          <span class="link__label">
                            Андижаннская область
                            <div class="badge badge--base">
                              <div class="badge__label">53</div>
                            </div>
                          </span>
                        </a>
                      </div>
                      <div class="list__item">
                        <a class="link link--base-second" href="#">
                          <span class="link__label">
                            Бухарская область
                            <div class="badge badge--base">
                              <div class="badge__label">23</div>
                            </div>
                          </span>
                        </a>
                      </div>
                      <div class="list__item">
                        <a class="link link--base-second" href="#">
                          <span class="link__label">
                            Джизакская область
                            <div class="badge badge--base">
                              <div class="badge__label">17</div>
                            </div>
                          </span>
                        </a>
                      </div>
                      <div class="list__item">
                        <a class="link link--base-second" href="#">
                          <span class="link__label">
                            Кашкадарьинская область
                            <div class="badge badge--base">
                              <div class="badge__label">16</div>
                            </div>
                          </span>
                        </a>
                      </div>
                      <div class="list__item">
                        <a class="link link--base-second" href="#">
                          <span class="link__label">
                            Навойинская область
                            <div class="badge badge--base">
                              <div class="badge__label">5</div>
                            </div>
                          </span>
                        </a>
                      </div>
                      <div class="list__item">
                        <a class="link link--base-second" href="#">
                          <span class="link__label">
                            Наманганская область
                            <div class="badge badge--base">
                              <div class="badge__label">1</div>
                            </div>
                          </span>
                        </a>
                      </div>
                      <div class="list__item">
                        <a class="link link--base-second" href="#">
                          <span class="link__label">
                            Самаркандская область
                            <div class="badge badge--base">
                              <div class="badge__label">3</div>
                            </div>
                          </span>
                        </a>
                      </div>
                    </div>
                    <a href="#">Полный список городов »</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
