<div class="section section--post-resume">
  <div class="container-fluid">
    <div class="wrap wrap--secondary-second">
      <div
        class="wrap__background"
        style="background-image: url(img/background-section-post-resume.png)"
      >
        &nbsp;
      </div>
      <h2>Разместить резюме</h2>
      <p>
        Разместите резюме, чтобы Вас смогли найти работодатели. Наши шаблоны поэтапно проведут Вас по вопросам, которые интересны работодателю и привлекут его внимание.
      </p>
      <br>
      <a class="button button--base" href="#">Создать резюме</a>
    </div>
  </div>
</div>
