<div class="section section--categories-short">
  <div class="container-fluid">
    <div class="row row-cols-xl-4 gx-2 gy-2">
      <div class="col">
        <a class="card card--secondary d-flex" href="#">
          <div class="card__aside">
            <div class="card__img-wrap">
              <img src="img/img-card-category-0.svg" alt="">
            </div>
          </div>
          <div class="card__main">Вакансии по категориям</div>
        </a>
      </div>
      <div class="col">
        <a class="card card--secondary d-flex" href="#">
          <div class="card__aside">
            <div class="card__img-wrap">
              <img src="img/img-card-category-1.svg" alt="">
            </div>
          </div>
          <div class="card__main">Вакансии по городам</div>
        </a>
      </div>
      <div class="col">
        <a class="card card--secondary d-flex" href="#">
          <div class="card__aside">
            <div class="card__img-wrap">
              <img src="img/img-card-category-2.svg" alt="">
            </div>
          </div>
          <div class="card__main">Работа для студентов</div>
        </a>
      </div>
      <div class="col">
        <a class="card card--secondary d-flex" href="#">
          <div class="card__aside">
            <div class="card__img-wrap">
              <img src="img/img-card-category-3.svg" alt="">
            </div>
          </div>
          <div class="card__main">Работа для фрилансеров</div>
        </a>
      </div>
    </div>
  </div>
</div>