<div class="section section--resume-newest">
  <div class="container-fluid">
    <h3 class="section__title">Последние резюме</h3>
    <div class="card card--base">
      <div class="card__in">
        <div class="card__aside">
          <div class="card__img card__img--avatar">
            <img src="img/img-card-1.png" alt="">
          </div>
        </div>
        <div class="card__main">
          <div class="card__head">
            <div class="card__head-main">
              <h3 class="card__title">
                Middle Full Stack Web Developer
                
              </h3>
              <div class="card__list">
                <div class="card__list-item">
                  <span class="card__badge card__badge--secondary">
                    <span class="badge badge--base-third">
                      <span class="badge__label">PRO</span>
                      <span class="badge__popup">
                        <span class="badge__popup-in">
                          <span class="badge__popup-content">
                            Профессиональное резюме — это резюме, в котором
                            соискатель указал опыт работы, образование и
                            подтвердил свою эл. почту.
                          </span>
                          <span class="badge__popup-foot">
                            <a href="#">Подробнее »</a>
                          </span>
                        </span>
                      </span>
                    </span>
                  </span>
                  <a class="card__name" href="#">Валерия Валериевна</a>
                </div>
                <div class="card__list-item">
                  <div class="card__icon-text">
                    <svg class="svg-icon">
                      <use xlink:href="img/svgSprite.svg#icon-loc"></use>
                    </svg>
                    <span>Ташкент</span>
                  </div>
                </div>
                <div class="card__list-item">32 года</div>
                <div class="card__list-item">Высшее образование</div>
                <div class="card__list-item">
                  Неполная занятость, удаленная работа
                </div>
              </div>
            </div>
            <div class="card__head-aside">
              <div class="card__head-content-position">
                <a class="button button--bookmark active" href="#">
                  <div class="button__icon-wrap">
                    <img class="button__icon--disabled" src="img/icon-bookmark-0.svg" alt="">
                    <img class="button__icon--enabled" src="img/icon-bookmark-1.svg" alt="">
                  </div>
                  <div class="button__label">Сохранить резюме</div>
                </a>
              </div>
            </div>
          </div>
          <div class="card__body">
            <div class="card__list-secondary">
              <div class="card__list-secondary-item">
                <div class="card__list">
                  <div class="card__list-item">
                    SMM специалист в Dental Center, Одесса
                  </div>
                  <div class="card__list-item">2 года 2 месяца</div>
                </div>
              </div>
              <div class="card__list-secondary-item">
                <div class="card__list">
                  <div class="card__list-item">
                    SMM специалист в Dental Center, Одесса
                  </div>
                  <div class="card__list-item">2 года 2 месяца</div>
                </div>
              </div>
            </div>
          </div>
          <div class="card__foot">
            <div class="card__date">Сегодня</div>
            <a class="card__link card__link--base" href="#">Откликнуться »</a>
          </div>
        </div>
      </div>
    </div>
    <div class="card card--base">
      <div class="card__in">
        <div class="card__aside">
          <div class="card__img card__img--avatar">
            <img src="img/img-card-1.png" alt="">
          </div>
        </div>
        <div class="card__main">
          <div class="card__head">
            <div class="card__head-main">
              <h3 class="card__title">
                Middle Full Stack Web Developer
                
              </h3>
              <div class="card__list">
                <div class="card__list-item">
                  <a class="card__name" href="#">Валерия Валериевна</a>
                </div>
                <div class="card__list-item">
                  <div class="card__icon-text">
                    <svg class="svg-icon">
                      <use xlink:href="img/svgSprite.svg#icon-loc"></use>
                    </svg>
                    <span>Ташкент</span>
                  </div>
                </div>
                <div class="card__list-item">32 года</div>
                <div class="card__list-item">Высшее образование</div>
                <div class="card__list-item">
                  Неполная занятость, удаленная работа
                </div>
              </div>
            </div>
            <div class="card__head-aside">
              <div class="card__head-content-position">
                <a class="button button--bookmark active" href="#">
                  <div class="button__icon-wrap">
                    <img class="button__icon--disabled" src="img/icon-bookmark-0.svg" alt="">
                    <img class="button__icon--enabled" src="img/icon-bookmark-1.svg" alt="">
                  </div>
                  <div class="button__label">Сохранить резюме</div>
                </a>
              </div>
            </div>
          </div>
          <div class="card__body">
            <div class="card__list-secondary">
              <div class="card__list-secondary-item">
                <div class="card__list">
                  <div class="card__list-item">
                    SMM специалист в Dental Center, Одесса
                  </div>
                  <div class="card__list-item">2 года 2 месяца</div>
                </div>
              </div>
              <div class="card__list-secondary-item">
                <div class="card__list">
                  <div class="card__list-item">
                    SMM специалист в Dental Center, Одесса
                  </div>
                  <div class="card__list-item">2 года 2 месяца</div>
                </div>
              </div>
            </div>
          </div>
          <div class="card__foot">
            <div class="card__date">Сегодня</div>
            <a class="card__link card__link--base" href="#">Откликнуться »</a>
          </div>
        </div>
      </div>
    </div>
    <div class="card card--base">
      <div class="card__in">
        <div class="card__aside">
          <div class="card__img card__img--avatar">
            <img src="img/img-card-1.png" alt="">
          </div>
        </div>
        <div class="card__main">
          <div class="card__head">
            <div class="card__head-main">
              <h3 class="card__title">
                Middle Full Stack Web Developer
                
              </h3>
              <div class="card__list">
                <div class="card__list-item">
                  <span class="card__badge card__badge--secondary">
                    <span class="badge badge--base-third">
                      <span class="badge__label">PRO</span>
                      <span class="badge__popup">
                        <span class="badge__popup-in">
                          <span class="badge__popup-content">
                            Профессиональное резюме — это резюме, в котором
                            соискатель указал опыт работы, образование и
                            подтвердил свою эл. почту.
                          </span>
                          <span class="badge__popup-foot">
                            <a href="#">Подробнее »</a>
                          </span>
                        </span>
                      </span>
                    </span>
                  </span>
                  <a class="card__name" href="#">Валерия Валериевна</a>
                </div>
                <div class="card__list-item">
                  <div class="card__icon-text">
                    <svg class="svg-icon">
                      <use xlink:href="img/svgSprite.svg#icon-loc"></use>
                    </svg>
                    <span>Ташкент</span>
                  </div>
                </div>
                <div class="card__list-item">32 года</div>
                <div class="card__list-item">Высшее образование</div>
                <div class="card__list-item">
                  Неполная занятость, удаленная работа
                </div>
              </div>
            </div>
            <div class="card__head-aside">
              <div class="card__head-content-position">
                <a class="button button--bookmark active" href="#">
                  <div class="button__icon-wrap">
                    <img class="button__icon--disabled" src="img/icon-bookmark-0.svg" alt="">
                    <img class="button__icon--enabled" src="img/icon-bookmark-1.svg" alt="">
                  </div>
                  <div class="button__label">Сохранить резюме</div>
                </a>
              </div>
            </div>
          </div>
          <div class="card__body">
            <div class="card__list-secondary">
              <div class="card__list-secondary-item">
                <div class="card__list">
                  <div class="card__list-item">
                    SMM специалист в Dental Center, Одесса
                  </div>
                  <div class="card__list-item">2 года 2 месяца</div>
                </div>
              </div>
              <div class="card__list-secondary-item">
                <div class="card__list">
                  <div class="card__list-item">
                    SMM специалист в Dental Center, Одесса
                  </div>
                  <div class="card__list-item">2 года 2 месяца</div>
                </div>
              </div>
            </div>
          </div>
          <div class="card__foot">
            <div class="card__date">Сегодня</div>
            <a class="card__link card__link--base" href="#">Откликнуться »</a>
          </div>
        </div>
      </div>
    </div>
    <div class="card card--base">
      <div class="card__in">
        <div class="card__aside">
          <div class="card__img card__img--avatar">
            <img src="img/img-card-1.png" alt="">
          </div>
        </div>
        <div class="card__main">
          <div class="card__head">
            <div class="card__head-main">
              <h3 class="card__title">
                Middle Full Stack Web Developer
                
              </h3>
              <div class="card__list">
                <div class="card__list-item">
                  <a class="card__name" href="#">Валерия Валериевна</a>
                </div>
                <div class="card__list-item">
                  <div class="card__icon-text">
                    <svg class="svg-icon">
                      <use xlink:href="img/svgSprite.svg#icon-loc"></use>
                    </svg>
                    <span>Ташкент</span>
                  </div>
                </div>
                <div class="card__list-item">32 года</div>
                <div class="card__list-item">Высшее образование</div>
                <div class="card__list-item">
                  Неполная занятость, удаленная работа
                </div>
              </div>
            </div>
            <div class="card__head-aside">
              <div class="card__head-content-position">
                <a class="button button--bookmark active" href="#">
                  <div class="button__icon-wrap">
                    <img class="button__icon--disabled" src="img/icon-bookmark-0.svg" alt="">
                    <img class="button__icon--enabled" src="img/icon-bookmark-1.svg" alt="">
                  </div>
                  <div class="button__label">Сохранить резюме</div>
                </a>
              </div>
            </div>
          </div>
          <div class="card__body">
            <div class="card__list-secondary">
              <div class="card__list-secondary-item">
                <div class="card__list">
                  <div class="card__list-item">
                    SMM специалист в Dental Center, Одесса
                  </div>
                  <div class="card__list-item">2 года 2 месяца</div>
                </div>
              </div>
              <div class="card__list-secondary-item">
                <div class="card__list">
                  <div class="card__list-item">
                    SMM специалист в Dental Center, Одесса
                  </div>
                  <div class="card__list-item">2 года 2 месяца</div>
                </div>
              </div>
            </div>
          </div>
          <div class="card__foot">
            <div class="card__date">Сегодня</div>
            <a class="card__link card__link--base" href="#">Откликнуться »</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>