<div class="section section--post-vacancy">
  <div class="container-fluid">
    <div class="wrap wrap--secondary">
      <div
        class="wrap__background"
        style="background-image: url(img/background-section-post-vacancy.png)"
      >
        &nbsp;
      </div>
      <h2>Разместить вакансию</h2>
      <p>
        Разместите вакансию, чтобы Вас смогли найти соискатели. Наши шаблоны
        поэтапно проведут Вас по вопросам, которые интересны соискателю и
        привлекут его внимание. Вы сможете разместить получившуюся вакансию.
      </p>
      <a class="button button--base" href="#">Создать вакансию</a>
    </div>
  </div>
</div>
