<div class="section section--brands-list">
  <div class="container-fluid">
    <div class="wrap wrap--base">
      <div class="wrap__in-secondary">
        <h3>Популярные компании среди соискателей</h3>
        <hr class="mt-0 mb-4">
        <div class="row row-cols-auto gy-3 gx-4 mb-4 pb-3">
          <div class="col">
            <a class="card card--third" href="#">
              <div class="card__img-wrap">
                <img src="img/img-card-brands-0.png" alt="">
              </div>
              <div class="card__label">Яндекс</div>
            </a>
          </div>
          <div class="col">
            <a class="card card--third" href="#">
              <div class="card__img-wrap">
                <img src="img/img-card-brands-1.png" alt="">
              </div>
              <div class="card__label">Яндекс</div>
            </a>
          </div>
          <div class="col">
            <a class="card card--third" href="#">
              <div class="card__img-wrap">
                <img src="img/img-card-brands-2.png" alt="">
              </div>
              <div class="card__label">Яндекс</div>
            </a>
          </div>
          <div class="col">
            <a class="card card--third" href="#">
              <div class="card__img-wrap">
                <img src="img/img-card-brands-3.png" alt="">
              </div>
              <div class="card__label">Яндекс</div>
            </a>
          </div>
          <div class="col">
            <a class="card card--third" href="#">
              <div class="card__img-wrap">
                <img src="img/img-card-brands-4.png" alt="">
              </div>
              <div class="card__label">Яндекс</div>
            </a>
          </div>
          <div class="col">
            <a class="card card--third" href="#">
              <div class="card__img-wrap">
                <img src="img/img-card-brands-5.png" alt="">
              </div>
              <div class="card__label">Яндекс</div>
            </a>
          </div>
          <div class="col">
            <a class="card card--third" href="#">
              <div class="card__img-wrap">
                <img src="img/img-card-brands-6.png" alt="">
              </div>
              <div class="card__label">Яндекс</div>
            </a>
          </div>
          <div class="col">
            <a class="card card--third" href="#">
              <div class="card__img-wrap">
                <img src="img/img-card-brands-7.png" alt="">
              </div>
              <div class="card__label">Яндекс</div>
            </a>
          </div>
          <div class="col">
            <a class="card card--third" href="#">
              <div class="card__img-wrap">
                <img src="img/img-card-brands-8.png" alt="">
              </div>
              <div class="card__label">Яндекс</div>
            </a>
          </div>
          <div class="col">
            <a class="card card--third" href="#">
              <div class="card__img-wrap">
                <img src="img/img-card-brands-9.png" alt="">
              </div>
              <div class="card__label">Яндекс</div>
            </a>
          </div>
          <div class="col">
            <a class="card card--third" href="#">
              <div class="card__img-wrap">
                <img src="img/img-card-brands-10.png" alt="">
              </div>
              <div class="card__label">Яндекс</div>
            </a>
          </div>
          <div class="col">
            <a class="card card--third" href="#">
              <div class="card__img-wrap">
                <img src="img/img-card-brands-0.png" alt="">
              </div>
              <div class="card__label">Яндекс</div>
            </a>
          </div>
          <div class="col">
            <a class="card card--third" href="#">
              <div class="card__img-wrap">
                <img src="img/img-card-brands-1.png" alt="">
              </div>
              <div class="card__label">Яндекс</div>
            </a>
          </div>
          <div class="col">
            <a class="card card--third" href="#">
              <div class="card__img-wrap">
                <img src="img/img-card-brands-2.png" alt="">
              </div>
              <div class="card__label">Яндекс</div>
            </a>
          </div>
          <div class="col">
            <a class="card card--third" href="#">
              <div class="card__img-wrap">
                <img src="img/img-card-brands-3.png" alt="">
              </div>
              <div class="card__label">Яндекс</div>
            </a>
          </div>
          <div class="col">
            <a class="card card--third" href="#">
              <div class="card__img-wrap">
                <img src="img/img-card-brands-4.png" alt="">
              </div>
              <div class="card__label">Яндекс</div>
            </a>
          </div>
          <div class="col">
            <a class="card card--third" href="#">
              <div class="card__img-wrap">
                <img src="img/img-card-brands-5.png" alt="">
              </div>
              <div class="card__label">Яндекс</div>
            </a>
          </div>
          <div class="col">
            <a class="card card--third" href="#">
              <div class="card__img-wrap">
                <img src="img/img-card-brands-6.png" alt="">
              </div>
              <div class="card__label">Яндекс</div>
            </a>
          </div>
          <div class="col">
            <a class="card card--third" href="#">
              <div class="card__img-wrap">
                <img src="img/img-card-brands-7.png" alt="">
              </div>
              <div class="card__label">Яндекс</div>
            </a>
          </div>
          <div class="col">
            <a class="card card--third" href="#">
              <div class="card__img-wrap">
                <img src="img/img-card-brands-8.png" alt="">
              </div>
              <div class="card__label">Яндекс</div>
            </a>
          </div>
          <div class="col">
            <a class="card card--third" href="#">
              <div class="card__img-wrap">
                <img src="img/img-card-brands-9.png" alt="">
              </div>
              <div class="card__label">Яндекс</div>
            </a>
          </div>
          <div class="col">
            <a class="card card--third" href="#">
              <div class="card__img-wrap">
                <img src="img/img-card-brands-10.png" alt="">
              </div>
              <div class="card__label">Яндекс</div>
            </a>
          </div>
        </div>
        <div class="text-center">
          <a class="button button--secondary-fourth" href="#">Смотреть все компании</a>
        </div>
      </div>
    </div>
  </div>
</div>