<div class="section section--categoies-list">
  <div class="container-fluid">
    <div class="wrap wrap--base">
      <div class="wrap__in-secondary">
        <form class="form form--fifth">
          <div class="row row-cols-auto align-items-center gy-3 gx-5">
            <div class="col">Фильтр по городу</div>
            <div class="col">
              <div class="select select--base-secondary" id="select-1">
                <select
                  name="state"
                  data-element="select"
                  data-placeholder="Все города"
                  data-dropdown-parent="#select-1"
                  data-dropdown-css-class="select__dropdown"
                >
                  <option value=""></option>
                  <option value="1">Ташкент</option>
                  <option value="2">Бухара</option>
                  <option value="3">Самара</option>
                </select>
              </div>
            </div>
            <div class="col">
              <div class="form-check form-check--checkbox">
                <input class="form-check-input" type="checkbox" value="" id="check-0-0">
                <label class="form-check-label" for="check-0-0">Возможна удаленная работа</label>
              </div>
            </div>
          </div>
          <hr>
          <div class="pt-3">
            <div class="row row-cols-1 row-cols-lg-2 gy-1 mb-3">
              <div class="col">
                <a class="link link--base-second" href="#">
                  <span class="link__label">
                    IT, компьютеры, интернет
                    <div class="badge badge--base">
                      <div class="badge__label">123</div>
                    </div>
                  </span>
                </a>
              </div>
              <div class="col">
                <a class="link link--base-second" href="#">
                  <span class="link__label">
                    Сельское хозяйство, агробизнес
                    <div class="badge badge--base">
                      <div class="badge__label">53</div>
                    </div>
                  </span>
                </a>
              </div>
              <div class="col">
                <a class="link link--base-second" href="#">
                  <span class="link__label">
                    Администрация, руководство среднего звена
                    <div class="badge badge--base">
                      <div class="badge__label">23</div>
                    </div>
                  </span>
                </a>
              </div>
              <div class="col">
                <a class="link link--base-second" href="#">
                  <span class="link__label">
                    СМИ, издательство, полиграфия
                    <div class="badge badge--base">
                      <div class="badge__label">23</div>
                    </div>
                  </span>
                </a>
              </div>
              <div class="col">
                <a class="link link--base-second" href="#">
                  <span class="link__label">
                    Бухгалтерия, аудит
                    <div class="badge badge--base">
                      <div class="badge__label">23</div>
                    </div>
                  </span>
                </a>
              </div>
              <div class="col">
                <a class="link link--base-second" href="#">
                  <span class="link__label">
                    Страхование
                    <div class="badge badge--base">
                      <div class="badge__label">23</div>
                    </div>
                  </span>
                </a>
              </div>
              <div class="col">
                <a class="link link--base-second" href="#">
                  <span class="link__label">
                    IT, компьютеры, интернет
                    <div class="badge badge--base">
                      <div class="badge__label">123</div>
                    </div>
                  </span>
                </a>
              </div>
              <div class="col">
                <a class="link link--base-second" href="#">
                  <span class="link__label">
                    Сельское хозяйство, агробизнес
                    <div class="badge badge--base">
                      <div class="badge__label">53</div>
                    </div>
                  </span>
                </a>
              </div>
              <div class="col">
                <a class="link link--base-second" href="#">
                  <span class="link__label">
                    Администрация, руководство среднего звена
                    <div class="badge badge--base">
                      <div class="badge__label">23</div>
                    </div>
                  </span>
                </a>
              </div>
              <div class="col">
                <a class="link link--base-second" href="#">
                  <span class="link__label">
                    СМИ, издательство, полиграфия
                    <div class="badge badge--base">
                      <div class="badge__label">23</div>
                    </div>
                  </span>
                </a>
              </div>
              <div class="col">
                <a class="link link--base-second" href="#">
                  <span class="link__label">
                    Бухгалтерия, аудит
                    <div class="badge badge--base">
                      <div class="badge__label">23</div>
                    </div>
                  </span>
                </a>
              </div>
              <div class="col">
                <a class="link link--base-second" href="#">
                  <span class="link__label">
                    Страхование
                    <div class="badge badge--base">
                      <div class="badge__label">23</div>
                    </div>
                  </span>
                </a>
              </div>
            </div>
          </div>
          <div class="pt-3">
            <div class="cf-2-1 mb-2">Категории по условиям трудоустройства</div>
            <div class="mb-1">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Работа для студентов
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="mb-1">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Работа на дому
                  <div class="badge badge--base">
                    <div class="badge__label">53</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="mb-1">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Работа без резюме
                  <div class="badge badge--base">
                    <div class="badge__label">23</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="mb-1">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Работа для людей с инвалидностью
                  <div class="badge badge--base">
                    <div class="badge__label">23</div>
                  </div>
                </span>
              </a>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 gy-3">
      <div class="col">
        <a class="card card--secondary d-flex" href="#">
          <div class="card__aside">
            <div class="card__img-wrap">
              <img src="img/img-card-category-1.svg" alt="">
            </div>
          </div>
          <div class="card__main">Вакансии по городам</div>
        </a>
      </div>
      <div class="col">
        <a class="card card--secondary d-flex" href="#">
          <div class="card__aside">
            <div class="card__img-wrap">
              <img src="img/img-card-category-4.svg" alt="">
            </div>
          </div>
          <div class="card__main">Вакансии по компания</div>
        </a>
      </div>
      <div class="col">
        <a class="card card--secondary d-flex" href="#">
          <div class="card__aside">
            <div class="card__img-wrap">
              <img src="img/img-card-category-5.svg" alt="">
            </div>
          </div>
          <div class="card__main">Вакансии по должностям</div>
        </a>
      </div>
    </div>
  </div>
</div>
