<div class="section section--day-vacancys">
  <div class="container-fluid">
    <h3>Вакансия дня</h3>
    <hr class="mt-0 mb-4">
    <div class="row row-cols-1 row-cols-lg-2 gy-2">
      <div class="col">
        <div class="card card--base">
          <div class="card__in">
            <div class="card__main">
              <div class="card__head">
                <div class="card__head-main">
                  <h3 class="card__title">
                    Middle Full Stack Web Developer
                    <span class="card__badge">
                      <span class="badge badge--base-third">
                        <span class="badge__label">PRO</span>
                        <span class="badge__popup">
                          <span class="badge__popup-in">
                            <span class="badge__popup-content">
                              Профессиональное резюме — это резюме, в котором
                              соискатель указал опыт работы, образование и подтвердил
                              свою эл. почту.
                            </span>
                            <span class="badge__popup-foot">
                              <a href="#">Подробнее »</a>
                            </span>
                          </span>
                        </span>
                      </span>
                    </span>
                  </h3>
                  <div class="card__list">
                    <div class="card__list-item">
                      <a class="card__company-link" href="#">Sarkor telecom </a>
                    </div>
                    <div class="card__list-item">
                      <div class="card__icon-text">
                        <svg class="svg-icon">
                          <use xlink:href="img/svgSprite.svg#icon-loc"></use>
                        </svg>
                        <span>Ташкент</span>
                      </div>
                    </div>
                  </div>
                  <div class="card__price">от 2 500 000 сум/мес.</div>
                </div>
                <div class="card__head-aside">
                  <div class="card__img card__img--company">
                    <img src="img/img-card-0.png" alt="">
                  </div>
                </div>
              </div>
              <div class="card__body">
                <div class="card__content card__content--secondary">
                  Полная занятость, удаленная работа. Опыт работы от 2 лет. Высшее
                  образование. AutoBidMaster is a dynamically growing US-based company
                  with global ambitions...
                </div>
              </div>
              <div class="card__foot">
                <div class="card__date">Сегодня</div>
                <a class="card__link" href="#">Откликнуться »</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card--base">
          <div class="card__in">
            <div class="card__main">
              <div class="card__head">
                <div class="card__head-main">
                  <h3 class="card__title">
                    Middle Full Stack Web Developer
                    <span class="card__badge">
                      <span class="badge badge--base-third">
                        <span class="badge__label">PRO</span>
                        <span class="badge__popup">
                          <span class="badge__popup-in">
                            <span class="badge__popup-content">
                              Профессиональное резюме — это резюме, в котором
                              соискатель указал опыт работы, образование и подтвердил
                              свою эл. почту.
                            </span>
                            <span class="badge__popup-foot">
                              <a href="#">Подробнее »</a>
                            </span>
                          </span>
                        </span>
                      </span>
                    </span>
                  </h3>
                  <div class="card__list">
                    <div class="card__list-item">
                      <a class="card__company-link" href="#">Sarkor telecom </a>
                    </div>
                    <div class="card__list-item">
                      <div class="card__icon-text">
                        <svg class="svg-icon">
                          <use xlink:href="img/svgSprite.svg#icon-loc"></use>
                        </svg>
                        <span>Ташкент</span>
                      </div>
                    </div>
                  </div>
                  <div class="card__price">от 2 500 000 сум/мес.</div>
                </div>
                <div class="card__head-aside">
                  <div class="card__img card__img--company">
                    <img src="img/img-card-0.png" alt="">
                  </div>
                </div>
              </div>
              <div class="card__body">
                <div class="card__content card__content--secondary">
                  Полная занятость, удаленная работа. Опыт работы от 2 лет. Высшее
                  образование. AutoBidMaster is a dynamically growing US-based company
                  with global ambitions...
                </div>
              </div>
              <div class="card__foot">
                <div class="card__date">Сегодня</div>
                <a class="card__link" href="#">Откликнуться »</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card--base">
          <div class="card__in">
            <div class="card__main">
              <div class="card__head">
                <div class="card__head-main">
                  <h3 class="card__title">
                    Middle Full Stack Web Developer
                    <span class="card__badge">
                      <span class="badge badge--base-third">
                        <span class="badge__label">PRO</span>
                        <span class="badge__popup">
                          <span class="badge__popup-in">
                            <span class="badge__popup-content">
                              Профессиональное резюме — это резюме, в котором
                              соискатель указал опыт работы, образование и подтвердил
                              свою эл. почту.
                            </span>
                            <span class="badge__popup-foot">
                              <a href="#">Подробнее »</a>
                            </span>
                          </span>
                        </span>
                      </span>
                    </span>
                  </h3>
                  <div class="card__list">
                    <div class="card__list-item">
                      <a class="card__company-link" href="#">Sarkor telecom </a>
                    </div>
                    <div class="card__list-item">
                      <div class="card__icon-text">
                        <svg class="svg-icon">
                          <use xlink:href="img/svgSprite.svg#icon-loc"></use>
                        </svg>
                        <span>Ташкент</span>
                      </div>
                    </div>
                  </div>
                  <div class="card__price">от 2 500 000 сум/мес.</div>
                </div>
                <div class="card__head-aside">
                  <div class="card__img card__img--company">
                    <img src="img/img-card-0.png" alt="">
                  </div>
                </div>
              </div>
              <div class="card__body">
                <div class="card__content card__content--secondary">
                  Полная занятость, удаленная работа. Опыт работы от 2 лет. Высшее
                  образование. AutoBidMaster is a dynamically growing US-based company
                  with global ambitions...
                </div>
              </div>
              <div class="card__foot">
                <div class="card__date">Сегодня</div>
                <a class="card__link" href="#">Откликнуться »</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card--base">
          <div class="card__in">
            <div class="card__main">
              <div class="card__head">
                <div class="card__head-main">
                  <h3 class="card__title">
                    Middle Full Stack Web Developer
                    <span class="card__badge">
                      <span class="badge badge--base-third">
                        <span class="badge__label">PRO</span>
                        <span class="badge__popup">
                          <span class="badge__popup-in">
                            <span class="badge__popup-content">
                              Профессиональное резюме — это резюме, в котором
                              соискатель указал опыт работы, образование и подтвердил
                              свою эл. почту.
                            </span>
                            <span class="badge__popup-foot">
                              <a href="#">Подробнее »</a>
                            </span>
                          </span>
                        </span>
                      </span>
                    </span>
                  </h3>
                  <div class="card__list">
                    <div class="card__list-item">
                      <a class="card__company-link" href="#">Sarkor telecom </a>
                    </div>
                    <div class="card__list-item">
                      <div class="card__icon-text">
                        <svg class="svg-icon">
                          <use xlink:href="img/svgSprite.svg#icon-loc"></use>
                        </svg>
                        <span>Ташкент</span>
                      </div>
                    </div>
                  </div>
                  <div class="card__price">от 2 500 000 сум/мес.</div>
                </div>
                <div class="card__head-aside">
                  <div class="card__img card__img--company">
                    <img src="img/img-card-0.png" alt="">
                  </div>
                </div>
              </div>
              <div class="card__body">
                <div class="card__content card__content--secondary">
                  Полная занятость, удаленная работа. Опыт работы от 2 лет. Высшее
                  образование. AutoBidMaster is a dynamically growing US-based company
                  with global ambitions...
                </div>
              </div>
              <div class="card__foot">
                <div class="card__date">Сегодня</div>
                <a class="card__link" href="#">Откликнуться »</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>