<div class="section section--cities">
  <div class="container-fluid">
    <div class="wrap wrap--base">
      <div class="wrap__in-secondary">
        <div class="wrap__item">
          <h2>Республика Каракалпакстан</h2>
          <hr class="mt-0 mb-3">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 gy-1">
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Бируний
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Мангит
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Тахиаташ
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Ходжейли
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Бируний
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Мангит
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Тахиаташ
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Ходжейли
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Бируний
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Мангит
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Тахиаташ
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Ходжейли
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="wrap__item">
          <h2>Андижанская область</h2>
          <hr class="mt-0 mb-3">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 gy-1">
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Бируний
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Мангит
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Тахиаташ
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Ходжейли
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Бируний
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Мангит
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Тахиаташ
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Ходжейли
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Бируний
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Мангит
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Тахиаташ
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Ходжейли
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="wrap__item">
          <h2>Бухарская область</h2>
          <hr class="mt-0 mb-3">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 gy-1">
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Бируний
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Мангит
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Тахиаташ
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Ходжейли
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Бируний
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Мангит
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Тахиаташ
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Ходжейли
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Бируний
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Мангит
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Тахиаташ
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Ходжейли
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="wrap__item">
          <h2>Джизакская область</h2>
          <hr class="mt-0 mb-3">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 gy-1">
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Бируний
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Мангит
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Тахиаташ
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Ходжейли
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Бируний
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Мангит
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Тахиаташ
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Ходжейли
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Бируний
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Мангит
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Тахиаташ
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Ходжейли
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="wrap__item">
          <h2>Кашкадарьинская область</h2>
          <hr class="mt-0 mb-3">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 gy-1">
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Бируний
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Мангит
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Тахиаташ
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Ходжейли
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Бируний
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Мангит
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Тахиаташ
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Ходжейли
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Бируний
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Мангит
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Тахиаташ
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Ходжейли
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="wrap__item">
          <h2>Навоийская область</h2>
          <hr class="mt-0 mb-3">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 gy-1">
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Бируний
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Мангит
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Тахиаташ
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Ходжейли
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Бируний
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Мангит
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Тахиаташ
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Ходжейли
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Бируний
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Мангит
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Тахиаташ
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Ходжейли
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="wrap__item">
          <h2>Наманганская область</h2>
          <hr class="mt-0 mb-3">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 gy-1">
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Бируний
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Мангит
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Тахиаташ
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Ходжейли
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Бируний
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Мангит
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Тахиаташ
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Ходжейли
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Бируний
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Мангит
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Тахиаташ
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Ходжейли
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="wrap__item">
          <h2>Самаркандская область</h2>
          <hr class="mt-0 mb-3">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 gy-1">
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Бируний
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Мангит
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Тахиаташ
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Ходжейли
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Бируний
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Мангит
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Тахиаташ
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Ходжейли
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Бируний
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Мангит
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Тахиаташ
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Ходжейли
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="wrap__item">
          <h2>Сурхандарьинская область</h2>
          <hr class="mt-0 mb-3">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 gy-1">
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Бируний
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Мангит
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Тахиаташ
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Ходжейли
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Бируний
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Мангит
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Тахиаташ
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Ходжейли
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Бируний
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Мангит
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Тахиаташ
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Ходжейли
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="wrap__item">
          <h2>Сырдарьинская область</h2>
          <hr class="mt-0 mb-3">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 gy-1">
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Бируний
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Мангит
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Тахиаташ
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Ходжейли
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Бируний
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Мангит
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Тахиаташ
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Ходжейли
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Бируний
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Мангит
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Тахиаташ
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Ходжейли
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="wrap__item">
          <h2>Ташкентская область</h2>
          <hr class="mt-0 mb-3">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 gy-1">
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Бируний
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Мангит
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Тахиаташ
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Ходжейли
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Бируний
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Мангит
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Тахиаташ
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Ходжейли
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Бируний
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Мангит
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Тахиаташ
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Ходжейли
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="wrap__item">
          <h2>Ферганская область</h2>
          <hr class="mt-0 mb-3">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 gy-1">
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Бируний
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Мангит
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Тахиаташ
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Ходжейли
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Бируний
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Мангит
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Тахиаташ
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Ходжейли
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Бируний
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Мангит
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Тахиаташ
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Ходжейли
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="wrap__item">
          <h2>Хорезмская область</h2>
          <hr class="mt-0 mb-3">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 gy-1">
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Бируний
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Мангит
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Тахиаташ
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Ходжейли
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Бируний
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Мангит
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Тахиаташ
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Ходжейли
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Бируний
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Мангит
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Тахиаташ
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
            <div class="col">
              <a class="link link--base-second" href="#">
                <span class="link__label">
                  Ходжейли
                  <div class="badge badge--base">
                    <div class="badge__label">123</div>
                  </div>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 gy-3">
      <div class="col">
        <a class="card card--secondary d-flex" href="#">
          <div class="card__aside">
            <div class="card__img-wrap">
              <img src="img/img-card-category-1.svg" alt="">
            </div>
          </div>
          <div class="card__main">Вакансии по городам</div>
        </a>
      </div>
      <div class="col">
        <a class="card card--secondary d-flex" href="#">
          <div class="card__aside">
            <div class="card__img-wrap">
              <img src="img/img-card-category-4.svg" alt="">
            </div>
          </div>
          <div class="card__main">Вакансии по компания</div>
        </a>
      </div>
      <div class="col">
        <a class="card card--secondary d-flex" href="#">
          <div class="card__aside">
            <div class="card__img-wrap">
              <img src="img/img-card-category-5.svg" alt="">
            </div>
          </div>
          <div class="card__main">Вакансии по должностям</div>
        </a>
      </div>
    </div>
  </div>
</div>