<h2>Общая информация</h2>
<div class="mb-4">
  <label class="form-label form-label--third" for="position">Желаемая должность</label>
  <input class="form-control form-control--secondary" type="text">
</div>
<div class="mb-4">
  <label class="form-label form-label--third" for="position">Желаемая должность</label>
  <hr class="mt-2 mb-4">
  <div class="row row-cols-1 row-cols-sm-2 gy-1">
    <div class="col">
      <div class="form-check form-check--checkbox">
        <input class="form-check-input" type="checkbox" value="" id="check-0-0">
        <label class="form-check-label" for="check-0-0">
          <span class="cf-3-0">IT, компьютеры, интернет</span>
        </label>
      </div>
    </div>
    <div class="col">
      <div class="form-check form-check--checkbox">
        <input class="form-check-input" type="checkbox" value="" id="check-0-1">
        <label class="form-check-label" for="check-0-1">
          <span class="cf-3-0">Рабочие специальности, производство</span>
        </label>
      </div>
    </div>
    <div class="col">
      <div class="form-check form-check--checkbox">
        <input class="form-check-input" type="checkbox" value="" id="check-0-2">
        <label class="form-check-label" for="check-0-2">
          <span class="cf-3-0">Администрация, руководство среднего звена</span>
        </label>
      </div>
    </div>
    <div class="col">
      <div class="form-check form-check--checkbox">
        <input class="form-check-input" type="checkbox" value="" id="check-0-3">
        <label class="form-check-label" for="check-0-3">
          <span class="cf-3-0">Розничная торговля</span>
        </label>
      </div>
    </div>
    <div class="col">
      <div class="form-check form-check--checkbox">
        <input class="form-check-input" type="checkbox" value="" id="check-0-4">
        <label class="form-check-label" for="check-0-4">
          <span class="cf-3-0">Бухгалтерия, аудит</span>
        </label>
      </div>
    </div>
    <div class="col">
      <div class="form-check form-check--checkbox">
        <input class="form-check-input" type="checkbox" value="" id="check-0-5">
        <label class="form-check-label" for="check-0-5">
          <span class="cf-3-0">Секретариат, делопроизводство, АХО</span>
        </label>
      </div>
    </div>
  </div>
</div>
<div class="mb-4">
  <label class="form-label form-label--third" for="select-city-0-0">Город работы</label>
  <div class="row row-cols-auto gy-2">
    <div class="col flex-grow-1">
      <div class="row row-cols-1 gy-2">
        <div class="col">
          <div class="select select--base-secondary" id="select-city-0-0">
            <select
            name="state"
            data-element="select"
              data-placeholder="Выберите категорию"
              data-dropdown-parent="#select-city-0-0"
              data-dropdown-css-class="select__dropdown"
              >
              <option value=""></option>
              <option value="1">IT, компьютеры, интернет </option>
              <option value="2">IT, компьютеры, интернет </option>
            </select>
          </div>
        </div>
        <div class="col">
          <a class="d-block text-end" href="#" data-element="form-input-add" data-placeholder="Введите город">Добавить город</a>
        </div>
      </div>
    </div>
    <div class="col flex-shrink-0">
      <div class="pt-2">
        <div class="form-check form-check--checkbox">
          <input class="form-check-input" type="checkbox" value="" id="check-1-0">
          <label class="form-check-label" for="check-1-0">Возможны коммандировки</label>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="form__group-third mb-4">
  <label class="form-label form-label--third" for="typeOfEmployement">Вид занятости</label>
  <div class="row row-cols-2 gy-1">
    <div class="col">
      <div class="form-check form-check--checkbox">
        <input class="form-check-input" type="checkbox" value="" id="check-3-0">
        <label class="form-check-label" for="check-3-0">Полная занятость</label>
      </div>
    </div>
    <div class="col">
      <div class="form-check form-check--checkbox">
        <input class="form-check-input" type="checkbox" value="" id="check-3-1">
        <label class="form-check-label" for="check-3-1">Проектная работа</label>
      </div>
    </div>
    <div class="col">
      <div class="form-check form-check--checkbox">
        <input class="form-check-input" type="checkbox" value="" id="check-3-2">
        <label class="form-check-label" for="check-3-2">Неполная занятость</label>
      </div>
    </div>
    <div class="col">
      <div class="form-check form-check--checkbox">
        <input class="form-check-input" type="checkbox" value="" id="check-3-3">
        <label class="form-check-label" for="check-3-3">Удаленная работа</label>
      </div>
    </div>
  </div>
</div>
<div class="form__group-third mb-4">
  <label class="form-label form-label--third" for="pay">Зарплата от</label>
  <div class="row row-cols-1  row-cols-sm-auto align-items-center gy-2">
    <div class="col">
      <input class="form-control form-control--secondary" type="text" placeholder="сумма">
    </div>
    <div class="col">
      <div class="text cf-2-1">сум/месяц</div>
    </div>
  </div>
</div>