<h2>Настройка видимости резюме</h2>
<div class="row row-cols-1 row-cols-md-2 gy-4 gx-5">
  <div class="col">
    <div class="mb-4">
      <div class="form-check form-check--radio">
        <input
          class="form-check-input"
          type="radio"
          value=""
          name="resumeVisibilty"
          id="form-radio-0-0"
        />
        <label class="form-check-label" for="form-radio-0-0">
          <span class="form-check__title">Разместить на сайте</span>
          <div class="form-check__text">
            Будет размещено резюме, заполненное выше. Также вся дополнительная
            информация профиля, включая контактную — телефон, email и социальные
            сети.
          </div>
        </label>
      </div>
    </div>
    <div class="mb-4">
      <div class="form-check form-check--radio">
        <input
          class="form-check-input"
          type="radio"
          value=""
          name="resumeVisibilty"
          id="form-radio-0-1"
        />
        <label class="form-check-label" for="form-radio-0-1">
          <span class="form-check__title">Скрыть резюме</span>
        </label>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="mb-4">
      <label class="form-label form-label--third" for="details-2"
        >Дополнительная информация</label
      >
      <textarea
        class="form-control form-control--secondary"
        type="text"
        placeholder="Вы можете вписать сюда дополнительную информацию, которая была бы интересна работодателю - заслуги, сертификаты, наработанные навыки и т.д."
        id="details-2"
        rows="10"
      ></textarea>
    </div>
  </div>
</div>
