<h2>Опыт работы</h2>
<div class="mb-4">
  <div class="form-check form-check--checkbox">
    <input
      class="form-check-input"
      type="checkbox"
      value=""
      id="check-4-3"
      data-element="form-checkbox-toggle"
      data-target="#place-of-work"
    />
    <label class="form-check-label" for="check-4-3"
      >У меня нет опыта работы</label
    >
  </div>
</div>
<div id="place-of-work">
  <div class="form__resume-exp-list" id="exp-list">
    <div class="form__resume-exp-card" id="item-0">
      <div class="row row-cols-1 row-cols-lg-2 gy-4 gx-5">
        <div class="col">
          <div class="mb-4">
            <label class="form-label form-label--third" for="place-work-0"
              >Название компании</label
            >
            <input
              class="form-control form-control--secondary"
              type="text"
              id="place-work-0"
            />
          </div>
          <div class="mb-4">
            <label class="form-label form-label--third" for="city-work-0"
              >Город работы</label
            >
            <div class="select select--base-secondary" id="city-work-0">
              <select
                name="state"
                data-element="select"
                data-placeholder="Выберите город"
                data-dropdown-parent="#city-work-0"
                data-dropdown-css-class="select__dropdown"
              >
                <option value=""></option>
                <option value="1">Ташкент</option>
                <option value="2">Бухара</option>
              </select>
            </div>
          </div>
          <div class="mb-4">
            <label class="form-label form-label--third" for="position-work-0"
              >Должность</label
            >
            <div class="select select--base-secondary" id="position-work-0">
              <select
                name="state"
                data-element="select"
                data-placeholder="Выберите должность"
                data-dropdown-parent="#position-work-0"
                data-dropdown-css-class="select__dropdown"
              >
                <option value=""></option>
                <option value="1">Бухгалтер</option>
                <option value="2">программист</option>
              </select>
            </div>
          </div>
          <div class="mb-4">
            <label class="form-label form-label--third" for="position-work-0"
              >Сфера деятельности компании</label
            >
            <div class="select select--base-secondary" id="position-work-0">
              <select
                name="state"
                data-element="select"
                data-placeholder="Выберите cферу"
                data-dropdown-parent="#position-work-0"
                data-dropdown-css-class="select__dropdown"
              >
                <option value=""></option>
                <option value="1">Сфера деятельности компании 1</option>
                <option value="2">Сфера деятельности компании 2</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form__group-fourth mb-4">
            <label class="form-label form-label--third">Период работы</label>
            <div
              class="
                row row-cols-auto
                flex-nowrap
                align-items-center
                gy-2
                gx-2
                mb-2
              "
            >
              <div class="col"><div class="cf-2-1">от</div></div>
              <div class="col flex-grow-1">
                <div
                  class="select select--base-secondary"
                  id="period-of-work-0-0"
                >
                  <select
                    name="state"
                    data-element="select"
                    data-placeholder="Месяц"
                    data-dropdown-parent="#period-of-work-0-0"
                    data-dropdown-css-class="select__dropdown"
                  >
                    <option value=""></option>
                    <option value="1">Январь</option>
                    <option value="2">Февраль</option>
                  </select>
                </div>
              </div>
              <div class="col">
                <div class="form__select-wrap">
                  <div
                    class="select select--base-secondary"
                    id="period-of-work-0-1"
                  >
                    <select
                      name="state"
                      data-element="select"
                      data-placeholder="Год"
                      data-dropdown-parent="#period-of-work-0-1"
                      data-dropdown-css-class="select__dropdown"
                    >
                      <option value=""></option>
                      <option value="1">2020</option>
                      <option value="2">2021</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="
                row row-cols-auto
                flex-nowrap
                align-items-center
                gy-2
                gx-2
                mb-2
              "
            >
              <div class="col"><div class="cf-2-1">до</div></div>
              <div class="col flex-grow-1">
                <div
                  class="select select--base-secondary"
                  id="period-of-work-1-0"
                >
                  <select
                    name="state"
                    data-element="select"
                    data-placeholder="Месяц"
                    data-dropdown-parent="#period-of-work-1-0"
                    data-dropdown-css-class="select__dropdown"
                  >
                    <option value=""></option>
                    <option value="1">Январь</option>
                    <option value="2">Февраль</option>
                  </select>
                </div>
              </div>
              <div class="col">
                <div class="form__select-wrap">
                  <div
                    class="select select--base-secondary"
                    id="period-of-work-1-1"
                  >
                    <select
                      name="state"
                      data-element="select"
                      data-placeholder="Год"
                      data-dropdown-parent="#period-of-work-1-1"
                      data-dropdown-css-class="select__dropdown"
                    >
                      <option value=""></option>
                      <option value="1">2020</option>
                      <option value="2">2021</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mb-4">
            <label class="form-label form-label--third" for="details"
              >Дополнительная информация</label
            >
            <textarea
              class="form-control form-control--secondary"
              type="text"
              placeholder="Вы можете вписать сюда дополнительную информацию, которая была бы интересна работодателю - заслуги, сертификаты, наработанные навыки и т.д."
              id="details"
              rows="10"
            ></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-cols-auto align-items-center">
    <div class="col flex-grow-1"><hr /></div>
    <div class="col">
      <button
        class="button button--third-fifth"
        type="button"
        data-element="form-exp-button-add"
        data-src="#item-0"
        data-parent="#exp-list"
      >
        Добавить еще одно место работы
      </button>
    </div>
    <div class="col flex-grow-1"><hr /></div>
  </div>
</div>
