<h2>Опыт работы</h2>
<div class="mb-4">
  <div class="form-check form-check--checkbox">
    <input
      class="form-check-input"
      type="checkbox"
      value=""
      id="check-5-3"
      data-element="form-checkbox-toggle"
      data-target="#edu"
    />
    <label class="form-check-label" for="check-5-3"
      >Отказаться от заполнения образования</label
    >
  </div>
</div>
<div id="edu">
  <div class="form__resume-exp-list" id="edu-list">
    <div class="form__resume-exp-card" id="item-1">
      <div class="row row-cols-1 row-cols-lg-2 gy-4 gx-5">
        <div class="col">
          <div class="mb-4">
            <label class="form-label form-label--third"
              >Город работы</label
            >
            <div class="select select--base-secondary" id="edu-level-0">
              <select
                name="state"
                data-element="select"
                data-placeholder="Выберите уровень образования"
                data-dropdown-parent="#edu-level-0"
                data-dropdown-css-class="select__dropdown"
              >
                <option value=""></option>
                <option value="1">Высшее</option>
                <option value="2">Среднее</option>
              </select>
            </div>
          </div>
          <div class="mb-4">
            <label class="form-label form-label--third">Город</label>
            <div class="select select--base-secondary" id="edu-city-0">
              <select
                name="state"
                data-element="select"
                data-placeholder="Выберите должность"
                data-dropdown-parent="#edu-city-0"
                data-dropdown-css-class="select__dropdown"
              >
                <option value=""></option>
                <option value="1">Ташкент</option>
                <option value="2">Бухара</option>
              </select>
            </div>
          </div>
          <div class="mb-4">
            <label class="form-label form-label--third" for="edu-place-0">Учебное заведение</label>
            <input class="form-control form-control--secondary" type="text" id="edu-place-0">
          </div>
          <div class="mb-4">
            <label class="form-label form-label--third" for="edu-direction-0">Факультет, специальность</label>
            <input class="form-control form-control--secondary" type="text" id="edu-direction-0">
          </div>
        </div>
        <div class="col">
          <div class="form__group-fourth mb-4">
            <label class="form-label form-label--third">Период обучения</label>
            <div
              class="
                row row-cols-auto
                flex-nowrap
                align-items-center
                gy-2
                gx-2
                mb-2
              "
            >
              <div class="col"><div class="cf-2-1">от</div></div>
              <div class="col flex-grow-1">
                <div
                  class="select select--base-secondary"
                  id="period-of-edu-0-0"
                >
                  <select
                    name="state"
                    data-element="select"
                    data-placeholder="Месяц"
                    data-dropdown-parent="#period-of-edu-0-0"
                    data-dropdown-css-class="select__dropdown"
                  >
                    <option value=""></option>
                    <option value="1">Январь</option>
                    <option value="2">Февраль</option>
                  </select>
                </div>
              </div>
              <div class="col">
                <div class="form__select-wrap">
                  <div
                    class="select select--base-secondary"
                    id="period-of-edu-0-1"
                  >
                    <select
                      name="state"
                      data-element="select"
                      data-placeholder="Год"
                      data-dropdown-parent="#period-of-edu-0-1"
                      data-dropdown-css-class="select__dropdown"
                    >
                      <option value=""></option>
                      <option value="1">2020</option>
                      <option value="2">2021</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="
                row row-cols-auto
                flex-nowrap
                align-items-center
                gy-2
                gx-2
                mb-2
              "
            >
              <div class="col"><div class="cf-2-1">до</div></div>
              <div class="col flex-grow-1">
                <div
                  class="select select--base-secondary"
                  id="period-of-work-1-0"
                >
                  <select
                    name="state"
                    data-element="select"
                    data-placeholder="Месяц"
                    data-dropdown-parent="#period-of-work-1-0"
                    data-dropdown-css-class="select__dropdown"
                  >
                    <option value=""></option>
                    <option value="1">Январь</option>
                    <option value="2">Февраль</option>
                  </select>
                </div>
              </div>
              <div class="col">
                <div class="form__select-wrap">
                  <div
                    class="select select--base-secondary"
                    id="period-of-work-1-1"
                  >
                    <select
                      name="state"
                      data-element="select"
                      data-placeholder="Год"
                      data-dropdown-parent="#period-of-work-1-1"
                      data-dropdown-css-class="select__dropdown"
                    >
                      <option value=""></option>
                      <option value="1">2020</option>
                      <option value="2">2021</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mb-4">
            <label class="form-label form-label--third" for="details-1"
              >Дополнительная информация</label
            >
            <textarea
              class="form-control form-control--secondary"
              type="text"
              placeholder="Вы можете вписать сюда дополнительную информацию, которая была бы интересна работодателю - заслуги, сертификаты, наработанные навыки и т.д."
              id="details-1"
              rows="10"
            ></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-cols-auto align-items-center">
    <div class="col flex-grow-1"><hr /></div>
    <div class="col">
      <button
        class="button button--third-fifth"
        type="button"
        data-element="form-exp-button-add"
        data-src="#item-1"
        data-parent="#edu-list"
      >
        Добавить еще одно место работы
      </button>
    </div>
    <div class="col flex-grow-1"><hr /></div>
  </div>
</div>
