// Конфигурационный файл для подключения шрифтов.

// WRITE @FONT-FACE
// =================

@if $config {
  @each $configGroup in $config {
    $name: map-get($configGroup, 'name');
    $selector: map-get($configGroup, 'selector');
    $options: map-get($configGroup, 'options');
    @if $name == 'font-family' {
      @each $option in $options {
        $fontName: map-get($option, 'name');
        $fontSrc: map-get($option, 'src');
        $fontOptions: map-get($option, 'options');

        // @debug $fontOptions;

        @if length($fontOptions) > 0 {
          @each $fontOption in $fontOptions {
						$weight: map-get($fontOption, 'weight');
            $style: map-get($fontOption, 'style');
            $srcStylePart: '';
						
            @if ($style == 'italic') {
							$srcStylePart: 'italic';
            }
						
						@include font-face(
							$fontName,
							'#{$fontSrc}-#{$weight}#{$srcStylePart}',
							$weight,
							$style,
							woff woff2
						);
          }
        }
      }
    }
  }
}

// ========================
// ========================
