
h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

@if $config {
	@each $group in $config {
		$groupName: map-get($group, 'name');
		$selector: map-get($group, 'selector');
		$items: map-get($group, 'options');
		@if $groupName == 'font-size-title' {
			@each $item in $items {
				$key: map-keys($item);
				$value: map-values($item);
				// @include set-typography('.text--#{$name}', $groupName, $name, null, $value);
				#{$selector}#{$key} {
					font-size: var(--#{$selector}-#{$key});
				} 
			}
		}
	};
}

h1 {
  .badge--base-third {
    vertical-align: middle;
  }
}
h2 {
  .badge--base {
    vertical-align: middle;
  }
}

p {

}
b, strong {
  font-weight: 700;
}
em, i {

}

ol {

}
ul {

}
a {
	text-decoration: none;
  color: var(--link-color);
  &:hover {
    color: var(--link-color);
		text-decoration: underline;
  }
}


.devider {
  
}

small, time {
}

img {
  max-width: 100%;
  height: auto;
}

hr {
  background-color: var(--bgc-0-3);
  opacity: 1;
}

.devider {
  border: none;
  border-bottom: 1px solid var(--bdc-0-1);
}


.content {
  &--base {
    font-size: var(--text-3);
    strong {
      font-size: var(--h-3);
    }
    ol {
      list-style: none;
      padding: 0;
      margin: 0;
      counter-reset: list;
      li {
        position: relative;
        &:before {
          counter-increment: list;
          content: counter(list) ')';
          display: inline-block;
          vertical-align: baseline;
          margin-right: 0.3em;
        }
      }
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        &:before {
          content: '•';
          display: inline-block;
          vertical-align: baseline;
          margin-right: 0.3em;
          color: var(--cf-2-1);
        }
      }
    }
  }
  &--secondary {
    @extend .list--third;
    figure {
      text-align: center;
      img {
        margin-bottom: 1em;
      }
    }
    figcaption {
      color: var(--cf-2-1);
      font-size: var(--text-3);
    }
  }
  &--third {
    max-width: 580px;
    margin: 0 auto;
    font-size: var(--text-1);
    color: var(--cf-2-0);
  }
}

blockquote {
  display: block;
  position: relative;
  padding: 2em 4em;
  text-align: center;
  &:before, &:after {
    content: '“';

    position: absolute;
    display: block;
    font-size: 117 / $fontSizeRelative + em;
    height: .5em;
    font-style: italic;
    color: var(--cf-2-2);
  }
  &:before {
    top: -.2em;
    left: 0;
  }
  &:after {
    bottom: .1em;
    right: 0;
  }
}


.text-date {
  &--base {
    font-size: var(--text-3);
    color: var(--cf-2-1);
    padding-bottom: 5 / 15 + em;
    border-bottom: 1px solid var(--bdc-0-6);
  }
}