.header {
  &--base {
    @extend .background-gradient--4;
  }
  &--base-secondary {
    min-height: 23.5em;

    background-image: url('../img/background-header-v2.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &--base-third {
    min-height: 12em;
    @extend .header--base-secondary;
    background-image: url('../img/background-header-v3.png');
  }
  &--base-fourth {
    @extend .header--base-secondary;
    min-height: 22em;
    background-image: url('../img/background-header-v4.png');
    padding-bottom: 8em;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    & + .app__content {
      margin-top: -7em;
    }
  }

  &--secondary {
    @extend .header--base-secondary;
    background-image: url('../img/background-header-v6.jpg');
  }
  &--secondary-second {
    @extend .header--base-third;
    background-image: url('../img/background-header-v7.jpg');
  }
  &--secondary-third {
    @extend .header--base-fourth;
    background-image: url('../img/background-header-v8.jpg');
  }

  &--third {
    @extend .header--base-fourth;
    background-image: url('../img/background-header-v5.jpg');
  }
}
.header__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // padding: 0.5em 0;
  min-height: 3.12em;
  padding-top: 3em;
  border-bottom: 1px solid var(--bdc-1-0);
  @include media(m, $sm) {
    padding: 0;
  }
}

.header__col {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  // @include media(m, $sm) {
  //   flex-direction: row;
  // }
  &--logo {
    margin-right: auto;
    @include media(m, $sm) {
      margin-right: 0;
    }
  }
}

.header__col-third {
  // flex-grow: 1;
  // display: flex;
  // flex-direction: column;
  &--lang {
    @include media(d, $sm) {
      position: absolute;
      top: 1em;
      right: 10em;
    }
  }
  &--link-employer {
    @include media(d, $sm) {
      position: absolute;
      top: 1em;
      right: 0.5em;
    }
  }
}

.header__row-third {
  // flex-grow: 1;
}

.header__sub {
  text-align: center;
  color: var(--cf-4-0);
  padding: 2em 0 0.9em;
  @include media(m, $xl) {
    padding: 3.65em 0 0.9em;
  }
  strong {
    font-size: var(--h-3);
    font-weight: 500;
  }
  & + .header__search {
    padding: 0.9em 0;
  }
}

.header__search {
  padding: 3em 0 2em;
}

.header__sub-secondary {
  color: var(--cf-4-0);
  padding-top: 2em;
  .breadcrumb {
    margin-bottom: 0.5em;
  }
}
